Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

fix: correct plugin manifest author field and marketplace command
  plugins/src/cdk/.claude-plugin/plugin.json
  plugins/src/expo/.claude-plugin/plugin.json
  plugins/src/nestjs/.claude-plugin/plugin.json
  plugins/src/rails/.claude-plugin/plugin.json
  plugins/src/typescript/.claude-plugin/plugin.json
  scripts/install-claude-plugins.sh
Due: prettier --write

chore: minor
  bun.lock
  package.json
Due: prettier --write

fix: sync plugin versions with Lisa package version
  .claude-plugin/marketplace.json
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  scripts/build-plugins.sh
Due: prettier --write

fix: rebuild plugins during release so version is committed to GitHub
  .lisaignore
  .versionrc
Due: none

fix: support legacy plugin keys in install script for transition period
  scripts/install-claude-plugins.sh
Due: none

fix: disable inherited lisa-typescript plugin in child stack settings
  cdk/merge/.claude/settings.json
  expo/merge/.claude/settings.json
  nestjs/merge/.claude/settings.json
Due: prettier --write

fix: strip workspaces field from published npm package
  .gitignore
  package.json
  scripts/strip-workspaces-for-pack.sh
Due: prettier --write

fix: revert workspace stripping and add stale plugin cleanup to update skill
  .claude/skills/lisa-update-projects/SKILL.md
  .gitignore
  package.json
  scripts/strip-workspaces-for-pack.sh
Due: prettier --write

feat: move reduce-complexity skill to Expo plugin
  expo/deletions.json
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-expo/skills/reduce-complexity/SKILL.md
  plugins/lisa-expo/skills/reduce-complexity/references/extraction-strategies.md
  plugins/lisa-expo/skills/reduce-complexity/references/refactoring-patterns.md
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/src/expo/skills/reduce-complexity/SKILL.md
  plugins/src/expo/skills/reduce-complexity/references/extraction-strategies.md
  plugins/src/expo/skills/reduce-complexity/references/refactoring-patterns.md
Due: prettier --write

fix: remove .claude/commands/lisa from keep list in deletions.json
  all/deletions.json
Due: prettier --write

fix: add debug-hook.sh cleanup to update-projects skill
  .claude/skills/lisa-update-projects/SKILL.md
Due: prettier --write

fix: broaden stale hook cleanup to all $CLAUDE_PROJECT_DIR references
  .claude/skills/lisa-update-projects/SKILL.md
Due: prettier --write

fix: move baseUrl and paths from published tsconfigs to copy-overwrite templates
  cdk/copy-overwrite/tsconfig.json
  expo/copy-overwrite/tsconfig.json
  nestjs/copy-overwrite/tsconfig.json
  tsconfig/base.json
  tsconfig/expo.json
  tsconfig/nestjs.json
  typescript/copy-overwrite/tsconfig.json
Due: prettier --write

chore: add CLAUDE.md rule and plan files
  CLAUDE.md
  plans/generic-noodling-nova.md
  plans/recursive-tinkering-dijkstra.md
  plans/valiant-spinning-nest.md
Due: prettier --write

fix: auto-bootstrap trustedDependencies via default postinstall script
  CLAUDE.md
  plans/delegated-seeking-pike.md
  tests/unit/strategies/package-lisa.test.ts
  typescript/package-lisa/package.lisa.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: disable import/no-cycle for NestJS module files in slow lint config
  nestjs/copy-overwrite/eslint.slow.config.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: change reusable workflow package_manager default from bun to npm
  .github/workflows/reusable-claude-code-review-response.yml
  .github/workflows/reusable-claude-nightly-code-complexity.yml
  .github/workflows/reusable-claude-nightly-test-coverage.yml
  .github/workflows/reusable-claude-nightly-test-improvement.yml
  cdk/create-only/.github/workflows/ci.yml
  cdk/create-only/.github/workflows/deploy.yml
Due: prettier --write
