Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: update plugin manifests from build
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
Due: prettier --write

docs: rewrite README to describe Lisa's architecture
  README.md
Due: prettier --write

feat: add impeccable design plugin to expo and rails templates
  expo/merge/.claude/settings.json
  rails/merge/.claude/settings.json
Due: prettier --write

feat: add impeccable design plugin to expo and rails templates (#311)
  expo/merge/.claude/settings.json
  rails/merge/.claude/settings.json
Due: prettier --write

fix: update Claude Code install command to use native installer
  README.md
Due: prettier --write

fix: update Claude Code install command to use native installer (#312)
  README.md
Due: prettier --write

feat: auto-register plugins at project scope after settings merge
  src/core/lisa.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

test: add integration test for plugin registration
  src/core/lisa.ts
  tests/integration/lisa.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: auto-register plugins at project scope after settings merge (#313)
  src/core/lisa.ts
  tests/integration/lisa.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: replace fse.readJson with readFile+JSON.parse in registerPlugins
  src/core/lisa.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: replace fse.readJson with readFile+JSON.parse in registerPlugins (#316)
  src/core/lisa.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs: add upstream bug fixing guidance to lisa-update-projects skill
  .claude/skills/lisa-update-projects/SKILL.md
Due: prettier --write

docs: add upstream bug fixing guidance to lisa-update-projects skill (#317)
  .claude/skills/lisa-update-projects/SKILL.md
Due: prettier --write

fix: remove template apply from postinstall to prevent child-stack config overwrites
  cdk/package-lisa/package.lisa.json
  expo/package-lisa/package.lisa.json
  nestjs/package-lisa/package.lisa.json
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/skills/acceptance-criteria/SKILL.md
  plugins/lisa/skills/performance-review/SKILL.md
  plugins/lisa/skills/security-review/SKILL.md
  plugins/lisa/skills/task-decomposition/SKILL.md
  scripts/install-claude-plugins.sh
  typescript/package-lisa/package.lisa.json
Due: prettier --write

fix: remove template apply from postinstall to prevent child-stack config overwrites (#318)
  cdk/package-lisa/package.lisa.json
  expo/package-lisa/package.lisa.json
  nestjs/package-lisa/package.lisa.json
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/skills/performance-review/SKILL.md
  plugins/lisa/skills/task-decomposition/SKILL.md
  scripts/install-claude-plugins.sh
  typescript/package-lisa/package.lisa.json
Due: prettier --write

fix: use ticket_count for maxResults and filter by configurable status in nightly jira triage
  .github/workflows/reusable-claude-nightly-jira-triage.yml
Due: prettier --write

chore: add plan files
  plans/keen-jingling-tide.md
  plans/spicy-dreaming-harp.md
Due: prettier --write

fix: nightly jira triage uses ticket_count for maxResults and filters by status (#319)
  .github/workflows/reusable-claude-nightly-jira-triage.yml
  plans/keen-jingling-tide.md
  plans/spicy-dreaming-harp.md
Due: prettier --write

fix: skip Linux-only binary installs on non-Linux platforms
  plugins/src/base/hooks/install-pkgs.sh
  plugins/src/base/hooks/setup-jira-cli.sh
Due: none

fix: refresh Lisa marketplace cache after plugin registration
  src/core/lisa.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: refresh Lisa marketplace cache and skip Linux-only installs on macOS (#320)
  plugins/src/base/hooks/install-pkgs.sh
  plugins/src/base/hooks/setup-jira-cli.sh
  src/core/lisa.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: add playwright_setup_command input to quality workflow
  .github/workflows/quality.yml
Due: prettier --write

feat: add playwright_setup_command input to quality workflow (#321)
  .github/workflows/quality.yml
Due: prettier --write

fix: resolve CDK vitest coverage paths relative to project root
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/hooks/install-pkgs.sh
  plugins/lisa/hooks/setup-jira-cli.sh
  plugins/lisa/skills/acceptance-criteria/SKILL.md
  plugins/lisa/skills/performance-review/SKILL.md
  plugins/lisa/skills/security-review/SKILL.md
  plugins/lisa/skills/task-decomposition/SKILL.md
  src/configs/vitest/cdk.ts
  tests/unit/config/vitest-cdk.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: resolve CDK vitest coverage paths relative to project root (#322)
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/hooks/install-pkgs.sh
  plugins/lisa/hooks/setup-jira-cli.sh
  plugins/lisa/skills/acceptance-criteria/SKILL.md
  plugins/lisa/skills/performance-review/SKILL.md
  plugins/lisa/skills/security-review/SKILL.md
  plugins/lisa/skills/task-decomposition/SKILL.md
  src/configs/vitest/cdk.ts
  tests/unit/config/vitest-cdk.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

Path conditions:
  eslint --quiet --cache --fix --config eslint.config.ts: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
