Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: trampoline lockfile regen, CDK jest cleanup, cdk tsconfig repair
  cdk/copy-overwrite/tsconfig.cdk.json
  eslint.config.ts
  eslint.slow.config.ts
  expo/copy-overwrite/tsconfig.expo.json
  jest.config.local.ts
  nestjs/copy-overwrite/tsconfig.nestjs.json
  src/configs/eslint/base.ts
  src/configs/eslint/cdk.ts
  src/configs/eslint/expo.ts
  src/configs/eslint/index.ts
  src/configs/eslint/nestjs.ts
  src/configs/eslint/slow.ts
  src/configs/eslint/typescript.ts
  src/configs/jest/base.ts
  src/configs/jest/cdk.ts
  src/configs/jest/expo.ts
  src/configs/jest/index.ts
  src/configs/jest/nestjs.ts
  src/configs/jest/typescript.ts
  src/configs/vitest/base.ts
  src/configs/vitest/cdk.ts
  src/configs/vitest/index.ts
  src/configs/vitest/nestjs.ts
  src/configs/vitest/typescript.ts
  src/core/lisa.ts
  src/detection/detectors/rails.ts
  src/types/minimatch.d.ts
  src/utils/fibonacci.ts
  src/utils/postinstall-trampoline.ts
  tests/integration/lisa.test.ts
  tests/unit/config/tsconfig-template-references.test.ts
  tests/unit/config/vitest-cdk.test.ts
  tests/unit/hooks/track-plan-sessions.test.ts
  tests/unit/utils/postinstall-trampoline.test.ts
  vitest.config.local.ts
  vitest.config.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: trampoline lockfile regen, CDK jest cleanup, cdk tsconfig repair (#385)
  cdk/copy-overwrite/tsconfig.cdk.json
  eslint.config.ts
  eslint.slow.config.ts
  expo/copy-overwrite/tsconfig.expo.json
  jest.config.local.ts
  nestjs/copy-overwrite/tsconfig.nestjs.json
  src/configs/eslint/base.ts
  src/configs/eslint/cdk.ts
  src/configs/eslint/expo.ts
  src/configs/eslint/index.ts
  src/configs/eslint/nestjs.ts
  src/configs/eslint/slow.ts
  src/configs/eslint/typescript.ts
  src/configs/jest/base.ts
  src/configs/jest/cdk.ts
  src/configs/jest/expo.ts
  src/configs/jest/index.ts
  src/configs/jest/nestjs.ts
  src/configs/jest/typescript.ts
  src/configs/vitest/base.ts
  src/configs/vitest/cdk.ts
  src/configs/vitest/index.ts
  src/configs/vitest/nestjs.ts
  src/configs/vitest/typescript.ts
  src/core/lisa.ts
  src/detection/detectors/rails.ts
  src/types/minimatch.d.ts
  src/utils/fibonacci.ts
  src/utils/postinstall-trampoline.ts
  tests/integration/lisa.test.ts
  tests/unit/config/tsconfig-template-references.test.ts
  tests/unit/config/vitest-cdk.test.ts
  tests/unit/hooks/track-plan-sessions.test.ts
  tests/unit/utils/postinstall-trampoline.test.ts
  vitest.config.local.ts
  vitest.config.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(tsconfig,trampoline): remove noUnusedLocals, sync CI trampoline
  cdk/copy-overwrite/tsconfig.cdk.json
  src/configs/eslint/base.ts
  src/core/lisa.ts
  src/utils/postinstall-trampoline.ts
  tests/unit/config/eslint-no-unused-vars.test.ts
  tests/unit/config/tsconfig-no-unused-flags.test.ts
  tests/unit/utils/postinstall-trampoline.test.ts
  tsconfig/cdk.json
  tsconfig/typescript.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(trampoline): short-circuit CI sync mode under test runners
  src/utils/postinstall-trampoline.ts
  tests/unit/utils/postinstall-trampoline.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(tsconfig,trampoline): drop noUnusedLocals for ESLint, sync CI trampoline (#386)
  cdk/copy-overwrite/tsconfig.cdk.json
  src/configs/eslint/base.ts
  src/core/lisa.ts
  src/utils/postinstall-trampoline.ts
  tests/unit/config/eslint-no-unused-vars.test.ts
  tests/unit/config/tsconfig-no-unused-flags.test.ts
  tests/unit/utils/postinstall-trampoline.test.ts
  tsconfig/cdk.json
  tsconfig/typescript.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(postinstall): skip Lisa in CI, rely on PR diff for drift detection
  src/migrations/ensure-lisa-postinstall.ts
  tests/unit/config/postinstall-ci-guard.test.ts
  tests/unit/migrations/ensure-lisa-postinstall.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(postinstall): skip Lisa in CI, rely on PR diff for drift detection (#387)
  src/migrations/ensure-lisa-postinstall.ts
  tests/unit/config/postinstall-ci-guard.test.ts
  tests/unit/migrations/ensure-lisa-postinstall.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(migrations): apply CI guard to Rails projects with Node package.json
  src/migrations/ensure-lisa-postinstall.ts
  tests/unit/migrations/ensure-lisa-postinstall.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(migrations): detect guarded Lisa invocation precisely, not any CI guard
  src/migrations/ensure-lisa-postinstall.ts
  tests/unit/migrations/ensure-lisa-postinstall.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(migrations): apply CI guard to Rails projects with Node package.json (#388)
  src/migrations/ensure-lisa-postinstall.ts
  tests/unit/migrations/ensure-lisa-postinstall.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(jest): skip worktree ignore when running from inside a worktree
  expo/copy-overwrite/jest.expo.ts
  src/configs/jest/base.ts
  src/configs/jest/expo.ts
  src/configs/jest/typescript.ts
  tests/unit/config/jest-base.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs(intent-routing): add orchestration section; collapse /plan:execute into /build
  plugins/lisa/commands/plan/execute.md
  plugins/lisa/rules/intent-routing.md
Due: prettier --write

docs(intent-routing): add orchestration section; collapse /plan:execute into /build (#390)
  plugins/lisa/commands/plan/execute.md
  plugins/lisa/rules/intent-routing.md
Due: prettier --write

chore: upstream changes from local main
  .github/GITHUB_ACTIONS.md
  .github/workflows/reusable-claude-code-review-response.yml
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  typescript/copy-overwrite/.github/GITHUB_ACTIONS.md
Due: prettier --write

chore: upstream changes from local main (#391)
  .github/GITHUB_ACTIONS.md
  .github/workflows/reusable-claude-code-review-response.yml
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  typescript/copy-overwrite/.github/GITHUB_ACTIONS.md
Due: prettier --write

fix(jest): skip worktree ignore when running from inside a worktree (#389)
  expo/copy-overwrite/jest.expo.ts
  src/configs/jest/base.ts
  src/configs/jest/expo.ts
  src/configs/jest/typescript.ts
  tests/unit/config/jest-base.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(nestjs): block migration edits; rule: never rush; port PR #390 to source
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-nestjs/hooks/block-migration-edits.sh
  plugins/lisa-nestjs/skills/nestjs-rules/SKILL.md
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/rules/base-rules.md
  plugins/lisa/rules/intent-routing.md
  plugins/src/base/commands/plan/execute.md
  plugins/src/base/rules/base-rules.md
  plugins/src/base/rules/intent-routing.md
  plugins/src/nestjs/.claude-plugin/plugin.json
  plugins/src/nestjs/hooks/block-migration-edits.sh
  plugins/src/nestjs/skills/nestjs-rules/SKILL.md
Due: prettier --write

feat(nestjs): block migration edits; rule: never rush; port PR #390 to source (#393)
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-nestjs/hooks/block-migration-edits.sh
  plugins/lisa-nestjs/skills/nestjs-rules/SKILL.md
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/rules/base-rules.md
  plugins/lisa/rules/intent-routing.md
  plugins/src/base/commands/plan/execute.md
  plugins/src/base/rules/base-rules.md
  plugins/src/base/rules/intent-routing.md
  plugins/src/nestjs/.claude-plugin/plugin.json
  plugins/src/nestjs/hooks/block-migration-edits.sh
  plugins/src/nestjs/skills/nestjs-rules/SKILL.md
Due: prettier --write

chore(gitignore): ignore .claude/scheduled_tasks.lock
  all/copy-contents/.gitignore
Due: none

chore(gitignore): ignore .claude/scheduled_tasks.lock (#395)
  all/copy-contents/.gitignore
Due: none

fix(nestjs): add sentry deps and dev binaries to knip ignore lists
  nestjs/copy-overwrite/knip.json
Due: prettier --write

fix(nestjs): add sentry deps and dev binaries to knip ignore lists (#396)
  nestjs/copy-overwrite/knip.json
Due: prettier --write

fix(commands): reference intent-routing rule by name, not deleted file path
  plugins/lisa/agents/jira-agent.md
  plugins/lisa/commands/build.md
  plugins/lisa/commands/fix.md
  plugins/lisa/commands/improve.md
  plugins/lisa/commands/investigate.md
  plugins/lisa/commands/monitor.md
  plugins/lisa/commands/plan.md
  plugins/lisa/commands/plan/create.md
  plugins/lisa/commands/plan/execute.md
  plugins/lisa/commands/research.md
  plugins/lisa/commands/review.md
  plugins/lisa/commands/ship.md
  plugins/lisa/commands/verify.md
  plugins/lisa/skills/plan-execute/SKILL.md
  plugins/src/base/agents/jira-agent.md
  plugins/src/base/commands/build.md
  plugins/src/base/commands/fix.md
  plugins/src/base/commands/improve.md
  plugins/src/base/commands/investigate.md
  plugins/src/base/commands/monitor.md
  plugins/src/base/commands/plan.md
  plugins/src/base/commands/plan/create.md
  plugins/src/base/commands/plan/execute.md
  plugins/src/base/commands/research.md
  plugins/src/base/commands/review.md
  plugins/src/base/commands/ship.md
  plugins/src/base/commands/verify.md
  plugins/src/base/skills/plan-execute/SKILL.md
Due: prettier --write

fix(commands): reference intent-routing rule by name, not deleted file path (#397)
  plugins/lisa/agents/jira-agent.md
  plugins/lisa/commands/build.md
  plugins/lisa/commands/fix.md
  plugins/lisa/commands/improve.md
  plugins/lisa/commands/investigate.md
  plugins/lisa/commands/monitor.md
  plugins/lisa/commands/plan.md
  plugins/lisa/commands/plan/create.md
  plugins/lisa/commands/plan/execute.md
  plugins/lisa/commands/research.md
  plugins/lisa/commands/review.md
  plugins/lisa/commands/ship.md
  plugins/lisa/commands/verify.md
  plugins/lisa/skills/plan-execute/SKILL.md
  plugins/src/base/agents/jira-agent.md
  plugins/src/base/commands/build.md
  plugins/src/base/commands/fix.md
  plugins/src/base/commands/improve.md
  plugins/src/base/commands/investigate.md
  plugins/src/base/commands/monitor.md
  plugins/src/base/commands/plan.md
  plugins/src/base/commands/plan/create.md
  plugins/src/base/commands/plan/execute.md
  plugins/src/base/commands/research.md
  plugins/src/base/commands/review.md
  plugins/src/base/commands/ship.md
  plugins/src/base/commands/verify.md
  plugins/src/base/skills/plan-execute/SKILL.md
Due: prettier --write

fix(skill): respect engines.bun=please-use-npm in lisa-update-projects
  .claude/skills/lisa-update-projects/SKILL.md
Due: prettier --write

fix(skill): respect engines.bun=please-use-npm in lisa-update-projects (#398)
  .claude/skills/lisa-update-projects/SKILL.md
Due: prettier --write

Path conditions:
  eslint --quiet --cache --fix --config eslint.config.ts: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
