Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: relax automation dirty tree preflight
  plugins/lisa-agy/skills/setup-automations/SKILL.md
  plugins/lisa-copilot/skills/setup-automations/SKILL.md
  plugins/lisa-cursor/skills/setup-automations/SKILL.md
  plugins/lisa-wiki-agy/skills/lisa-wiki-setup-automations/SKILL.md
  plugins/lisa-wiki-copilot/skills/lisa-wiki-setup-automations/SKILL.md
  plugins/lisa-wiki-cursor/skills/lisa-wiki-setup-automations/SKILL.md
  plugins/lisa-wiki/skills/lisa-wiki-setup-automations/SKILL.md
  plugins/lisa/skills/setup-automations/SKILL.md
  plugins/src/base/skills/setup-automations/SKILL.md
  plugins/src/wiki/skills/lisa-wiki-setup-automations/SKILL.md
Due: prettier --write

fix(expo): pin apollo-link-sentry to exactly 4.4.0 (Apollo v3 + Sentry v8)
  expo/package-lisa/package.lisa.json
  tests/unit/strategies/package-lisa.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(typescript): ignore .opencode overlay in eslint/prettier gates
  typescript/copy-overwrite/.prettierignore
  typescript/copy-overwrite/eslint.ignore.config.json
Due: prettier --write

fix(sync-down): no-op chain when all deploy.branches collapse to one branch
  .github/workflows/reusable-claude-sync-down-branches.yml
  plugins/lisa-agy/skills/doctor/SKILL.md
  plugins/lisa-agy/skills/sync-down/SKILL.md
  plugins/lisa-copilot/rules/reference/config-resolution.md
  plugins/lisa-copilot/skills/doctor/SKILL.md
  plugins/lisa-copilot/skills/sync-down/SKILL.md
  plugins/lisa-cursor/rules/config-resolution-reference.mdc
  plugins/lisa-cursor/skills/doctor/SKILL.md
  plugins/lisa-cursor/skills/sync-down/SKILL.md
  plugins/lisa/rules/reference/config-resolution.md
  plugins/lisa/skills/doctor/SKILL.md
  plugins/lisa/skills/sync-down/SKILL.md
  plugins/src/base/rules/reference/config-resolution.md
  plugins/src/base/skills/doctor/SKILL.md
  plugins/src/base/skills/sync-down/SKILL.md
  scripts/migrate-deploy-order.sh
Due: prettier --write

fix(repair-intake): align stale default in intake explain
  plugins/lisa-agy/skills/intake-explain/SKILL.md
  plugins/lisa-copilot/skills/intake-explain/SKILL.md
  plugins/lisa-cursor/skills/intake-explain/SKILL.md
  plugins/lisa/skills/intake-explain/SKILL.md
  plugins/src/base/skills/intake-explain/SKILL.md
  tests/unit/strategies/intake-explain-prd-gates.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: expand exploratory qa human experience checks
  plugins/lisa-expo-agy/skills/exploratory-qa/SKILL.md
  plugins/lisa-expo-copilot/skills/exploratory-qa/SKILL.md
  plugins/lisa-expo-cursor/skills/exploratory-qa/SKILL.md
  plugins/lisa-expo/skills/exploratory-qa/SKILL.md
  plugins/lisa-harper-fabric-agy/skills/exploratory-qa/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/exploratory-qa/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/exploratory-qa/SKILL.md
  plugins/lisa-harper-fabric/skills/exploratory-qa/SKILL.md
  plugins/lisa-rails-agy/skills/exploratory-qa/SKILL.md
  plugins/lisa-rails-copilot/skills/exploratory-qa/SKILL.md
  plugins/lisa-rails-cursor/skills/exploratory-qa/SKILL.md
  plugins/lisa-rails/skills/exploratory-qa/SKILL.md
  plugins/src/expo/skills/exploratory-qa/SKILL.md
  plugins/src/harper-fabric/skills/exploratory-qa/SKILL.md
  plugins/src/rails/skills/exploratory-qa/SKILL.md
Due: prettier --write

docs(wiki): ingest Lisa wiki state
  wiki/index.md
  wiki/log.md
  wiki/projects/lisa-monorepo.md
  wiki/sources/git/2026-06-09-lisa-monorepo-git.md
  wiki/sources/roles/2026-06-09-roles.md
  wiki/state/handoff/git-lisa-monorepo-20260609T064744Z.json
  wiki/state/handoff/roles-20260609T064744Z.json
Due: prettier --write

feat(wiki): resolve + mirror a remote wiki via ensure-wiki (read side)
  plugins/lisa-copilot/rules/eager/wiki-knowledge-source.md
  plugins/lisa-copilot/rules/reference/config-resolution.md
  plugins/lisa-copilot/rules/reference/wiki-knowledge-source.md
  plugins/lisa-cursor/rules/config-resolution-reference.mdc
  plugins/lisa-cursor/rules/wiki-knowledge-source-reference.mdc
  plugins/lisa-cursor/rules/wiki-knowledge-source.mdc
  plugins/lisa-wiki-agy/scripts/ensure-wiki.mjs
  plugins/lisa-wiki-agy/skills/lisa-wiki-ingest/SKILL.md
  plugins/lisa-wiki-agy/skills/lisa-wiki-query/SKILL.md
  plugins/lisa-wiki-copilot/scripts/ensure-wiki.mjs
  plugins/lisa-wiki-copilot/skills/lisa-wiki-ingest/SKILL.md
  plugins/lisa-wiki-copilot/skills/lisa-wiki-query/SKILL.md
  plugins/lisa-wiki-cursor/scripts/ensure-wiki.mjs
  plugins/lisa-wiki-cursor/skills/lisa-wiki-ingest/SKILL.md
  plugins/lisa-wiki-cursor/skills/lisa-wiki-query/SKILL.md
  plugins/lisa-wiki/scripts/ensure-wiki.mjs
  plugins/lisa-wiki/skills/lisa-wiki-ingest/SKILL.md
  plugins/lisa-wiki/skills/lisa-wiki-query/SKILL.md
  plugins/lisa/rules/eager/wiki-knowledge-source.md
  plugins/lisa/rules/reference/config-resolution.md
  plugins/lisa/rules/reference/wiki-knowledge-source.md
  plugins/src/base/rules/eager/wiki-knowledge-source.md
  plugins/src/base/rules/reference/config-resolution.md
  plugins/src/base/rules/reference/wiki-knowledge-source.md
  plugins/src/wiki/scripts/ensure-wiki.mjs
  plugins/src/wiki/skills/lisa-wiki-ingest/SKILL.md
  plugins/src/wiki/skills/lisa-wiki-query/SKILL.md
  tests/unit/strategies/wiki-ensure-wiki.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(wiki): add local wiki.source.path; unify local resolution
  plugins/lisa-copilot/rules/reference/config-resolution.md
  plugins/lisa-cursor/rules/config-resolution-reference.mdc
  plugins/lisa-wiki-agy/scripts/ensure-wiki.mjs
  plugins/lisa-wiki-copilot/scripts/ensure-wiki.mjs
  plugins/lisa-wiki-cursor/scripts/ensure-wiki.mjs
  plugins/lisa-wiki/scripts/ensure-wiki.mjs
  plugins/lisa/rules/reference/config-resolution.md
  plugins/src/base/rules/reference/config-resolution.md
  plugins/src/wiki/scripts/ensure-wiki.mjs
  tests/unit/strategies/wiki-ensure-wiki.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(apply): use node:fs/promises for fs reads/writes (Expo apply crash)
  src/migrations/ensure-jest-rn-mock-accessibility-manager.ts
  src/strategies/package-lisa.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(apply): exclude generated harness dirs from sonar.exclusions
  src/migrations/ensure-sonar-excludes-lisa-harness.ts
  src/migrations/index.ts
  tests/unit/migrations/ensure-sonar-excludes-lisa-harness.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(ci): ignore no-config playwright aggregate abandonment
  .github/workflows/quality.yml
Due: prettier --write

fix(safety-net): correlate force-push guard to a single push statement
  plugins/lisa-copilot/hooks/parity-safety-net.sh
  plugins/lisa-cursor/hooks/parity-safety-net.sh
  plugins/lisa/hooks/parity-safety-net.sh
  plugins/src/base/hooks/parity-safety-net.sh
  tests/unit/hooks/parity-safety-net.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(safety-net): portable line-continuation normalization in the push guard
  plugins/lisa-copilot/hooks/parity-safety-net.sh
  plugins/lisa-cursor/hooks/parity-safety-net.sh
  plugins/lisa/hooks/parity-safety-net.sh
  plugins/src/base/hooks/parity-safety-net.sh
Due: none

feat(apply): declare wiki.source.path when a project has a local wiki
  src/migrations/ensure-wiki-source-declared.ts
  src/migrations/index.ts
  tests/unit/migrations/ensure-wiki-source-declared.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(atlassian-access): reverify switched acli profile
  plugins/lisa-agy/skills/atlassian-access/SKILL.md
  plugins/lisa-copilot/skills/atlassian-access/SKILL.md
  plugins/lisa-cursor/skills/atlassian-access/SKILL.md
  plugins/lisa/skills/atlassian-access/SKILL.md
  plugins/src/base/skills/atlassian-access/SKILL.md
  tests/unit/strategies/atlassian-access-acli-profile.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: block artifact-only verification without credentials
  plugins/lisa-agy/skills/verification-lifecycle/SKILL.md
  plugins/lisa-agy/skills/verify/SKILL.md
  plugins/lisa-copilot/rules/eager/verification.md
  plugins/lisa-copilot/rules/reference/verification.md
  plugins/lisa-copilot/skills/verification-lifecycle/SKILL.md
  plugins/lisa-copilot/skills/verify/SKILL.md
  plugins/lisa-cursor/rules/verification-reference.mdc
  plugins/lisa-cursor/rules/verification.mdc
  plugins/lisa-cursor/skills/verification-lifecycle/SKILL.md
  plugins/lisa-cursor/skills/verify/SKILL.md
  plugins/lisa/rules/eager/verification.md
  plugins/lisa/rules/reference/verification.md
  plugins/lisa/skills/verification-lifecycle/SKILL.md
  plugins/lisa/skills/verify/SKILL.md
  plugins/src/base/rules/eager/verification.md
  plugins/src/base/rules/reference/verification.md
  plugins/src/base/skills/verification-lifecycle/SKILL.md
  plugins/src/base/skills/verify/SKILL.md
  tests/unit/strategies/build-verification-credential-blocking.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(atlassian-access): bind jira writes to cloud id
  plugins/lisa-agy/skills/atlassian-access/SKILL.md
  plugins/lisa-copilot/skills/atlassian-access/SKILL.md
  plugins/lisa-cursor/skills/atlassian-access/SKILL.md
  plugins/lisa/skills/atlassian-access/SKILL.md
  plugins/src/base/skills/atlassian-access/SKILL.md
Due: prettier --write

test: address credential verification review feedback
  plugins/lisa-agy/skills/verify/SKILL.md
  plugins/lisa-copilot/skills/verify/SKILL.md
  plugins/lisa-cursor/skills/verify/SKILL.md
  plugins/lisa/skills/verify/SKILL.md
  plugins/src/base/skills/verify/SKILL.md
  tests/unit/strategies/build-verification-credential-blocking.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs(wiki): ingest Lisa wiki state
  wiki/index.md
  wiki/log.md
  wiki/projects/lisa-monorepo.md
  wiki/sources/git/2026-06-10-lisa-monorepo-git.md
  wiki/sources/roles/2026-06-10-roles.md
  wiki/state/handoff/git-lisa-monorepo-20260610T064659Z.json
  wiki/state/handoff/roles-20260610T064659Z.json
Due: prettier --write

Path conditions:
  eslint --quiet --cache --fix --config eslint.config.ts: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
