Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

fix: remove .ts extension from eslint.config.local import
  eslint.config.ts
  typescript/copy-overwrite/eslint.config.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(cdk): scope build to app directories and add prepare script
  cdk/copy-overwrite/tsconfig.cdk.json
  cdk/package-lisa/package.lisa.json
Due: prettier --write

chore: add plan for CDK build fix and extensionless imports
  plans/starry-munching-willow.md
  plans/zany-toasting-elephant.md
Due: prettier --write

chore: archive fix-cdk-build-and-extensionless-imports plan
  plans/completed/fix-cdk-build-and-extensionless-imports/fix-cdk-build-and-extensionless-imports.md
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/96771a23-821d-4e75-8e75-97635b3108ce/.lock
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/96771a23-821d-4e75-8e75-97635b3108ce/1.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/96771a23-821d-4e75-8e75-97635b3108ce/2.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/96771a23-821d-4e75-8e75-97635b3108ce/3.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/96771a23-821d-4e75-8e75-97635b3108ce/4.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/96771a23-821d-4e75-8e75-97635b3108ce/5.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/96771a23-821d-4e75-8e75-97635b3108ce/6.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/96771a23-821d-4e75-8e75-97635b3108ce/7.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/96771a23-821d-4e75-8e75-97635b3108ce/8.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/b861e8cd-8292-47b9-9efe-2878279cad75/.lock
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/b861e8cd-8292-47b9-9efe-2878279cad75/1.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/b861e8cd-8292-47b9-9efe-2878279cad75/10.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/b861e8cd-8292-47b9-9efe-2878279cad75/11.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/b861e8cd-8292-47b9-9efe-2878279cad75/12.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/b861e8cd-8292-47b9-9efe-2878279cad75/2.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/b861e8cd-8292-47b9-9efe-2878279cad75/3.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/b861e8cd-8292-47b9-9efe-2878279cad75/4.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/b861e8cd-8292-47b9-9efe-2878279cad75/5.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/b861e8cd-8292-47b9-9efe-2878279cad75/6.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/b861e8cd-8292-47b9-9efe-2878279cad75/7.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/b861e8cd-8292-47b9-9efe-2878279cad75/8.json
  plans/completed/fix-cdk-build-and-extensionless-imports/tasks/b861e8cd-8292-47b9-9efe-2878279cad75/9.json
Due: prettier --write

chore: update plan session tracking
  plans/zany-toasting-elephant.md
Due: prettier --write

feat: add /lisa:learn command for post-apply diff analysis
  .claude/commands/lisa/learn.md
  .claude/skills/lisa-learn/SKILL.md
  HUMAN.md
  OVERVIEW.md
Due: prettier --write

fix: add missing entries to OVERVIEW.md skills table and HUMAN.md call graph
  HUMAN.md
  OVERVIEW.md
Due: prettier --write

chore: archive lisa-learn-command plan
  plans/completed/lisa-learn-command/plan.md
  plans/completed/lisa-learn-command/tasks/1.json
  plans/completed/lisa-learn-command/tasks/10.json
  plans/completed/lisa-learn-command/tasks/11.json
  plans/completed/lisa-learn-command/tasks/12.json
  plans/completed/lisa-learn-command/tasks/2.json
  plans/completed/lisa-learn-command/tasks/3.json
  plans/completed/lisa-learn-command/tasks/4.json
  plans/completed/lisa-learn-command/tasks/5.json
  plans/completed/lisa-learn-command/tasks/6.json
  plans/completed/lisa-learn-command/tasks/7.json
  plans/completed/lisa-learn-command/tasks/8.json
  plans/completed/lisa-learn-command/tasks/9.json
Due: prettier --write

feat: move jest setup files from create-only to copy-overwrite
  expo/copy-overwrite/jest.expo.ts
  expo/copy-overwrite/jest.setup.pre.js
  expo/copy-overwrite/jest.setup.ts
  expo/copy-overwrite/tsconfig.expo.json
  expo/create-only/jest.config.local.ts
  expo/create-only/jest.setup.local.ts
  expo/create-only/jest.setup.pre.local.js
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

test: update jest.expo test to match new setupFiles behavior
  tests/unit/config/jest-expo.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs: update jest.setup.ts references to jest.setup.local.ts
  expo/copy-overwrite/.claude/skills/expo-env-config/SKILL.md
  expo/copy-overwrite/.claude/skills/expo-env-config/references/validation-patterns.md
Due: prettier --write

refactor: consolidate afterEach blocks and remove duplicate coverage exclusion
  expo/copy-overwrite/jest.expo.ts
  expo/copy-overwrite/jest.setup.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: archive jest-setup-inheritance plan
  plans/completed/jest-setup-inheritance/jest-setup-inheritance.md
  plans/completed/jest-setup-inheritance/tasks/.lock
  plans/completed/jest-setup-inheritance/tasks/1.json
  plans/completed/jest-setup-inheritance/tasks/10.json
  plans/completed/jest-setup-inheritance/tasks/11.json
  plans/completed/jest-setup-inheritance/tasks/12.json
  plans/completed/jest-setup-inheritance/tasks/13.json
  plans/completed/jest-setup-inheritance/tasks/14.json
  plans/completed/jest-setup-inheritance/tasks/15.json
  plans/completed/jest-setup-inheritance/tasks/16.json
  plans/completed/jest-setup-inheritance/tasks/17.json
  plans/completed/jest-setup-inheritance/tasks/18.json
  plans/completed/jest-setup-inheritance/tasks/19.json
  plans/completed/jest-setup-inheritance/tasks/2.json
  plans/completed/jest-setup-inheritance/tasks/20.json
  plans/completed/jest-setup-inheritance/tasks/21.json
  plans/completed/jest-setup-inheritance/tasks/3.json
  plans/completed/jest-setup-inheritance/tasks/4.json
  plans/completed/jest-setup-inheritance/tasks/5.json
  plans/completed/jest-setup-inheritance/tasks/6.json
  plans/completed/jest-setup-inheritance/tasks/7.json
  plans/completed/jest-setup-inheritance/tasks/8.json
  plans/completed/jest-setup-inheritance/tasks/9.json
Due: prettier --write

feat: add CLAUDE.md rule to ignore knip configuration hints
  CLAUDE.md
  all/copy-overwrite/CLAUDE.md
Due: prettier --write

fix: add GHSA-37qj-frw5-hhjh to CI audit ignore list
  typescript/copy-overwrite/.github/workflows/quality.yml
Due: prettier --write

fix: add fast-xml-parser audit ignore to quality.yml and pre-push
  typescript/copy-contents/.husky/pre-push
  typescript/copy-overwrite/.github/workflows/quality.yml
Due: prettier --write

chore: restructure hooks and update settings configuration
  .claude/settings.json
Due: prettier --write

chore: sync typescript template settings with root configuration
  typescript/copy-overwrite/.claude/settings.json
Due: prettier --write

feat: add private flag to CDK package.lisa.json force section
  cdk/package-lisa/package.lisa.json
Due: prettier --write

fix: add gitleaks ignore for quality workflow curl auth variable
  typescript/copy-overwrite/.gitleaksignore
Due: none

feat: add OWASP ZAP baseline scanning to quality workflow
  .claude/commands/security/zap-scan.md
  .github/workflows/quality.yml
  .gitignore
Due: prettier --write
