Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

chore(deps): bump tar from ^7.5.3 to ^7.5.6
  expo/merge/package.json
Due: prettier --write

chore: initialize ast-grep integration project
  projects/2026-01-22-add-ast-grep-to-lisa/brief.md
  projects/2026-01-22-add-ast-grep-to-lisa/findings.md
Due: prettier --write

docs: add research document for ast-grep integration
  projects/2026-01-22-add-ast-grep-to-lisa/research.md
Due: prettier --write

docs: add implementation plan for ast-grep integration
  projects/2026-01-22-add-ast-grep-to-lisa/progress.md
  projects/2026-01-22-add-ast-grep-to-lisa/research.md
  projects/2026-01-22-add-ast-grep-to-lisa/tasks/0001-add-ast-grep-configuration-files.md
  projects/2026-01-22-add-ast-grep-to-lisa/tasks/0002-add-ast-grep-cli-dependency.md
  projects/2026-01-22-add-ast-grep-to-lisa/tasks/0003-add-sg-scan-script.md
  projects/2026-01-22-add-ast-grep-to-lisa/tasks/0004-create-ast-grep-claude-hook.md
  projects/2026-01-22-add-ast-grep-to-lisa/tasks/0005-register-ast-grep-hook-in-settings.md
  projects/2026-01-22-add-ast-grep-to-lisa/tasks/0006-add-ast-grep-to-lint-staged.md
  projects/2026-01-22-add-ast-grep-to-lisa/tasks/0007-add-ast-grep-to-pre-commit-hook.md
  projects/2026-01-22-add-ast-grep-to-lisa/tasks/0008-add-ast-grep-job-to-quality-workflow.md
Due: prettier --write

feat: add ast-grep integration for pattern-based linting
  typescript/copy-overwrite/.claude/hooks/sg-scan-on-edit.sh
  typescript/copy-overwrite/.github/workflows/quality.yml
  typescript/copy-overwrite/.lintstagedrc.json
  typescript/copy-overwrite/ast-grep/rule-tests/.gitkeep
  typescript/copy-overwrite/ast-grep/rules/.gitkeep
  typescript/copy-overwrite/ast-grep/utils/.gitkeep
  typescript/copy-overwrite/sgconfig.yml
  typescript/merge/.claude/settings.json
  typescript/merge/package.json
Due: prettier --write

chore: archive ast-grep integration project
  projects/2026-01-22-add-ast-grep-to-lisa/progress.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/brief.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/claude-review.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/coderabbit-review.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/drift.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/findings.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/progress.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/research.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/tasks/0001-add-ast-grep-configuration-files.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/tasks/0002-add-ast-grep-cli-dependency.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/tasks/0003-add-sg-scan-script.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/tasks/0004-create-ast-grep-claude-hook.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/tasks/0005-register-ast-grep-hook-in-settings.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/tasks/0006-add-ast-grep-to-lint-staged.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/tasks/0007-add-ast-grep-to-pre-commit-hook.md
  projects/archive/2026-01-22-add-ast-grep-to-lisa/tasks/0008-add-ast-grep-job-to-quality-workflow.md
Due: prettier --write

docs: add project rules for JSON parsing and hook behavior
  PROJECT_RULES.md
Due: prettier --write

docs: add OVERVIEW.md architecture guide with visual diagram
  OVERVIEW.md
  README.md
  docs/lisa-architecture.svg
Due: prettier --write

feat(expo): add new Lighthouse audit rules and relax config thresholds
  expo/copy-overwrite/lighthouserc.js
  expo/create-only/lighthouserc-config.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore(expo): tighten Lighthouse default thresholds
  expo/create-only/lighthouserc-config.json
Due: prettier --write

fix(expo): restore original Lighthouse thresholds, add new audit rules
  expo/create-only/lighthouserc-config.json
Due: prettier --write

chore: add branch cleanup scripts for Amplify and GitHub
  scripts/cleanup-amplify-branches.sh
  scripts/cleanup-github-branches.sh
Due: none

docs: add OVERVIEW.pdf architecture documentation
  OVERVIEW.pdf
Due: none

fix(cdk): register sonarjs plugin in slow ESLint config
  cdk/copy-overwrite/eslint.slow.config.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: update cdk configs after hook formatting
  cdk/copy-overwrite/eslint.config.ts
  cdk/copy-overwrite/tsconfig.eslint.json
  cdk/merge/package.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

refactor(typescript): move Vitest config to npm-package only
  typescript/merge/package.json
Due: prettier --write

chore(typescript): add sgconfig.yml to ESLint ignore list
  typescript/copy-overwrite/eslint.ignore.config.json
Due: prettier --write

feat(typescript): add ast-grep integration for static code analysis
  .claude/hooks/sg-scan-on-edit.sh
  .claude/settings.json
  .github/workflows/quality.yml
  .husky/pre-push
  .lintstagedrc.json
  .lisa-manifest
  .safety-net.json
  ast-grep/rule-tests/.gitkeep
  ast-grep/rules/.gitkeep
  ast-grep/utils/.gitkeep
  eslint.config.local.ts
  eslint.config.ts
  eslint.ignore.config.json
  eslint.slow.config.ts
  eslint.typescript.ts
  knip.json
  nestjs/copy-overwrite/eslint.nestjs.ts
  package.json
  sgconfig.yml
  tsconfig.eslint.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(knip): simplify entry patterns and remove unused memfs dependency
  bun.lock
  expo/copy-overwrite/knip.json
  knip.json
  npm-package/merge/package.json
  package.json
  typescript/copy-overwrite/knip.json
Due: prettier --write

chore: update bun.lock after removing memfs
  bun.lock
Due: none

fix(eslint): register sonarjs plugin in slow config files
  eslint.ignore.config.json
  eslint.slow.config.ts
  expo/copy-overwrite/eslint.slow.config.ts
  typescript/copy-overwrite/eslint.slow.config.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write
