Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

feat: add workflow echo and skill/agent planning to intent routing (#372)
  plugins/lisa/rules/intent-routing.md
  plugins/src/base/rules/intent-routing.md
Due: prettier --write

fix: move tsconfig include/exclude to create-only and add audit exclusions
  cdk/copy-overwrite/tsconfig.json
  cdk/create-only/tsconfig.local.json
  expo/copy-overwrite/tsconfig.json
  expo/create-only/tsconfig.local.json
  nestjs/copy-overwrite/tsconfig.json
  nestjs/create-only/tsconfig.local.json
  typescript/copy-overwrite/audit.ignore.config.json
  typescript/copy-overwrite/tsconfig.json
  typescript/create-only/tsconfig.local.json
Due: prettier --write

fix: move tsconfig include/exclude to create-only and add audit exclusions (#373)
  cdk/copy-overwrite/tsconfig.json
  cdk/create-only/tsconfig.local.json
  expo/copy-overwrite/tsconfig.json
  expo/create-only/tsconfig.local.json
  nestjs/copy-overwrite/tsconfig.json
  nestjs/create-only/tsconfig.local.json
  typescript/copy-overwrite/audit.ignore.config.json
  typescript/copy-overwrite/tsconfig.json
  typescript/create-only/tsconfig.local.json
Due: prettier --write

chore(release): 1.82.1
  CHANGELOG.md
  package.json
Due: prettier --write

feat(jira,verification): add ticket graph readers and spec-conformance gate
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/agents/jira-agent.md
  plugins/lisa/agents/spec-conformance-specialist.md
  plugins/lisa/agents/verification-specialist.md
  plugins/lisa/commands/jira/read-ticket.md
  plugins/lisa/commands/jira/write-ticket.md
  plugins/lisa/commands/spec-conformance.md
  plugins/lisa/skills/jira-create/SKILL.md
  plugins/lisa/skills/jira-read-ticket/SKILL.md
  plugins/lisa/skills/jira-write-ticket/SKILL.md
  plugins/lisa/skills/spec-conformance/SKILL.md
  plugins/lisa/skills/ticket-triage/SKILL.md
  plugins/lisa/skills/verification-lifecycle/SKILL.md
  plugins/src/base/agents/jira-agent.md
  plugins/src/base/agents/spec-conformance-specialist.md
  plugins/src/base/agents/verification-specialist.md
  plugins/src/base/commands/jira/read-ticket.md
  plugins/src/base/commands/jira/write-ticket.md
  plugins/src/base/commands/spec-conformance.md
  plugins/src/base/skills/jira-create/SKILL.md
  plugins/src/base/skills/jira-read-ticket/SKILL.md
  plugins/src/base/skills/jira-write-ticket/SKILL.md
  plugins/src/base/skills/spec-conformance/SKILL.md
  plugins/src/base/skills/ticket-triage/SKILL.md
  plugins/src/base/skills/verification-lifecycle/SKILL.md
Due: prettier --write

feat(jira,verification): ticket graph readers and spec-conformance gate (#375)
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/agents/jira-agent.md
  plugins/lisa/agents/spec-conformance-specialist.md
  plugins/lisa/agents/verification-specialist.md
  plugins/lisa/commands/jira/read-ticket.md
  plugins/lisa/commands/jira/write-ticket.md
  plugins/lisa/commands/spec-conformance.md
  plugins/lisa/skills/jira-create/SKILL.md
  plugins/lisa/skills/jira-read-ticket/SKILL.md
  plugins/lisa/skills/jira-write-ticket/SKILL.md
  plugins/lisa/skills/spec-conformance/SKILL.md
  plugins/lisa/skills/ticket-triage/SKILL.md
  plugins/lisa/skills/verification-lifecycle/SKILL.md
  plugins/src/base/agents/jira-agent.md
  plugins/src/base/agents/spec-conformance-specialist.md
  plugins/src/base/agents/verification-specialist.md
  plugins/src/base/commands/jira/read-ticket.md
  plugins/src/base/commands/jira/write-ticket.md
  plugins/src/base/commands/spec-conformance.md
  plugins/src/base/skills/jira-create/SKILL.md
  plugins/src/base/skills/jira-read-ticket/SKILL.md
  plugins/src/base/skills/jira-write-ticket/SKILL.md
  plugins/src/base/skills/spec-conformance/SKILL.md
  plugins/src/base/skills/ticket-triage/SKILL.md
  plugins/src/base/skills/verification-lifecycle/SKILL.md
Due: prettier --write

feat(migrations): introduce migration framework with two initial migrations
  src/cli/index.ts
  src/core/config.ts
  src/core/lisa.ts
  src/migrations/ensure-expo-postinstall.ts
  src/migrations/ensure-tsconfig-local-includes.ts
  src/migrations/index.ts
  src/migrations/migration.interface.ts
  tests/integration/lisa.test.ts
  tests/unit/migrations/ensure-expo-postinstall.test.ts
  tests/unit/migrations/ensure-tsconfig-local-includes.test.ts
  tests/unit/migrations/migration-registry.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(vitest): exclude .claude/worktrees from test discovery
  src/configs/vitest/base.ts
  src/configs/vitest/cdk.ts
  src/configs/vitest/nestjs.ts
  src/configs/vitest/typescript.ts
  tests/unit/config/vitest-base.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: regenerate built plugin artifacts and ignore scheduled_tasks.lock
  .gitignore
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/skills/spec-conformance/SKILL.md
Due: prettier --write

fix: migrations framework + vitest worktree excludes (#376)
  .gitignore
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/skills/spec-conformance/SKILL.md
  src/cli/index.ts
  src/configs/vitest/base.ts
  src/configs/vitest/cdk.ts
  src/configs/vitest/nestjs.ts
  src/configs/vitest/typescript.ts
  src/core/config.ts
  src/core/lisa.ts
  src/migrations/ensure-expo-postinstall.ts
  src/migrations/ensure-tsconfig-local-includes.ts
  src/migrations/index.ts
  src/migrations/migration.interface.ts
  tests/integration/lisa.test.ts
  tests/unit/config/vitest-base.test.ts
  tests/unit/migrations/ensure-expo-postinstall.test.ts
  tests/unit/migrations/ensure-tsconfig-local-includes.test.ts
  tests/unit/migrations/migration-registry.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(migrations): apply Lisa postinstall to all Node projects
  .claude/skills/lisa-update-projects/SKILL.md
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  src/core/lisa.ts
  src/migrations/ensure-lisa-postinstall.ts
  src/migrations/ensure-tsconfig-local-includes.ts
  src/migrations/index.ts
  src/migrations/migration.interface.ts
  tests/unit/migrations/ensure-lisa-postinstall.test.ts
  tests/unit/migrations/ensure-tsconfig-local-includes.test.ts
  tests/unit/migrations/migration-registry.test.ts
  typescript/copy-overwrite/audit.ignore.config.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(migrations): apply Lisa postinstall to all Node projects, preserve tsconfig scope (#377)
  .claude/skills/lisa-update-projects/SKILL.md
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  src/core/lisa.ts
  src/migrations/ensure-lisa-postinstall.ts
  src/migrations/ensure-tsconfig-local-includes.ts
  src/migrations/index.ts
  src/migrations/migration.interface.ts
  tests/unit/migrations/ensure-lisa-postinstall.test.ts
  tests/unit/migrations/ensure-tsconfig-local-includes.test.ts
  tests/unit/migrations/migration-registry.test.ts
  typescript/copy-overwrite/audit.ignore.config.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(templates): stage env var in expo scripts, axios floor bump, basic-ftp CVE
  expo/package-lisa/package.lisa.json
  package.json
  typescript/copy-overwrite/audit.ignore.config.json
  typescript/package-lisa/package.lisa.json
Due: prettier --write

fix(templates): stage env var in expo scripts, axios floor bump, basic-ftp CVE (#378)
  expo/package-lisa/package.lisa.json
  package.json
  typescript/copy-overwrite/audit.ignore.config.json
  typescript/package-lisa/package.lisa.json
Due: prettier --write

fix: bump package.json past 1.84.0 to unblock npm publish
  bun.lock
  package.json
Due: prettier --write

fix: bump version past 1.84.0 to unblock npm publish (#380)
  bun.lock
  package.json
Due: prettier --write

fix(templates): pin handlebars resolution to >=4.7.9
  package.json
  typescript/package-lisa/package.lisa.json
Due: prettier --write

chore: update bun.lock for handlebars resolution
  bun.lock
Due: none

fix(templates): pin handlebars resolution to >=4.7.9 (#381)
  bun.lock
  package.json
  typescript/package-lisa/package.lisa.json
Due: prettier --write

fix(postinstall): schedule detached trampoline so bun add preserves Lisa's package.json merges
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  src/core/lisa.ts
  src/utils/index.ts
  src/utils/postinstall-trampoline.ts
  tests/unit/strategies/package-lisa.test.ts
  tests/unit/utils/postinstall-trampoline.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(postinstall): address CodeRabbit review on trampoline module
  src/utils/index.ts
  src/utils/postinstall-trampoline.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(postinstall): preserve package.json merges across bun add via detached trampoline (#383)
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  src/core/lisa.ts
  src/utils/index.ts
  src/utils/postinstall-trampoline.ts
  tests/unit/strategies/package-lisa.test.ts
  tests/unit/utils/postinstall-trampoline.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: preserve inline hook entries in settings.json during postinstall
  scripts/install-claude-plugins.sh
Due: none

fix: preserve inline hook entries in settings.json during postinstall (#384)
  scripts/install-claude-plugins.sh
Due: none
