Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

feat(expo): add official Maestro MCP server to the expo plugin
  plugins/lisa-expo-agy/THIRD-PARTY-NOTICES.md
  plugins/lisa-expo-copilot/.claude-plugin/plugin.json
  plugins/lisa-expo-copilot/.mcp.json
  plugins/lisa-expo-copilot/THIRD-PARTY-NOTICES.md
  plugins/lisa-expo-cursor/THIRD-PARTY-NOTICES.md
  plugins/lisa-expo-cursor/mcp.json
  plugins/lisa-expo/.mcp.json
  plugins/lisa-expo/THIRD-PARTY-NOTICES.md
  plugins/src/expo/.mcp.json
  plugins/src/expo/THIRD-PARTY-NOTICES.md
Due: prettier --write

fix: widen plugins sync trigger paths
  .github/workflows/plugins-sync.yml
  tests/unit/scripts/plugin-sync-workflow.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(postinstall): skip hyphenated npm_package_* names in env sanitize
  scripts/install-claude-plugins.sh
Due: none

test: verify downstream enforcement gates
  tests/unit/hooks/enforcement-gates-e2e.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: guard auto-merge against stale PR heads
  plugins/lisa-agy/skills/lisa-drive-pr-to-merge/SKILL.md
  plugins/lisa-copilot/skills/lisa-drive-pr-to-merge/SKILL.md
  plugins/lisa-cursor/skills/lisa-drive-pr-to-merge/SKILL.md
  plugins/lisa/skills/lisa-drive-pr-to-merge/SKILL.md
  plugins/src/base/skills/lisa-drive-pr-to-merge/SKILL.md
  tests/unit/strategies/drive-pr-auto-merge-race.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(security): allowlist historical $SONAR_TOKEN gitleaks false positives
  .gitleaksignore
Due: none

fix(tests): keep plugin-sync fixture repo hermetic under git hooks
  tests/unit/scripts/plugin-sync-scripts.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(cdk): keep eslint.cdk.ts template within its own max-lines-per-function limit
  cdk/copy-overwrite/eslint.cdk.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(eslint): disable enforce-statement-order in shared test-file override
  src/configs/eslint/base.ts
  tests/unit/config/eslint-test-files-override.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(eslint): treat super() as constructor prologue in enforce-statement-order
  eslint-plugin-code-organization/__tests__/enforce-statement-order.test.js
  eslint-plugin-code-organization/rules/enforce-statement-order.js
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(cdk): use $esbuild self-reference for the esbuild override
  cdk/package-lisa/package.lisa.json
Due: prettier --write

fix(harper-fabric): auto-accept HarperDB T&C in zap-baseline.sh
  harper-fabric/create-only/scripts/zap-baseline.sh
Due: none

fix(typescript): group regex alternatives in check-verification-coverage
  typescript/copy-overwrite/scripts/check-verification-coverage.mjs
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(harper-fabric): answer the HarperDB destination prompt in zap-baseline.sh
  harper-fabric/create-only/scripts/zap-baseline.sh
Due: none

fix(harper-fabric): start Harper via install+component+start in zap-baseline.sh
  harper-fabric/create-only/scripts/zap-baseline.sh
Due: none

fix(eslint): add checkRequiredComponentFiles opt-out to enforce-component-structure
  eslint-plugin-component-structure/__tests__/enforce-component-structure.test.js
  eslint-plugin-component-structure/rules/enforce-component-structure.js
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(harper-fabric): honor WARN policy and fix duplicate ZAP mount
  harper-fabric/create-only/scripts/zap-baseline.sh
Due: none

fix(harper-fabric): make the ZAP report dir writable by the container user
  harper-fabric/create-only/scripts/zap-baseline.sh
Due: none

chore: update @codyswann/lisa self-dependency to 2.191.13
  bun.lock
  package.json
Due: prettier --write

feat(harper-fabric): enforce empirically-verified Harper best practices
  ast-grep/rule-tests/__snapshots__/harper-no-early-return-in-search-loop-snapshot.yml
  ast-grep/rule-tests/__snapshots__/harper-no-empty-conditions-with-sort-snapshot.yml
  ast-grep/rule-tests/__snapshots__/harper-no-full-table-scan-snapshot.yml
  ast-grep/rule-tests/__snapshots__/harper-require-statuscode-on-thrown-error-snapshot.yml
  ast-grep/rule-tests/harper-no-early-return-in-search-loop-test.yml
  ast-grep/rule-tests/harper-no-empty-conditions-with-sort-test.yml
  ast-grep/rule-tests/harper-no-full-table-scan-test.yml
  ast-grep/rule-tests/harper-require-statuscode-on-thrown-error-test.yml
  ast-grep/rules/harper/no-early-return-in-search-loop.yml
  ast-grep/rules/harper/no-empty-conditions-with-sort.yml
  ast-grep/rules/harper/no-full-table-scan.yml
  ast-grep/rules/harper/require-statuscode-on-thrown-error.yml
  harper-fabric/copy-overwrite/.github/dependabot.yml
  harper-fabric/copy-overwrite/ast-grep/rules/harper/no-early-return-in-search-loop.yml
  harper-fabric/copy-overwrite/ast-grep/rules/harper/no-empty-conditions-with-sort.yml
  harper-fabric/copy-overwrite/ast-grep/rules/harper/no-full-table-scan.yml
  harper-fabric/copy-overwrite/ast-grep/rules/harper/require-statuscode-on-thrown-error.yml
  plugins/lisa-harper-fabric-agy/skills/harper-auth/SKILL.md
  plugins/lisa-harper-fabric-agy/skills/harper-resources/SKILL.md
  plugins/lisa-harper-fabric-agy/skills/harper-rest-queries/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-auth/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-resources/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-rest-queries/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-auth/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-resources/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-rest-queries/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-auth/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-resources/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-rest-queries/SKILL.md
  plugins/src/harper-fabric/skills/harper-auth/SKILL.md
  plugins/src/harper-fabric/skills/harper-resources/SKILL.md
  plugins/src/harper-fabric/skills/harper-rest-queries/SKILL.md
Due: prettier --write
