Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

docs(openclaw): document account-scoped Telegram routes
  plugins/lisa-openclaw-agy/skills/lisa-openclaw-connect-repo-topic/SKILL.md
  plugins/lisa-openclaw-agy/skills/lisa-openclaw-connect-repo-topic/references/repo-topic-config.md
  plugins/lisa-openclaw-agy/skills/lisa-openclaw-connect-staff/references/platform-routing.md
  plugins/lisa-openclaw-copilot/skills/lisa-openclaw-connect-repo-topic/SKILL.md
  plugins/lisa-openclaw-copilot/skills/lisa-openclaw-connect-repo-topic/references/repo-topic-config.md
  plugins/lisa-openclaw-copilot/skills/lisa-openclaw-connect-staff/references/platform-routing.md
  plugins/lisa-openclaw-cursor/skills/lisa-openclaw-connect-repo-topic/SKILL.md
  plugins/lisa-openclaw-cursor/skills/lisa-openclaw-connect-repo-topic/references/repo-topic-config.md
  plugins/lisa-openclaw-cursor/skills/lisa-openclaw-connect-staff/references/platform-routing.md
  plugins/lisa-openclaw/skills/lisa-openclaw-connect-repo-topic/SKILL.md
  plugins/lisa-openclaw/skills/lisa-openclaw-connect-repo-topic/references/repo-topic-config.md
  plugins/lisa-openclaw/skills/lisa-openclaw-connect-staff/references/platform-routing.md
  plugins/src/openclaw/skills/lisa-openclaw-connect-repo-topic/SKILL.md
  plugins/src/openclaw/skills/lisa-openclaw-connect-repo-topic/references/repo-topic-config.md
  plugins/src/openclaw/skills/lisa-openclaw-connect-staff/references/platform-routing.md
Due: prettier --write

fix(repair-intake): heal missing native sub-issue links on build Epics/Stories
  plugins/lisa-agy/skills/repair-intake/SKILL.md
  plugins/lisa-copilot/skills/repair-intake/SKILL.md
  plugins/lisa-cursor/skills/repair-intake/SKILL.md
  plugins/lisa/skills/repair-intake/SKILL.md
  plugins/src/base/skills/repair-intake/SKILL.md
  tests/unit/strategies/repair-intake-contract.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs(openclaw): note account-scoped topic route runtime requirement
  plugins/lisa-openclaw-agy/skills/lisa-openclaw-connect-repo-topic/SKILL.md
  plugins/lisa-openclaw-agy/skills/lisa-openclaw-connect-repo-topic/references/repo-topic-config.md
  plugins/lisa-openclaw-agy/skills/lisa-openclaw-connect-staff/references/platform-routing.md
  plugins/lisa-openclaw-agy/skills/lisa-openclaw-setup/SKILL.md
  plugins/lisa-openclaw-copilot/skills/lisa-openclaw-connect-repo-topic/SKILL.md
  plugins/lisa-openclaw-copilot/skills/lisa-openclaw-connect-repo-topic/references/repo-topic-config.md
  plugins/lisa-openclaw-copilot/skills/lisa-openclaw-connect-staff/references/platform-routing.md
  plugins/lisa-openclaw-copilot/skills/lisa-openclaw-setup/SKILL.md
  plugins/lisa-openclaw-cursor/skills/lisa-openclaw-connect-repo-topic/SKILL.md
  plugins/lisa-openclaw-cursor/skills/lisa-openclaw-connect-repo-topic/references/repo-topic-config.md
  plugins/lisa-openclaw-cursor/skills/lisa-openclaw-connect-staff/references/platform-routing.md
  plugins/lisa-openclaw-cursor/skills/lisa-openclaw-setup/SKILL.md
  plugins/lisa-openclaw/skills/lisa-openclaw-connect-repo-topic/SKILL.md
  plugins/lisa-openclaw/skills/lisa-openclaw-connect-repo-topic/references/repo-topic-config.md
  plugins/lisa-openclaw/skills/lisa-openclaw-connect-staff/references/platform-routing.md
  plugins/lisa-openclaw/skills/lisa-openclaw-setup/SKILL.md
  plugins/src/openclaw/skills/lisa-openclaw-connect-repo-topic/SKILL.md
  plugins/src/openclaw/skills/lisa-openclaw-connect-repo-topic/references/repo-topic-config.md
  plugins/src/openclaw/skills/lisa-openclaw-connect-staff/references/platform-routing.md
  plugins/src/openclaw/skills/lisa-openclaw-setup/SKILL.md
Due: prettier --write

fix(wiki): support older Python UTC constants
  plugins/lisa-wiki-agy/scripts/ingest_slack_channel.py
  plugins/lisa-wiki-copilot/scripts/ingest_slack_channel.py
  plugins/lisa-wiki-cursor/scripts/ingest_slack_channel.py
  plugins/lisa-wiki/scripts/ingest_slack_channel.py
  plugins/src/wiki/scripts/ingest_slack_channel.py
Due: none

fix(expo): align SDK 56 dependency templates
  expo/copy-overwrite/knip.json
  expo/package-lisa/package.lisa.json
Due: prettier --write

feat(migrations): backfill AccessibilityManager RN mock
  src/migrations/ensure-jest-rn-mock-accessibility-manager.ts
  src/migrations/index.ts
  tests/unit/migrations/ensure-jest-rn-mock-accessibility-manager.test.ts
  tests/unit/migrations/migration-registry.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(opencode): add OpenCode as a fleet coding-agent harness
  scripts/internal-opencode-skill-policy.json
  src/codex/command-skill-transformer.ts
  src/core/config.ts
  src/core/lisa-skill-sources.ts
  src/core/lisa.ts
  src/opencode/manifest.ts
  src/opencode/skills-installer.ts
  tests/unit/opencode/manifest.test.ts
  tests/unit/opencode/skills-installer.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(opencode): harden manifest paths and clean-replace stale skill files
  src/opencode/manifest.ts
  src/opencode/skills-installer.ts
  tests/unit/opencode/manifest.test.ts
  tests/unit/opencode/skills-installer.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(lifecycle): roll parents up forward when a leaf reaches done
  plugins/lisa-agy/skills/github-build-intake/SKILL.md
  plugins/lisa-agy/skills/jira-build-intake/SKILL.md
  plugins/lisa-agy/skills/linear-build-intake/SKILL.md
  plugins/lisa-copilot/rules/reference/leaf-only-lifecycle.md
  plugins/lisa-copilot/skills/github-build-intake/SKILL.md
  plugins/lisa-copilot/skills/jira-build-intake/SKILL.md
  plugins/lisa-copilot/skills/linear-build-intake/SKILL.md
  plugins/lisa-cursor/rules/leaf-only-lifecycle-reference.mdc
  plugins/lisa-cursor/skills/github-build-intake/SKILL.md
  plugins/lisa-cursor/skills/jira-build-intake/SKILL.md
  plugins/lisa-cursor/skills/linear-build-intake/SKILL.md
  plugins/lisa/rules/reference/leaf-only-lifecycle.md
  plugins/lisa/skills/github-build-intake/SKILL.md
  plugins/lisa/skills/jira-build-intake/SKILL.md
  plugins/lisa/skills/linear-build-intake/SKILL.md
  plugins/src/base/rules/reference/leaf-only-lifecycle.md
  plugins/src/base/skills/github-build-intake/SKILL.md
  plugins/src/base/skills/jira-build-intake/SKILL.md
  plugins/src/base/skills/linear-build-intake/SKILL.md
Due: prettier --write

feat(opencode): add config-level settings + MCP wrap delivery
  bun.lock
  package.json
  src/core/lisa.ts
  src/opencode/mcp-installer.ts
  src/opencode/settings-installer.ts
  tests/unit/opencode/mcp-installer.test.ts
  tests/unit/opencode/settings-installer.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(repair-intake): re-check deployed-verification blocks with same-context reproduction
  plugins/lisa-agy/skills/repair-intake/SKILL.md
  plugins/lisa-copilot/skills/repair-intake/SKILL.md
  plugins/lisa-cursor/skills/repair-intake/SKILL.md
  plugins/lisa/skills/repair-intake/SKILL.md
  plugins/src/base/skills/repair-intake/SKILL.md
Due: prettier --write

feat(opencode): port Lisa lifecycle hooks to OpenCode
  eslint.config.local.ts
  package.json
  scripts/copy-opencode-plugin-templates.mjs
  src/core/lisa.ts
  src/opencode/hooks-installer.ts
  src/opencode/plugin-templates/lisa-block-migration-edits.ts
  src/opencode/plugin-templates/lisa-block-suppress-directives.ts
  src/opencode/plugin-templates/lisa-lint-on-edit.ts
  src/opencode/plugin-templates/lisa-rubocop-on-edit.ts
  src/opencode/plugin-templates/lisa-session-bootstrap.ts
  src/opencode/plugin-templates/lisa-sg-scan-on-edit.ts
  tests/unit/opencode/hooks-installer.test.ts
  tsconfig.json
  tsconfig.local.json
  wiki/architecture/lisa-hook-per-agent-ship-list.md
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(opencode): emit native agents and commands
  src/codex/agent-installer.ts
  src/core/lisa-skill-sources.ts
  src/core/lisa.ts
  src/opencode/agent-installer.ts
  src/opencode/agent-transformer.ts
  src/opencode/command-installer.ts
  src/opencode/command-transformer.ts
  tests/unit/core/lisa-skill-sources.test.ts
  tests/unit/opencode/agent-installer.test.ts
  tests/unit/opencode/agent-transformer.test.ts
  tests/unit/opencode/command-installer.test.ts
  tests/unit/opencode/command-transformer.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(repair-intake): recover merged-PR leaves staleness-exempt and before rollup
  plugins/lisa-agy/skills/repair-intake/SKILL.md
  plugins/lisa-copilot/skills/repair-intake/SKILL.md
  plugins/lisa-cursor/skills/repair-intake/SKILL.md
  plugins/lisa/skills/repair-intake/SKILL.md
  plugins/src/base/skills/repair-intake/SKILL.md
  tests/unit/strategies/repair-intake-contract.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(codex): exclude per-harness variant plugins from agent discovery
  src/core/lisa.ts
  tests/unit/codex/agent-installer.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(apply): prune stale Lisa stack plugins from settings.json
  src/migrations/index.ts
  src/migrations/reconcile-claude-stack-plugins.ts
  tests/unit/migrations/reconcile-claude-stack-plugins.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(harness): add "all" alias for fleet and remove legacy "both"
  src/cli/apply.ts
  src/cli/shared-options.ts
  src/core/config.ts
  src/core/lisa.ts
  src/core/project-config.ts
  tests/unit/cli/shared-options.test.ts
  tests/unit/core/project-config.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(cross-pollinate): make local agent definitions available across the fleet
  plugins/lisa-agy/commands/cross-pollinate.md
  plugins/lisa-agy/scripts/cross-pollinate.mjs
  plugins/lisa-agy/skills/cross-pollinate/SKILL.md
  plugins/lisa-copilot/commands/cross-pollinate.md
  plugins/lisa-copilot/scripts/cross-pollinate.mjs
  plugins/lisa-copilot/skills/cross-pollinate/SKILL.md
  plugins/lisa-cursor/commands/cross-pollinate.md
  plugins/lisa-cursor/scripts/cross-pollinate.mjs
  plugins/lisa-cursor/skills/cross-pollinate/SKILL.md
  plugins/lisa/commands/cross-pollinate.md
  plugins/lisa/scripts/cross-pollinate.mjs
  plugins/lisa/skills/cross-pollinate/SKILL.md
  plugins/lisa/skills/cross-pollinate/agents/openai.yaml
  plugins/src/base/commands/cross-pollinate.md
  plugins/src/base/scripts/cross-pollinate.mjs
  plugins/src/base/skills/cross-pollinate/SKILL.md
  src/cli/apply.ts
  src/cli/cross-pollinate-cmd.ts
  src/cli/cross-pollinate-nudge.ts
  src/cli/index.ts
  tests/unit/scripts/cross-pollinate.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs(wiki): ingest Lisa wiki state
  wiki/index.md
  wiki/log.md
  wiki/projects/lisa-monorepo.md
  wiki/sources/git/2026-06-08-lisa-monorepo-git.md
  wiki/sources/roles/2026-06-08-roles.md
  wiki/state/handoff/git-lisa-monorepo-20260608T064645Z.json
  wiki/state/handoff/roles-20260608T064645Z.json
Due: prettier --write

feat(skills): add /lisa:validate-tracker-mapping drift detector + repairer
  plugins/lisa-agy/commands/validate-tracker-mapping.md
  plugins/lisa-agy/skills/validate-tracker-mapping/SKILL.md
  plugins/lisa-copilot/commands/validate-tracker-mapping.md
  plugins/lisa-copilot/skills/validate-tracker-mapping/SKILL.md
  plugins/lisa-cursor/commands/validate-tracker-mapping.md
  plugins/lisa-cursor/skills/validate-tracker-mapping/SKILL.md
  plugins/lisa/commands/validate-tracker-mapping.md
  plugins/lisa/skills/validate-tracker-mapping/SKILL.md
  plugins/lisa/skills/validate-tracker-mapping/agents/openai.yaml
  plugins/src/base/commands/validate-tracker-mapping.md
  plugins/src/base/skills/validate-tracker-mapping/SKILL.md
Due: prettier --write
