Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

fix: preserve per-path threshold keys in mergeThresholds
  jest.base.ts
  jest.config.local.ts
  tests/unit/config/jest-base.test.ts
  typescript/copy-overwrite/jest.base.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: add jest.*.ts to tsconfig.eslint.json include patterns
  cdk/copy-overwrite/tsconfig.eslint.json
  tsconfig.eslint.json
  typescript/copy-overwrite/tsconfig.eslint.json
Due: prettier --write

fix: use tsx instead of ts-node in CDK template to support array extends
  cdk/create-only/cdk.json
Due: prettier --write

feat: add OWASP ZAP baseline scanning for expo and nestjs stacks
  all/copy-contents/.gitignore
  expo/copy-overwrite/.claude/skills/owasp-zap/SKILL.md
  expo/copy-overwrite/.github/workflows/zap-baseline.yml
  expo/copy-overwrite/.zap/baseline.conf
  expo/copy-overwrite/scripts/zap-baseline.sh
  expo/create-only/.github/workflows/ci.yml
  expo/package-lisa/package.lisa.json
  nestjs/copy-overwrite/.github/workflows/zap-baseline.yml
  nestjs/copy-overwrite/.zap/baseline.conf
  nestjs/copy-overwrite/scripts/zap-baseline.sh
  nestjs/create-only/.github/workflows/ci.yml
  nestjs/package-lisa/package.lisa.json
  typescript/copy-overwrite/.claude/commands/security/zap-scan.md
  typescript/copy-overwrite/.github/workflows/quality.yml
Due: prettier --write

fix: move paths and include/exclude to copy-overwrite stack tsconfigs
  expo/copy-overwrite/tsconfig.expo.json
  expo/copy-overwrite/tsconfig.json
  expo/create-only/tsconfig.local.json
  nestjs/copy-overwrite/tsconfig.nestjs.json
Due: prettier --write

fix: add allowImportingTsExtensions to tsconfig.eslint.json files
  cdk/copy-overwrite/tsconfig.eslint.json
  expo/copy-overwrite/tsconfig.eslint.json
  nestjs/copy-overwrite/tsconfig.eslint.json
  tsconfig.eslint.json
  typescript/copy-overwrite/tsconfig.eslint.json
Due: prettier --write

fix: replace jest-expo preset with manual RN resolution for jsdom compatibility
  expo/copy-overwrite/.claude/skills/testing-library/SKILL.md
  expo/copy-overwrite/jest.expo.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

test: add unit tests for expo jest configuration
  tests/unit/config/jest-expo.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: add moduleNameMapper and transform for stack template test imports
  jest.config.local.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs: update expo jest description and mark ZAP scanning complete
  OVERVIEW.md
  TODO.md
Due: prettier --write

docs: add project plan files
  plans/agile-hopping-raccoon.md
  plans/binary-riding-parasol.md
  plans/curious-dazzling-cosmos.md
  plans/merry-stargazing-truffle.md
  plans/quizzical-humming-anchor.md
  plans/serialized-giggling-scroll.md
  plans/shimmying-waddling-reef.md
Due: prettier --write

fix: add serve to expo knip ignoreBinaries and fix expo tsconfig for .ts imports
  expo/copy-overwrite/knip.json
  expo/copy-overwrite/tsconfig.expo.json
Due: prettier --write

fix: remove jest-expo setup from expo setupFiles to prevent __DEV__ ordering issue
  expo/copy-overwrite/jest.expo.ts
  plans/dynamic-knitting-bird.md
  tests/unit/config/jest-expo.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: update expo jest.expo.ts transformIgnorePatterns and testMatch
  expo/copy-overwrite/jest.expo.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: guard sonarjs.configs access in eslint.base.ts template
  typescript/copy-overwrite/eslint.base.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: ignore fast-xml-parser GHSA-37qj-frw5-hhjh in pre-push audit template
  typescript/copy-contents/.husky/pre-push
Due: none

fix: exclude components/ui from default coverage exclusions
  jest.base.ts
  typescript/copy-overwrite/jest.base.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: replace marker file with most-recent-file detection in track-plan-sessions hook
  .claude/hooks/track-plan-sessions.sh
  all/copy-overwrite/.claude/hooks/track-plan-sessions.sh
  plans/scalable-imagining-engelbart.md
Due: prettier --write

fix: use session-specific marker files for reliable active-plan detection
  .claude/hooks/track-plan-sessions.sh
  .gitignore
  all/copy-contents/.gitignore
  all/copy-overwrite/.claude/hooks/track-plan-sessions.sh
Due: none

chore: archive fix-track-plan-sessions plan
  plans/completed/fix-track-plan-sessions/fix-track-plan-sessions-active-plan-detection.md
  plans/completed/fix-track-plan-sessions/tasks/b7f38936-9c17-48fd-8f31-a32af94b308e/.lock
  plans/completed/fix-track-plan-sessions/tasks/b7f38936-9c17-48fd-8f31-a32af94b308e/1.json
  plans/completed/fix-track-plan-sessions/tasks/b7f38936-9c17-48fd-8f31-a32af94b308e/2.json
  plans/completed/fix-track-plan-sessions/tasks/b7f38936-9c17-48fd-8f31-a32af94b308e/3.json
  plans/completed/fix-track-plan-sessions/tasks/b7f38936-9c17-48fd-8f31-a32af94b308e/4.json
  plans/completed/fix-track-plan-sessions/tasks/b7f38936-9c17-48fd-8f31-a32af94b308e/5.json
Due: prettier --write

feat: add plan mode enforcement hook and rules
  .claude/hooks/enforce-plan-rules.sh
  .claude/rules/plan.md
  all/copy-overwrite/.claude/hooks/enforce-plan-rules.sh
  all/copy-overwrite/.claude/rules/plan.md
Due: prettier --write
