Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

test(codex): codify committed openai.yaml stays in sync with source (#552)
  tests/unit/codex/committed-openai-yaml-in-sync.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: close terminal work items natively
  plugins/lisa/agents/github-build-intake.md
  plugins/lisa/agents/jira-build-intake.md
  plugins/lisa/agents/linear-build-intake.md
  plugins/lisa/rules/config-resolution.md
  plugins/lisa/rules/leaf-only-lifecycle.md
  plugins/lisa/skills/atlassian-access/SKILL.md
  plugins/lisa/skills/github-build-intake/SKILL.md
  plugins/lisa/skills/jira-build-intake/SKILL.md
  plugins/lisa/skills/linear-build-intake/SKILL.md
  plugins/lisa/skills/tracker-build-intake/SKILL.md
  plugins/src/base/agents/github-build-intake.md
  plugins/src/base/agents/jira-build-intake.md
  plugins/src/base/agents/linear-build-intake.md
  plugins/src/base/rules/config-resolution.md
  plugins/src/base/rules/leaf-only-lifecycle.md
  plugins/src/base/skills/atlassian-access/SKILL.md
  plugins/src/base/skills/github-build-intake/SKILL.md
  plugins/src/base/skills/jira-build-intake/SKILL.md
  plugins/src/base/skills/linear-build-intake/SKILL.md
  plugins/src/base/skills/tracker-build-intake/SKILL.md
Due: prettier --write

feat(rules): add vendor-neutral prd-lifecycle-rollup rule and wire config schema
  plugins/lisa/rules/config-resolution.md
  plugins/lisa/rules/prd-lifecycle-rollup.md
  plugins/src/base/rules/config-resolution.md
  plugins/src/base/rules/prd-lifecycle-rollup.md
  tests/unit/strategies/prd-lifecycle-rollup.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: harden git submit pr merge loop
  plugins/lisa/skills/git-submit-pr/SKILL.md
  plugins/lisa/skills/implement/SKILL.md
  plugins/src/base/skills/git-submit-pr/SKILL.md
  plugins/src/base/skills/implement/SKILL.md
Due: prettier --write

feat(prd-backlink): link generated Epic as native GitHub sub-issue of the PRD
  plugins/lisa/skills/prd-backlink/SKILL.md
  plugins/src/base/skills/prd-backlink/SKILL.md
  tests/unit/strategies/prd-backlink-native-linking.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(prd-backlink): attach generated top-level work via Linear/JIRA native parent
  plugins/lisa/skills/prd-backlink/SKILL.md
  plugins/src/base/skills/prd-backlink/SKILL.md
  tests/unit/strategies/prd-backlink-native-linking.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(prd-backlink): always-written, machine-readable generated-work section
  plugins/lisa/skills/prd-backlink/SKILL.md
  plugins/lisa/skills/prd-backlink/agents/openai.yaml
  plugins/src/base/skills/prd-backlink/SKILL.md
  tests/unit/strategies/prd-backlink-generated-work-section.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(github-prd-intake): add config-gated PRD closure rollup phase
  plugins/lisa/skills/github-prd-intake/SKILL.md
  plugins/src/base/skills/github-prd-intake/SKILL.md
  tests/unit/strategies/github-prd-intake-rollup.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: add verified PRD lifecycle role
  plugins/lisa/rules/config-resolution.md
  plugins/src/base/rules/config-resolution.md
Due: prettier --write

feat(skills): propagate PRD closure rollup to linear/confluence/notion intake
  plugins/lisa/skills/confluence-prd-intake/SKILL.md
  plugins/lisa/skills/github-prd-intake/SKILL.md
  plugins/lisa/skills/linear-prd-intake/SKILL.md
  plugins/lisa/skills/notion-prd-intake/SKILL.md
  plugins/src/base/skills/confluence-prd-intake/SKILL.md
  plugins/src/base/skills/github-prd-intake/SKILL.md
  plugins/src/base/skills/linear-prd-intake/SKILL.md
  plugins/src/base/skills/notion-prd-intake/SKILL.md
  tests/unit/strategies/prd-intake-rollup-vendors.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(github-build-intake): repair ready containers
  plugins/lisa/rules/leaf-only-lifecycle.md
  plugins/lisa/skills/github-build-intake/SKILL.md
  plugins/lisa/skills/tracker-build-intake/SKILL.md
  plugins/src/base/rules/leaf-only-lifecycle.md
  plugins/src/base/skills/github-build-intake/SKILL.md
  plugins/src/base/skills/tracker-build-intake/SKILL.md
  tests/unit/strategies/leaf-only-build-ready.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(prd-lifecycle): harden idempotency with match-by-ref-not-title (#585)
  plugins/lisa/rules/prd-lifecycle-rollup.md
  plugins/lisa/skills/prd-backlink/SKILL.md
  plugins/src/base/rules/prd-lifecycle-rollup.md
  plugins/src/base/skills/prd-backlink/SKILL.md
  tests/unit/strategies/prd-idempotency-hardening.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs: add PRD rollup vendor matrix
  README.md
  plugins/lisa/rules/prd-lifecycle-rollup.md
  plugins/src/base/rules/prd-lifecycle-rollup.md
  wiki/index.md
Due: prettier --write

docs(prd-lifecycle): add verified terminal state + verify vs verify-prd distinction
  plugins/lisa/agents/confluence-prd-intake.md
  plugins/lisa/agents/github-prd-intake.md
  plugins/lisa/agents/linear-prd-intake.md
  plugins/lisa/agents/notion-prd-intake.md
  plugins/lisa/rules/prd-lifecycle-rollup.md
  plugins/lisa/skills/confluence-prd-intake/SKILL.md
  plugins/lisa/skills/github-prd-intake/SKILL.md
  plugins/lisa/skills/linear-prd-intake/SKILL.md
  plugins/lisa/skills/notion-prd-intake/SKILL.md
  plugins/src/base/agents/confluence-prd-intake.md
  plugins/src/base/agents/github-prd-intake.md
  plugins/src/base/agents/linear-prd-intake.md
  plugins/src/base/agents/notion-prd-intake.md
  plugins/src/base/rules/prd-lifecycle-rollup.md
  plugins/src/base/skills/confluence-prd-intake/SKILL.md
  plugins/src/base/skills/github-prd-intake/SKILL.md
  plugins/src/base/skills/linear-prd-intake/SKILL.md
  plugins/src/base/skills/notion-prd-intake/SKILL.md
  tests/unit/strategies/prd-verified-lifecycle-docs.test.ts
  wiki/documentation/workflows/prd-to-ticket-intake.md
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(setup-github): scaffold prd-verified PRD label idempotently
  plugins/lisa/skills/setup-github/SKILL.md
  plugins/src/base/skills/setup-github/SKILL.md
  tests/unit/strategies/setup-github-prd-verified-label.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(setup-linear): scaffold prd-verified PRD project label idempotently
  plugins/lisa/skills/setup-linear/SKILL.md
  plugins/src/base/skills/setup-linear/SKILL.md
  tests/unit/strategies/setup-linear-prd-verified-label.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(hooks): accept Codex commit attribution in commit-msg guardrail
  .claude-pr/.husky/commit-msg
  .codex/config.toml
  .husky/commit-msg
  typescript/copy-contents/.husky/commit-msg
Due: none

feat(setup-notion): map/create the Verified PRD status value idempotently
  plugins/lisa/skills/setup-notion/SKILL.md
  plugins/src/base/skills/setup-notion/SKILL.md
  tests/unit/strategies/setup-notion-prd-verified-status.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(setup-confluence): scaffold Verified parent page + dashboard tile + config persist
  plugins/lisa/skills/setup-confluence/SKILL.md
  plugins/src/base/skills/setup-confluence/SKILL.md
  tests/unit/strategies/setup-confluence-verified-parent.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(verify-prd): scaffold command+skill with child-set read and terminal-child guard
  plugins/lisa/commands/verify-prd.md
  plugins/lisa/skills/verify-prd/SKILL.md
  plugins/lisa/skills/verify-prd/agents/openai.yaml
  plugins/src/base/commands/verify-prd.md
  plugins/src/base/skills/verify-prd/SKILL.md
Due: prettier --write

Path conditions:
  eslint --quiet --cache --fix --config eslint.config.ts: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
