Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs: update documentation after prompt-complexity-scorer removal
  .claude/README.md
  README.md
  all/copy-overwrite/.claude/README.md
  tasks-test-plan.md
Due: prettier --write

feat(deps): add @jest/globals to TypeScript template devDependencies
  typescript/package-lisa/package.lisa.json
Due: prettier --write

docs: add updated Claude Code settings and hooks reference
  .claude/REFERENCE.0002.md
Due: prettier --write

docs: rename GitHub README.md to GITHUB_ACTIONS.md
  .github/GITHUB_ACTIONS.md
  nestjs/copy-overwrite/.github/workflows/k6-load-test-README.md
  typescript/copy-overwrite/.github/GITHUB_ACTIONS.md
Due: prettier --write

chore(cdk): update CDK template dependencies
  cdk/package-lisa/package.lisa.json
Due: prettier --write

fix: use npm_execpath for package manager agnostic prepare script
  package.json
  package.lisa.json
Due: prettier --write

chore: minor
  typescript/package-lisa/package.lisa.json
Due: prettier --write

fix(package-lisa): sort expanded types so parents process before children
  src/strategies/package-lisa.ts
  tests/unit/strategies/package-lisa.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs(commit): clarify that all files must be committed regardless of relevance
  .claude/commands/git/commit.md
  all/copy-overwrite/.claude/commands/git/commit.md
Due: prettier --write

fix(package-lisa): detect project types from dependencies instead of top-level keys
  src/strategies/package-lisa.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(ci): pin bun version to 1.3.8 in CI workflows
  .github/workflows/publish-to-npm.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
  expo/copy-overwrite/.github/workflows/build.yml
  expo/copy-overwrite/.github/workflows/lighthouse.yml
  expo/create-only/.github/workflows/deploy.yml
  npm-package/copy-overwrite/.github/workflows/publish-to-npm.yml
  typescript/copy-overwrite/.github/workflows/quality.yml
  typescript/copy-overwrite/.github/workflows/release.yml
Due: prettier --write

fix(nestjs): simplify deploy workflow and add AWS credential verification
  nestjs/create-only/.github/workflows/deploy.yml
Due: prettier --write

fix(eslint): guard sonarjs recommended config access
  eslint.base.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore(deps): update bun engine version and package structure
  npm-package/package-lisa/package.lisa.json
  package.json
  package.lisa.json
  typescript/package-lisa/package.lisa.json
Due: prettier --write

chore(knip): add missing ignored dependencies
  cdk/copy-overwrite/knip.json
  expo/copy-overwrite/knip.json
  knip.json
Due: prettier --write

chore(lighthouse): add geolocation-on-start exception
  expo/copy-overwrite/lighthouserc.js
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs: update bun version references to 1.3.8
  README.md
  specs/tagged-merge.md
Due: prettier --write

chore: update lisa manifest
  .lisa-manifest
Due: none

chore: remove TypeORM migration scripts from NestJS template
  nestjs/package-lisa/package.lisa.json
Due: prettier --write

chore: add TypeORM migration scripts as defaults to NestJS template
  nestjs/package-lisa/package.lisa.json
Due: prettier --write

fix: consolidate TypeScript settings.json to prevent hooks from being overwritten
  typescript/copy-overwrite/.claude/settings.json
  typescript/merge/.claude/settings.json
Due: prettier --write

Path conditions:
  eslint --quiet --cache --fix --config eslint.config.ts: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
