Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

fix(marketplace): add ref:main to git-subdir plugin sources
  .claude-plugin/marketplace.json
Due: prettier --write

fix(marketplace): add ref:main to git-subdir plugin sources (#451)
  .claude-plugin/marketplace.json
Due: prettier --write

fix(marketplace): remove pluginRoot from metadata
  .claude-plugin/marketplace.json
Due: prettier --write

fix(marketplace): remove pluginRoot from metadata (#452)
  .claude-plugin/marketplace.json
Due: prettier --write

revert(marketplace): remove ref:main from git-subdir sources
  .claude-plugin/marketplace.json
Due: prettier --write

revert(marketplace): remove ref:main from git-subdir sources (#453)
  .claude-plugin/marketplace.json
Due: prettier --write

revert(marketplace): restore bare-string sources and pluginRoot
  .claude-plugin/marketplace.json
Due: prettier --write

revert(marketplace): restore bare-string sources and pluginRoot (#454)
  .claude-plugin/marketplace.json
Due: prettier --write

fix(skills): close TeamCreate bypass paths in lifecycle orchestration
  plugins/lisa/rules/base-rules.md
  plugins/lisa/rules/intent-routing.md
  plugins/lisa/skills/implement/SKILL.md
  plugins/lisa/skills/intake/SKILL.md
  plugins/lisa/skills/monitor/SKILL.md
  plugins/lisa/skills/plan/SKILL.md
  plugins/lisa/skills/research/SKILL.md
  plugins/lisa/skills/verify/SKILL.md
  plugins/src/base/rules/base-rules.md
  plugins/src/base/rules/intent-routing.md
  plugins/src/base/skills/implement/SKILL.md
  plugins/src/base/skills/intake/SKILL.md
  plugins/src/base/skills/monitor/SKILL.md
  plugins/src/base/skills/plan/SKILL.md
  plugins/src/base/skills/research/SKILL.md
  plugins/src/base/skills/verify/SKILL.md
Due: prettier --write

fix(skills): close TeamCreate bypass paths in lifecycle orchestration (#455)
  plugins/lisa/rules/base-rules.md
  plugins/lisa/rules/intent-routing.md
  plugins/lisa/skills/implement/SKILL.md
  plugins/lisa/skills/intake/SKILL.md
  plugins/lisa/skills/monitor/SKILL.md
  plugins/lisa/skills/plan/SKILL.md
  plugins/lisa/skills/research/SKILL.md
  plugins/lisa/skills/verify/SKILL.md
  plugins/src/base/rules/base-rules.md
  plugins/src/base/rules/intent-routing.md
  plugins/src/base/skills/implement/SKILL.md
  plugins/src/base/skills/intake/SKILL.md
  plugins/src/base/skills/monitor/SKILL.md
  plugins/src/base/skills/plan/SKILL.md
  plugins/src/base/skills/research/SKILL.md
  plugins/src/base/skills/verify/SKILL.md
Due: prettier --write

feat(hooks): mechanically enforce TeamCreate-first for lifecycle skills
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/hooks/enforce-team-first.sh
  plugins/src/base/.claude-plugin/plugin.json
  plugins/src/base/hooks/enforce-team-first.sh
  tests/unit/hooks/enforce-team-first.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(hooks): mechanically enforce TeamCreate-first for lifecycle skills (#456)
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/hooks/enforce-team-first.sh
  plugins/src/base/.claude-plugin/plugin.json
  plugins/src/base/hooks/enforce-team-first.sh
  tests/unit/hooks/enforce-team-first.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(strategies): child stack create-only overrides parent for same path (#448)
  src/core/lisa.ts
  tests/integration/lisa.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(skills): add Edge Case Brainstorm sub-flow, Debrief flow, and PRD back-link
  plugins/lisa/agents/learnings-synthesizer.md
  plugins/lisa/agents/pr-mining-specialist.md
  plugins/lisa/agents/tracker-mining-specialist.md
  plugins/lisa/commands/debrief.md
  plugins/lisa/commands/debrief/apply.md
  plugins/lisa/hooks/enforce-team-first.sh
  plugins/lisa/rules/intent-routing.md
  plugins/lisa/skills/confluence-to-tracker/SKILL.md
  plugins/lisa/skills/debrief-apply/SKILL.md
  plugins/lisa/skills/debrief/SKILL.md
  plugins/lisa/skills/github-to-tracker/SKILL.md
  plugins/lisa/skills/linear-to-tracker/SKILL.md
  plugins/lisa/skills/notion-to-tracker/SKILL.md
  plugins/lisa/skills/prd-backlink/SKILL.md
  plugins/src/base/agents/learnings-synthesizer.md
  plugins/src/base/agents/pr-mining-specialist.md
  plugins/src/base/agents/tracker-mining-specialist.md
  plugins/src/base/commands/debrief.md
  plugins/src/base/commands/debrief/apply.md
  plugins/src/base/hooks/enforce-team-first.sh
  plugins/src/base/rules/intent-routing.md
  plugins/src/base/skills/confluence-to-tracker/SKILL.md
  plugins/src/base/skills/debrief-apply/SKILL.md
  plugins/src/base/skills/debrief/SKILL.md
  plugins/src/base/skills/github-to-tracker/SKILL.md
  plugins/src/base/skills/linear-to-tracker/SKILL.md
  plugins/src/base/skills/notion-to-tracker/SKILL.md
  plugins/src/base/skills/prd-backlink/SKILL.md
Due: prettier --write

feat(skills): add Edge Case Brainstorm sub-flow, Debrief flow, and PRD back-link (#457)
  plugins/lisa/agents/learnings-synthesizer.md
  plugins/lisa/agents/pr-mining-specialist.md
  plugins/lisa/agents/tracker-mining-specialist.md
  plugins/lisa/commands/debrief.md
  plugins/lisa/commands/debrief/apply.md
  plugins/lisa/hooks/enforce-team-first.sh
  plugins/lisa/rules/intent-routing.md
  plugins/lisa/skills/confluence-to-tracker/SKILL.md
  plugins/lisa/skills/debrief-apply/SKILL.md
  plugins/lisa/skills/debrief/SKILL.md
  plugins/lisa/skills/github-to-tracker/SKILL.md
  plugins/lisa/skills/linear-to-tracker/SKILL.md
  plugins/lisa/skills/notion-to-tracker/SKILL.md
  plugins/lisa/skills/prd-backlink/SKILL.md
  plugins/src/base/agents/learnings-synthesizer.md
  plugins/src/base/agents/pr-mining-specialist.md
  plugins/src/base/agents/tracker-mining-specialist.md
  plugins/src/base/commands/debrief.md
  plugins/src/base/commands/debrief/apply.md
  plugins/src/base/hooks/enforce-team-first.sh
  plugins/src/base/rules/intent-routing.md
  plugins/src/base/skills/confluence-to-tracker/SKILL.md
  plugins/src/base/skills/debrief-apply/SKILL.md
  plugins/src/base/skills/debrief/SKILL.md
  plugins/src/base/skills/github-to-tracker/SKILL.md
  plugins/src/base/skills/linear-to-tracker/SKILL.md
  plugins/src/base/skills/notion-to-tracker/SKILL.md
  plugins/src/base/skills/prd-backlink/SKILL.md
Due: prettier --write

chore(prettier): add amplify to .prettierignore template
  typescript/copy-overwrite/.prettierignore
Due: none

chore(prettier): add amplify to .prettierignore template (#458)
  typescript/copy-overwrite/.prettierignore
Due: none

docs(readme): rewrite Working With Lisa around top-level workflows
  README.md
Due: prettier --write

docs(readme): rewrite Working With Lisa around top-level workflows (#460)
  README.md
Due: prettier --write

feat(skills): add advisor-upsert skill and command
  .claude/commands/advisor-upsert/run.md
  .claude/skills/advisor-upsert/SKILL.md
Due: prettier --write

feat(jira-read-ticket): add download-attachment helper
  plugins/lisa/skills/jira-read-ticket/SKILL.md
  plugins/lisa/skills/jira-read-ticket/scripts/download-attachment.sh
  plugins/src/base/skills/jira-read-ticket/SKILL.md
  plugins/src/base/skills/jira-read-ticket/scripts/download-attachment.sh
Due: prettier --write

feat(jira-read-ticket): add download-attachment helper (#461)
  plugins/lisa/skills/jira-read-ticket/SKILL.md
  plugins/lisa/skills/jira-read-ticket/scripts/download-attachment.sh
  plugins/src/base/skills/jira-read-ticket/SKILL.md
  plugins/src/base/skills/jira-read-ticket/scripts/download-attachment.sh
Due: prettier --write

feat(tracker-evidence): add tracker-agnostic UI evidence checklist
  plugins/lisa/skills/tracker-evidence/SKILL.md
  plugins/lisa/skills/verify/SKILL.md
  plugins/src/base/skills/tracker-evidence/SKILL.md
  plugins/src/base/skills/verify/SKILL.md
Due: prettier --write

feat(tracker-evidence): add tracker-agnostic UI evidence checklist (#462)
  plugins/lisa/skills/tracker-evidence/SKILL.md
  plugins/lisa/skills/verify/SKILL.md
  plugins/src/base/skills/tracker-evidence/SKILL.md
  plugins/src/base/skills/verify/SKILL.md
Due: prettier --write
