Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

chore: update knip config with comprehensive dependency ignores
  .lisa-manifest
  knip.json
Due: prettier --write

chore: require commits in subagent workflows
  .claude/commands/project/add-test-coverage.md
  .claude/commands/project/lower-code-complexity.md
  .claude/commands/pull-request/review.md
  all/copy-overwrite/.claude/commands/project/add-test-coverage.md
  all/copy-overwrite/.claude/commands/project/lower-code-complexity.md
  all/copy-overwrite/.claude/commands/pull-request/review.md
Due: prettier --write

fix: restore project-specific knip config and remove unused deps
  .lisa-manifest
  knip.json
  package.json
Due: prettier --write

chore: update lockfile after removing unused deps
  bun.lock
Due: none

chore: add .claude/env.local to gitignore
  .gitignore
Due: none

refactor(eslint): remove no-inline-styles rule and improve no-return-in-view message
  expo/copy-overwrite/eslint-plugin-component-structure/rules/no-return-in-view.js
  expo/copy-overwrite/eslint-plugin-ui-standards/index.js
  expo/copy-overwrite/eslint-plugin-ui-standards/rules/no-inline-styles.js
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

refactor(hooks): remove env.local creation from install_pkgs hook
  .claude/hooks/install_pkgs.sh
  .gitignore
  typescript/copy-overwrite/.claude/hooks/install_pkgs.sh
Due: none

refactor(eslint): remove no-inline-styles references from configs
  README.md
  expo/copy-overwrite/.claude/skills/gluestack-nativewind/scripts/validate_styling.py
  expo/copy-overwrite/eslint-plugin-ui-standards/README.md
  expo/copy-overwrite/eslint.expo.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(commands): add /lisa:review-project slash command
  .claude/commands/lisa/review-project.md
Due: prettier --write

refactor(plugins): remove beads plugin references
  .claude/README.md
  .claude/settings.json
  OVERVIEW.md
  README.md
  all/copy-overwrite/.claude/README.md
  all/copy-overwrite/.claude/settings.json
Due: prettier --write

refactor(docs): simplify CLAUDE.md and add stash warning
  CLAUDE.md
  all/copy-overwrite/CLAUDE.md
Due: prettier --write

feat(safety-net): add block-git-stash rule
  .safety-net.json
  all/copy-overwrite/.safety-net.json
Due: prettier --write

feat(ast-grep): add no-inline-component rules for Container/View pattern
  ast-grep/rules/no-inline-component-in-container.yml
  ast-grep/rules/no-inline-component-in-view.yml
Due: prettier --write

fix(eslint): improve no-return-in-view error message clarity
  expo/copy-overwrite/eslint-plugin-component-structure/rules/no-return-in-view.js
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(ast-grep): correct regex patterns in no-inline-component rules
  ast-grep/rules/no-inline-component-in-container.yml
  ast-grep/rules/no-inline-component-in-view.yml
Due: prettier --write

refactor(commands): simplify PR review to use parallel subagents
  .claude/commands/pull-request/review.md
  all/copy-overwrite/.claude/commands/pull-request/review.md
Due: prettier --write

feat(hooks): skip pre-push checks in Claude Code remote environment
  .husky/pre-push
  typescript/copy-contents/.husky/pre-push
Due: none

chore(knip): add missing type dependencies to ignoreDependencies
  knip.json
Due: prettier --write

chore(expo): add ast-grep to knip ignoreBinaries
  expo/copy-overwrite/knip.json
Due: prettier --write

chore(expo): add providers directory to tsconfig.eslint.json
  expo/copy-overwrite/tsconfig.eslint.json
Due: prettier --write
