Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

feat(harper-fabric): add realtime skill
  plugins/lisa-harper-fabric-agy/skills/harper-config-yaml/SKILL.md
  plugins/lisa-harper-fabric-agy/skills/harper-realtime/SKILL.md
  plugins/lisa-harper-fabric-agy/skills/harper-resources/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-config-yaml/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-realtime/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-resources/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-config-yaml/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-realtime/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-resources/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-config-yaml/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-realtime/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-realtime/agents/openai.yaml
  plugins/lisa-harper-fabric/skills/harper-resources/SKILL.md
  plugins/src/harper-fabric/skills/harper-config-yaml/SKILL.md
  plugins/src/harper-fabric/skills/harper-realtime/SKILL.md
  plugins/src/harper-fabric/skills/harper-resources/SKILL.md
Due: prettier --write

fix: improve commit-msg hook diagnostics
  .husky/commit-msg
  tests/unit/hooks/commit-msg.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs(wiki): ingest Lisa wiki state
  wiki/architecture/template-governance.md
  wiki/index.md
  wiki/log.md
  wiki/playbooks/lisa-workflow-playbook.md
  wiki/projects/lisa-monorepo.md
  wiki/sources/git/2026-06-12-lisa-monorepo-git.md
  wiki/sources/roles/2026-06-12-roles.md
  wiki/state/git/latest.json
  wiki/state/roles/latest.json
Due: prettier --write

fix(plugins): ship hook scripts with the executable bit set
  plugins/lisa-copilot/hooks/shell-write-nudge.sh
  plugins/lisa-cursor/hooks/shell-write-nudge.sh
  plugins/lisa-phaser-copilot/hooks/inject-rules.sh
  plugins/lisa-phaser/hooks/inject-rules.sh
  plugins/lisa/hooks/shell-write-nudge.sh
  plugins/src/base/hooks/shell-write-nudge.sh
  plugins/src/phaser/hooks/inject-rules.sh
  scripts/build-plugins.sh
Due: none

fix(hooks): allow lint-ignored edit files
  plugins/lisa-typescript-copilot/hooks/lint-on-edit.sh
  plugins/lisa-typescript-cursor/hooks/lint-on-edit.sh
  plugins/lisa-typescript/hooks/lint-on-edit.sh
  plugins/src/typescript/hooks/lint-on-edit.sh
  src/codex/scripts/lint-on-edit.sh
  src/opencode/plugin-templates/lisa-lint-on-edit.ts
  tests/unit/hooks/lint-on-edit.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs(wiki): ingest Lisa wiki state
  wiki/index.md
  wiki/log.md
  wiki/playbooks/lisa-workflow-playbook.md
  wiki/projects/lisa-monorepo.md
  wiki/sources/git/2026-06-13-lisa-monorepo-git.md
  wiki/sources/roles/2026-06-13-roles.md
  wiki/state/git/latest.json
  wiki/state/roles/latest.json
Due: prettier --write

chore(security): exclude esbuild GHSA-gv7w-rqvm-qjhr from audit template
  typescript/copy-overwrite/audit.ignore.config.json
Due: prettier --write

docs(wiki): ingest Lisa wiki state
  wiki/architecture/template-governance.md
  wiki/index.md
  wiki/log.md
  wiki/playbooks/lisa-workflow-playbook.md
  wiki/projects/lisa-monorepo.md
  wiki/sources/git/2026-06-14-lisa-monorepo-git.md
  wiki/sources/roles/2026-06-14-roles.md
  wiki/state/git/latest.json
  wiki/state/roles/latest.json
Due: prettier --write

test(hooks): pin non-mutating lint on edit
  plugins/lisa-copilot/rules/eager/base-rules.md
  plugins/lisa-copilot/rules/reference/base-rules.md
  plugins/lisa-cursor/rules/base-rules-reference.mdc
  plugins/lisa-cursor/rules/base-rules.mdc
  plugins/lisa/rules/eager/base-rules.md
  plugins/lisa/rules/reference/base-rules.md
  plugins/src/base/rules/eager/base-rules.md
  plugins/src/base/rules/reference/base-rules.md
  tests/unit/hooks/lint-on-edit.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(vitest): make .claude/worktrees exclusion cwd-aware
  src/configs/vitest/base.ts
  src/configs/vitest/nestjs.ts
  src/configs/vitest/typescript.ts
  tests/unit/config/vitest-base.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(mutation-testing): add configurable opt-in mutation gate for TS and Rails
  .github/workflows/quality-rails.yml
  .github/workflows/quality.yml
  cdk/package-lisa/package.lisa.json
  expo/create-only/stryker.conf.json
  expo/package-lisa/package.lisa.json
  nestjs/package-lisa/package.lisa.json
  rails/copy-contents/scripts/lisa-mutation.sh
  rails/copy-overwrite/Gemfile.lisa
  rails/copy-overwrite/lefthook.yml
  rails/create-only/.mutant.yml
  rails/create-only/mutation.gate.yml
  typescript/copy-contents/.husky/pre-push
  typescript/copy-contents/scripts/lisa-mutation.mjs
  typescript/create-only/mutation.gate.json
  typescript/create-only/stryker.conf.json
  typescript/package-lisa/package.lisa.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: enforce fix-before-ignore hook policy
  plugins/lisa-agy/hooks/block-no-verify.agy.sh
  plugins/lisa-copilot/hooks/block-no-verify.sh
  plugins/lisa-copilot/rules/eager/base-rules.md
  plugins/lisa-copilot/rules/eager/security-audit-handling.md
  plugins/lisa-copilot/rules/reference/base-rules.md
  plugins/lisa-copilot/rules/reference/security-audit-handling.md
  plugins/lisa-cursor/hooks/block-no-verify.sh
  plugins/lisa-cursor/rules/base-rules-reference.mdc
  plugins/lisa-cursor/rules/base-rules.mdc
  plugins/lisa-cursor/rules/security-audit-handling-reference.mdc
  plugins/lisa-cursor/rules/security-audit-handling.mdc
  plugins/lisa/hooks/block-no-verify.agy.sh
  plugins/lisa/hooks/block-no-verify.sh
  plugins/lisa/rules/eager/base-rules.md
  plugins/lisa/rules/eager/security-audit-handling.md
  plugins/lisa/rules/reference/base-rules.md
  plugins/lisa/rules/reference/security-audit-handling.md
  plugins/src/base/hooks/block-no-verify.agy.sh
  plugins/src/base/hooks/block-no-verify.sh
  plugins/src/base/rules/eager/base-rules.md
  plugins/src/base/rules/eager/security-audit-handling.md
  plugins/src/base/rules/reference/base-rules.md
  plugins/src/base/rules/reference/security-audit-handling.md
  src/codex/scripts/block-no-verify.sh
  tests/unit/hooks/block-no-verify.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(pm): detect & respect project package manager; scope bun audit to prod (SE-5221)
  .claude-pr/.husky/pre-push
  .husky/pre-push
  plugins/lisa-agy/skills/generate-claude-remote-build-script/SKILL.md
  plugins/lisa-copilot/hooks/install-pkgs.sh
  plugins/lisa-copilot/skills/generate-claude-remote-build-script/SKILL.md
  plugins/lisa-cursor/hooks/install-pkgs.sh
  plugins/lisa-cursor/skills/generate-claude-remote-build-script/SKILL.md
  plugins/lisa/hooks/install-pkgs.sh
  plugins/lisa/skills/generate-claude-remote-build-script/SKILL.md
  plugins/src/base/hooks/install-pkgs.sh
  plugins/src/base/skills/generate-claude-remote-build-script/SKILL.md
  scripts/claude-remote-setup.sh
  src/codex/scripts/install-pkgs.sh
  src/utils/package-manager-detect.ts
  src/utils/postinstall-trampoline.ts
  tests/unit/utils/postinstall-trampoline.test.ts
  typescript/copy-contents/.husky/pre-push
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs: document Harper Fabric build deploy semantics
  plugins/lisa-harper-fabric-agy/skills/harper-build-and-deploy/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-build-and-deploy/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-build-and-deploy/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-build-and-deploy/SKILL.md
  plugins/src/harper-fabric/skills/harper-build-and-deploy/SKILL.md
Due: prettier --write

docs: deepen Harper config extension guidance
  plugins/lisa-harper-fabric-agy/skills/harper-config-yaml/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-config-yaml/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-config-yaml/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-config-yaml/SKILL.md
  plugins/src/harper-fabric/skills/harper-config-yaml/SKILL.md
Due: prettier --write

docs: pin Harper schema guidance
  bun.lock
  package.json
  plugins/lisa-harper-fabric-agy/skills/harper-schema-graphql/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-schema-graphql/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-schema-graphql/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-schema-graphql/SKILL.md
  plugins/src/harper-fabric/skills/harper-schema-graphql/SKILL.md
Due: prettier --write

feat(harper-fabric): add testing skill
  plugins/lisa-harper-fabric-agy/skills/harper-testing/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-testing/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-testing/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-testing/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-testing/agents/openai.yaml
  plugins/src/harper-fabric/skills/harper-testing/SKILL.md
Due: prettier --write

feat(harper-fabric): add REST query skill
  plugins/lisa-harper-fabric-agy/skills/harper-rest-queries/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-rest-queries/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-rest-queries/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-rest-queries/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-rest-queries/agents/openai.yaml
  plugins/src/harper-fabric/skills/harper-rest-queries/SKILL.md
Due: prettier --write

feat(harper-fabric): add operations skill
  plugins/lisa-harper-fabric-agy/skills/harper-operations/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-operations/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-operations/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-operations/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-operations/agents/openai.yaml
  plugins/src/harper-fabric/skills/harper-operations/SKILL.md
Due: prettier --write

feat(harper-fabric): add harper auth skill
  plugins/lisa-harper-fabric-agy/skills/harper-auth/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-auth/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-auth/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-auth/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-auth/agents/openai.yaml
  plugins/src/harper-fabric/skills/harper-auth/SKILL.md
Due: prettier --write
