Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

fix(remote-aws): clear stale session token
  plugins/lisa-agy/scripts/remote-agent-aws-setup.sh
  plugins/lisa-copilot/scripts/remote-agent-aws-setup.sh
  plugins/lisa-cursor/scripts/remote-agent-aws-setup.sh
  plugins/lisa/scripts/remote-agent-aws-setup.sh
  plugins/src/base/scripts/remote-agent-aws-setup.sh
  tests/unit/strategies/remote-agent-aws-setup.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(rules): add history-audit rule for behavior-removal changes
  plugins/lisa-copilot/rules/eager/history-audit.md
  plugins/lisa-copilot/rules/reference/history-audit.md
  plugins/lisa-cursor/rules/history-audit-reference.mdc
  plugins/lisa-cursor/rules/history-audit.mdc
  plugins/lisa/rules/eager/history-audit.md
  plugins/lisa/rules/reference/history-audit.md
  plugins/src/base/rules/eager/history-audit.md
  plugins/src/base/rules/reference/history-audit.md
Due: prettier --write

test(ui): add live status browser regression
  bun.lock
  package.json
  playwright.config.ts
  tests/e2e/fixtures/ui-live-status-server.ts
  tests/e2e/ui-live-status.spec.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

perf(postinstall): dedupe applies and version-gate plugin sync
  all/copy-contents/gitignore
  scripts/install-claude-plugins.sh
  src/core/lisa.ts
  tests/unit/scripts/install-claude-plugins-self.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(ui): show remote environment readiness
  src/cli/ui-cmd.ts
  tests/unit/cli/ui-cmd.test.ts
  ui/README.md
  ui/index.html
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

test(ui): record live status verification evidence
  evidence/1537/authenticated-real-values.png
  evidence/1537/probe-failure-degrades-not-fabricates.png
  evidence/1537/unauthenticated-unknown-states.png
Due: none

docs(plan): reconcile live browser verification
  .lisa/plan-1537.md
Due: prettier --write

fix(deps): promote js-yaml to a runtime dependency
  .gitignore
  bun.lock
  package.json
Due: prettier --write

fix(release): retry changelog push after rebase
  .github/workflows/release.yml
  tests/unit/config/release-push-retry.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(ui): make remote requirements project-aware
  plugins/lisa-agy/skills/lisa-generate-claude-remote-build-script/SKILL.md
  plugins/lisa-copilot/skills/lisa-generate-claude-remote-build-script/SKILL.md
  plugins/lisa-cursor/skills/lisa-generate-claude-remote-build-script/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-generate-claude-remote-build-script/SKILL.md
  plugins/lisa/skills/lisa-generate-claude-remote-build-script/SKILL.md
  plugins/src/base/skills/lisa-generate-claude-remote-build-script/SKILL.md
  src/cli/remote-environment-catalog.ts
  src/cli/remote-environment-contract.ts
  src/cli/remote-environment-detection.ts
  src/cli/remote-environment.ts
  src/cli/ui-cmd.ts
  tests/unit/cli/ui-cmd.test.ts
  tests/unit/strategies/claude-remote-substrates.test.ts
  ui/README.md
  ui/index.html
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(ui): render readonly console affordances
  tests/e2e/ui-readonly-affordance.spec.ts
  ui/index.html
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: add secure lisa ui config write endpoint
  src/cli/ui-cmd.ts
  src/cli/ui-config-write.ts
  tests/unit/cli/ui-config-write.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: harden lisa ui config writes
  src/cli/ui-config-write.ts
  tests/unit/cli/ui-config-write.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(hardening): self-hardening rework-triage loop
  plugins/lisa-agy/agents/learner.md
  plugins/lisa-agy/agents/learnings-synthesizer.md
  plugins/lisa-agy/commands/lisa/rework-triage.md
  plugins/lisa-agy/skills/lisa-debrief-apply/SKILL.md
  plugins/lisa-agy/skills/lisa-rework-triage/SKILL.md
  plugins/lisa-agy/skills/lisa-ticket-triage/SKILL.md
  plugins/lisa-copilot/agents/learner.agent.md
  plugins/lisa-copilot/agents/learnings-synthesizer.agent.md
  plugins/lisa-copilot/commands/lisa/rework-triage.md
  plugins/lisa-copilot/skills/lisa-debrief-apply/SKILL.md
  plugins/lisa-copilot/skills/lisa-rework-triage/SKILL.md
  plugins/lisa-copilot/skills/lisa-ticket-triage/SKILL.md
  plugins/lisa-cursor/agents/learner.md
  plugins/lisa-cursor/agents/learnings-synthesizer.md
  plugins/lisa-cursor/commands/lisa/rework-triage.md
  plugins/lisa-cursor/skills/lisa-debrief-apply/SKILL.md
  plugins/lisa-cursor/skills/lisa-rework-triage/SKILL.md
  plugins/lisa-cursor/skills/lisa-ticket-triage/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-debrief-apply/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-rework-triage/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-rework-triage/agents/openai.yaml
  plugins/lisa/.codex-plugin/skills/lisa-ticket-triage/SKILL.md
  plugins/lisa/agents/learner.md
  plugins/lisa/agents/learnings-synthesizer.md
  plugins/lisa/commands/rework-triage.md
  plugins/lisa/skills/lisa-debrief-apply/SKILL.md
  plugins/lisa/skills/lisa-rework-triage/SKILL.md
  plugins/lisa/skills/lisa-rework-triage/agents/openai.yaml
  plugins/lisa/skills/lisa-ticket-triage/SKILL.md
  plugins/src/base/agents/learner.md
  plugins/src/base/agents/learnings-synthesizer.md
  plugins/src/base/commands/rework-triage.md
  plugins/src/base/skills/lisa-debrief-apply/SKILL.md
  plugins/src/base/skills/lisa-rework-triage/SKILL.md
  plugins/src/base/skills/lisa-ticket-triage/SKILL.md
  tests/unit/strategies/rework-triage-skill.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(hardening): address CodeRabbit review on rework-triage
  plugins/lisa-agy/skills/lisa-debrief-apply/SKILL.md
  plugins/lisa-agy/skills/lisa-rework-triage/SKILL.md
  plugins/lisa-copilot/skills/lisa-debrief-apply/SKILL.md
  plugins/lisa-copilot/skills/lisa-rework-triage/SKILL.md
  plugins/lisa-cursor/skills/lisa-debrief-apply/SKILL.md
  plugins/lisa-cursor/skills/lisa-rework-triage/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-debrief-apply/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-rework-triage/SKILL.md
  plugins/lisa/skills/lisa-debrief-apply/SKILL.md
  plugins/lisa/skills/lisa-rework-triage/SKILL.md
  plugins/src/base/skills/lisa-debrief-apply/SKILL.md
  plugins/src/base/skills/lisa-rework-triage/SKILL.md
  tests/unit/strategies/rework-triage-skill.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(qa): address CodeRabbit review on QA skill family
  plugins/lisa-agy/skills/lisa-qa-checklist/SKILL.md
  plugins/lisa-agy/skills/lisa-qa-clear/SKILL.md
  plugins/lisa-agy/skills/lisa-qa-fail/SKILL.md
  plugins/lisa-copilot/skills/lisa-qa-checklist/SKILL.md
  plugins/lisa-copilot/skills/lisa-qa-clear/SKILL.md
  plugins/lisa-copilot/skills/lisa-qa-fail/SKILL.md
  plugins/lisa-cursor/skills/lisa-qa-checklist/SKILL.md
  plugins/lisa-cursor/skills/lisa-qa-clear/SKILL.md
  plugins/lisa-cursor/skills/lisa-qa-fail/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-qa-checklist/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-qa-clear/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-qa-fail/SKILL.md
  plugins/lisa/skills/lisa-qa-checklist/SKILL.md
  plugins/lisa/skills/lisa-qa-clear/SKILL.md
  plugins/lisa/skills/lisa-qa-fail/SKILL.md
  plugins/src/base/skills/lisa-qa-checklist/SKILL.md
  plugins/src/base/skills/lisa-qa-clear/SKILL.md
  plugins/src/base/skills/lisa-qa-fail/SKILL.md
Due: prettier --write

fix: make postinstall bootstrap idempotent
  src/migrations/ensure-lisa-postinstall.ts
  src/strategies/copy-contents.ts
  src/strategies/copy-overwrite.ts
  tests/integration/lisa.test.ts
  tests/unit/migrations/ensure-lisa-postinstall.test.ts
  tests/unit/strategies/copy-overwrite.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(ui): add lisa-version probe reusing doctor checkVersion
  src/cli/doctor.ts
  src/cli/ui-cmd.ts
  src/cli/ui-lisa-version.ts
  tests/unit/cli/ui-cmd.test.ts
  tests/unit/cli/ui-lisa-version-probe.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(ui): wire top-bar #healthChip to lisa-version status
  tests/e2e/ui-version-status.spec.ts
  ui/index.html
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore(plan): record #1546 roster, plan, and local ui verification learnings
  .claude/rules/PROJECT_RULES.md
  .lisa/plan-1546.md
  .lisa/roster.md
  AGENTS.md
Due: prettier --write
