Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix, prettier --write

chore: migrate lint-staged config to standalone file
  .husky/pre-commit
  .lintstagedrc.json
  eslint.base.ts
  eslint.config.ts
  eslint.ignore.config.json
  eslint.slow.config.ts
  eslint.thresholds.json
  typescript/copy-contents/.husky/pre-commit
Due: eslint --quiet --cache --fix, prettier --write

refactor(typescript): migrate TypeScript template ESLint configs to .ts
  typescript/copy-overwrite/commitlint.config.cjs
  typescript/copy-overwrite/eslint.base.ts
  typescript/copy-overwrite/eslint.config.mjs
  typescript/copy-overwrite/eslint.config.ts
  typescript/copy-overwrite/eslint.slow.config.ts
  typescript/copy-overwrite/eslint.typescript.ts
  typescript/copy-overwrite/knip.json
  typescript/create-only/eslint.config.local.ts
  typescript/create-only/eslint.thresholds.json
Due: eslint --quiet --cache --fix, prettier --write

refactor(expo): migrate Expo template ESLint configs to .ts
  expo/copy-overwrite/eslint.config.mjs
  expo/copy-overwrite/eslint.config.ts
  expo/copy-overwrite/eslint.expo.ts
  expo/copy-overwrite/eslint.slow.config.ts
  expo/copy-overwrite/knip.json
Due: eslint --quiet --cache --fix, prettier --write

refactor(nestjs): add NestJS template ESLint TypeScript configs
  nestjs/copy-overwrite/eslint.config.ts
  nestjs/copy-overwrite/eslint.nestjs.ts
Due: eslint --quiet --cache --fix, prettier --write

refactor(cdk): add CDK template ESLint TypeScript configs
  cdk/copy-overwrite/eslint.cdk.ts
  cdk/copy-overwrite/eslint.config.ts
  cdk/copy-overwrite/knip.json
Due: eslint --quiet --cache --fix, prettier --write

chore: add knip configuration for dead code detection
  knip.json
Due: prettier --write

chore: add knip dead code detection and update dependencies
  bun.lock
  package.json
  typescript/merge/package.json
Due: prettier --write

feat(hooks): add knip dead code detection to pre-push hook
  typescript/copy-contents/.husky/pre-push
Due: none

feat(ci): add dead code detection job to quality workflow
  typescript/copy-overwrite/.github/workflows/quality.yml
Due: prettier --write

refactor(commands): restructure PR review command with todo workflow
  .claude/commands/pull-request/review.md
Due: prettier --write

chore(deps): update knip to ^5.82.0
  bun.lock
  package.json
Due: prettier --write

refactor(commands): update PR review template with todo workflow
  all/copy-overwrite/.claude/commands/pull-request/review.md
Due: prettier --write

feat(ci): add dead code detection job to Lisa's quality workflow
  .github/workflows/quality.yml
Due: prettier --write

refactor(ci): simplify dead_code job to run knip directly
  .github/workflows/quality.yml
  typescript/copy-overwrite/.github/workflows/quality.yml
Due: prettier --write

fix: add missing TypeScript type annotations for function parameters
  eslint.base.ts
  expo/copy-overwrite/eslint.config.ts
  typescript/copy-overwrite/eslint.base.ts
Due: eslint --quiet --cache --fix, prettier --write

fix: add type annotations for all config function parameters
  cdk/copy-overwrite/eslint.cdk.ts
  cdk/copy-overwrite/eslint.config.ts
  eslint.base.ts
  eslint.config.ts
  expo/copy-overwrite/eslint.config.ts
  expo/copy-overwrite/eslint.expo.ts
  expo/merge/package.json
  nestjs/copy-overwrite/eslint.config.ts
  nestjs/copy-overwrite/eslint.nestjs.ts
  typescript/copy-overwrite/eslint.base.ts
  typescript/copy-overwrite/eslint.config.ts
  typescript/copy-overwrite/eslint.typescript.ts
Due: eslint --quiet --cache --fix, prettier --write

fix: add null safety for eslint import plugin settings
  eslint.slow.config.ts
  typescript/copy-overwrite/eslint.slow.config.ts
Due: eslint --quiet --cache --fix, prettier --write

fix: add null safety for expo eslint.slow.config.ts
  expo/copy-overwrite/eslint.slow.config.ts
Due: eslint --quiet --cache --fix, prettier --write

feat: add sonarjs/deprecation rule to slow ESLint configs
  eslint.slow.config.ts
  expo/copy-overwrite/eslint.slow.config.ts
Due: eslint --quiet --cache --fix, prettier --write

chore(deps): bump tar from ^7.5.3 to ^7.5.6
  expo/merge/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --cache --fix: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
