Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(eslint): register sonarjs plugin in slow config files
  eslint.ignore.config.json
  eslint.slow.config.ts
  expo/copy-overwrite/eslint.slow.config.ts
  typescript/copy-overwrite/eslint.slow.config.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: add Lisa managed file headers to hooks
  .claude/hooks/format-on-edit.sh
  .claude/hooks/install_pkgs.sh
  .claude/hooks/lint-on-edit.sh
  .claude/hooks/notify-ntfy.sh
  .claude/hooks/sg-scan-on-edit.sh
Due: none

chore: add Lisa managed file headers to skill scripts
  .claude/skills/skill-creator/scripts/init_skill.py
  .claude/skills/skill-creator/scripts/package_skill.py
  .claude/skills/skill-creator/scripts/quick_validate.py
Due: none

chore: add Lisa managed file headers to GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/create-github-issue-on-failure.yml
  .github/workflows/create-issue-on-failure.yml
  .github/workflows/create-jira-issue-on-failure.yml
  .github/workflows/create-sentry-issue-on-failure.yml
  .github/workflows/lint-slow.yml
  .github/workflows/publish-to-npm.yml
  .github/workflows/quality.yml
  .github/workflows/release.yml
Due: prettier --write

chore: add Lisa managed file headers to ESLint and config files
  commitlint.config.cjs
  eslint-plugin-code-organization/__tests__/enforce-statement-order.test.js
  eslint-plugin-code-organization/index.js
  eslint-plugin-code-organization/rules/enforce-statement-order.js
  eslint.base.ts
  eslint.config.ts
  eslint.slow.config.ts
  eslint.typescript.ts
  tsconfig.eslint.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: add Lisa managed file headers to misc config files
  .gitleaksignore
  .nvmrc
  .prettierignore
  .yamllint
  sgconfig.yml
Due: prettier --write

chore: update eslint ignore and lisa manifest
  .github/dependabot.yml
  .lisa-manifest
  eslint.ignore.config.json
Due: prettier --write

fix: remove Lisa header from .nvmrc files
  .nvmrc
  typescript/copy-overwrite/.nvmrc
Due: none

chore: update docker-compose to docker compose V2 syntax
  nestjs/copy-overwrite/.github/k6/README.md
  nestjs/merge/package.json
Due: prettier --write

chore: expand knip ignoreDependencies for NestJS projects
  typescript/copy-overwrite/knip.json
Due: prettier --write

fix: exclude template directories from ESLint in local config
  eslint.config.local.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: add test coverage agent and slash command
  .claude/agents/test-coverage-agent.md
  .claude/commands/project/add-test-coverage.md
  all/copy-overwrite/.claude/agents/test-coverage-agent.md
  all/copy-overwrite/.claude/commands/project/add-test-coverage.md
Due: prettier --write

fix: use specific glob pattern for config files in ESLint tsconfig
  tsconfig.eslint.json
Due: prettier --write

chore: update lisa manifest with test coverage files
  .lisa-manifest
Due: none

chore: enable auto-invoke for test coverage agent
  .claude/agents/test-coverage-agent.md
  all/copy-overwrite/.claude/agents/test-coverage-agent.md
Due: prettier --write

fix: correct docker compose filename references
  nestjs/copy-overwrite/.github/k6/README.md
  typescript/copy-overwrite/knip.json
Due: prettier --write

fix: include eslint.*.ts files in tsconfig.eslint.json
  cdk/copy-overwrite/tsconfig.eslint.json
  tsconfig.eslint.json
  typescript/copy-overwrite/tsconfig.eslint.json
Due: prettier --write

docs: add comprehensive task management system documentation
  docs/task-management-system.md
Due: prettier --write

docs: add Future Enhancements section to README
  README.md
Due: prettier --write

chore: update knip config with comprehensive dependency ignores
  .lisa-manifest
  knip.json
Due: prettier --write

Path conditions:
  eslint --quiet --cache --fix --config eslint.config.ts: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
