Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(skill): respect engines.bun=please-use-npm in lisa-update-projects (#398)
  .claude/skills/lisa-update-projects/SKILL.md
Due: prettier --write

feat(rules): hoist orchestration selection to prevent task-list bypass
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/commands/build.md
  plugins/lisa/commands/fix.md
  plugins/lisa/commands/improve.md
  plugins/lisa/commands/plan.md
  plugins/lisa/commands/research.md
  plugins/lisa/rules/base-rules.md
  plugins/lisa/rules/intent-routing.md
  plugins/src/base/commands/build.md
  plugins/src/base/commands/fix.md
  plugins/src/base/commands/improve.md
  plugins/src/base/commands/plan.md
  plugins/src/base/commands/research.md
  plugins/src/base/rules/base-rules.md
  plugins/src/base/rules/intent-routing.md
Due: prettier --write

feat(rules): hoist orchestration selection to prevent task-list bypass (#399)
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/commands/build.md
  plugins/lisa/commands/fix.md
  plugins/lisa/commands/improve.md
  plugins/lisa/commands/plan.md
  plugins/lisa/commands/research.md
  plugins/lisa/rules/base-rules.md
  plugins/lisa/rules/intent-routing.md
  plugins/src/base/commands/build.md
  plugins/src/base/commands/fix.md
  plugins/src/base/commands/improve.md
  plugins/src/base/commands/plan.md
  plugins/src/base/commands/research.md
  plugins/src/base/rules/base-rules.md
  plugins/src/base/rules/intent-routing.md
Due: prettier --write

feat(ci): add optional Playwright sharding and Expo build cache
  .github/workflows/quality.yml
Due: prettier --write

feat(ci): add optional Playwright sharding and Expo build cache (#400)
  .github/workflows/quality.yml
Due: prettier --write

feat(ci): add expo create-only forwarding, merge-reports job, and integration test
  .github/workflows/quality.yml
  bun.lock
  expo/create-only/.github/workflows/ci.yml
  package.json
  tests/integration/quality-workflow.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(ci): rename aggregator to unsuffixed "🎭 Playwright E2E Tests" check
  .github/workflows/quality.yml
  tests/integration/quality-workflow.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(ci): forward shard/cache inputs in expo create-only, add merge-reports job + integration test [SE-4551][SE-4552] (#401)
  .github/workflows/quality.yml
  bun.lock
  expo/create-only/.github/workflows/ci.yml
  package.json
  tests/integration/quality-workflow.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(hooks,ci): resolve local bins in TS hooks; gate Playwright aggregator on has_config
  .github/workflows/quality.yml
  plugins/lisa-typescript/hooks/format-on-edit.sh
  plugins/lisa-typescript/hooks/lint-on-edit.sh
  plugins/src/typescript/hooks/format-on-edit.sh
  plugins/src/typescript/hooks/lint-on-edit.sh
  tests/integration/quality-workflow.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(hooks,ci): resolve local bins in TS hooks; gate Playwright aggregator on has_config (#404)
  .github/workflows/quality.yml
  plugins/lisa-typescript/hooks/format-on-edit.sh
  plugins/lisa-typescript/hooks/lint-on-edit.sh
  plugins/src/typescript/hooks/format-on-edit.sh
  plugins/src/typescript/hooks/lint-on-edit.sh
  tests/integration/quality-workflow.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(expo,rules): add playwright-ci-debugging skill; codify branch-protection rule
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-expo/skills/playwright-ci-debugging/SKILL.md
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/rules/base-rules.md
  plugins/src/base/rules/base-rules.md
  plugins/src/expo/skills/playwright-ci-debugging/SKILL.md
Due: prettier --write

feat(expo,rules): add playwright-ci-debugging skill; codify branch-protection rule (#405)
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-expo/skills/playwright-ci-debugging/SKILL.md
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/rules/base-rules.md
  plugins/src/base/rules/base-rules.md
  plugins/src/expo/skills/playwright-ci-debugging/SKILL.md
Due: prettier --write

feat(migrations): relocate project-specific audit exclusions to local file
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  src/migrations/ensure-audit-ignore-local-exclusions.ts
  src/migrations/index.ts
  tests/unit/migrations/ensure-audit-ignore-local-exclusions.test.ts
  tests/unit/migrations/migration-registry.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(migrations): relocate project-specific audit exclusions to local file (#406)
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  src/migrations/ensure-audit-ignore-local-exclusions.ts
  src/migrations/index.ts
  tests/unit/migrations/ensure-audit-ignore-local-exclusions.test.ts
  tests/unit/migrations/migration-registry.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(ci): fail playwright aggregator when any shard fails
  .github/workflows/quality.yml
Due: prettier --write

fix(ci): fail playwright aggregator when any shard fails (#408)
  .github/workflows/quality.yml
Due: prettier --write

feat(skills): preserve PRD source artifacts across generated tickets
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-expo/skills/jira-create/SKILL.md
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-rails/skills/jira-create/SKILL.md
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/skills/jira-create/SKILL.md
  plugins/lisa/skills/jira-write-ticket/SKILL.md
  plugins/lisa/skills/notion-to-jira/SKILL.md
  plugins/src/base/skills/jira-create/SKILL.md
  plugins/src/base/skills/jira-write-ticket/SKILL.md
  plugins/src/base/skills/notion-to-jira/SKILL.md
  plugins/src/expo/skills/jira-create/SKILL.md
  plugins/src/rails/skills/jira-create/SKILL.md
Due: prettier --write

feat(skills): preserve PRD source artifacts across generated tickets (#409)
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-expo/skills/jira-create/SKILL.md
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-rails/skills/jira-create/SKILL.md
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/skills/jira-create/SKILL.md
  plugins/lisa/skills/jira-write-ticket/SKILL.md
  plugins/lisa/skills/notion-to-jira/SKILL.md
  plugins/src/base/skills/jira-create/SKILL.md
  plugins/src/base/skills/jira-write-ticket/SKILL.md
  plugins/src/base/skills/notion-to-jira/SKILL.md
  plugins/src/expo/skills/jira-create/SKILL.md
  plugins/src/rails/skills/jira-create/SKILL.md
Due: prettier --write

chore(security): ignore @xmldom/xmldom advisories unreachable via expo plist tooling
  typescript/copy-overwrite/audit.ignore.config.json
Due: prettier --write

feat(husky): add .husky/pre-push.local extension slot
  typescript/copy-contents/.husky/pre-push
  typescript/create-only/.husky/pre-push.local
Due: none

chore(security): ignore @xmldom/xmldom advisories unreachable via expo plist tooling (#411)
  typescript/copy-overwrite/audit.ignore.config.json
Due: prettier --write

feat(husky): add .husky/pre-push.local extension slot (#412)
  typescript/copy-contents/.husky/pre-push
  typescript/create-only/.husky/pre-push.local
Due: none

feat(coderabbit): acknowledge nits without code changes
  .github/workflows/reusable-claude-code-review-response.yml
Due: prettier --write

feat(coderabbit): acknowledge nits without code changes (#413)
  .github/workflows/reusable-claude-code-review-response.yml
Due: prettier --write

feat(jira): enforce ticket pre-flight gate for env, sign-in, scope, and relationships
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/agents/jira-agent.md
  plugins/lisa/rules/base-rules.md
  plugins/lisa/skills/jira-verify/SKILL.md
  plugins/lisa/skills/jira-write-ticket/SKILL.md
  plugins/lisa/skills/ticket-triage/SKILL.md
  plugins/src/base/agents/jira-agent.md
  plugins/src/base/rules/base-rules.md
  plugins/src/base/skills/jira-verify/SKILL.md
  plugins/src/base/skills/jira-write-ticket/SKILL.md
  plugins/src/base/skills/ticket-triage/SKILL.md
Due: prettier --write

feat(jira): enforce ticket pre-flight gate for env, sign-in, scope, and relationships (#414)
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/agents/jira-agent.md
  plugins/lisa/rules/base-rules.md
  plugins/lisa/skills/jira-verify/SKILL.md
  plugins/lisa/skills/jira-write-ticket/SKILL.md
  plugins/lisa/skills/ticket-triage/SKILL.md
  plugins/src/base/agents/jira-agent.md
  plugins/src/base/rules/base-rules.md
  plugins/src/base/skills/jira-verify/SKILL.md
  plugins/src/base/skills/jira-write-ticket/SKILL.md
  plugins/src/base/skills/ticket-triage/SKILL.md
Due: prettier --write

feat(codex): add OpenAI Codex CLI as a target harness
  bun.lock
  package.json
  src/cli/index.ts
  src/codex/agent-installer.ts
  src/codex/agent-transformer.ts
  src/codex/agents-md-installer.ts
  src/codex/hooks-installer.ts
  src/codex/hooks-merger.ts
  src/codex/manifest.ts
  src/codex/scripts/block-migration-edits.sh
  src/codex/scripts/format-on-edit.sh
  src/codex/scripts/inject-rules.sh
  src/codex/scripts/lint-on-edit.sh
  src/codex/scripts/notify-ntfy.sh
  src/codex/scripts/rubocop-on-edit.sh
  src/codex/scripts/sg-scan-on-edit.sh
  src/codex/settings-installer.ts
  src/codex/skills-installer.ts
  src/core/config.ts
  src/core/lisa.ts
  src/core/project-config.ts
  tests/unit/codex/agent-installer.test.ts
  tests/unit/codex/agent-transformer.test.ts
  tests/unit/codex/agents-md-installer.test.ts
  tests/unit/codex/convert-command-to-skill.test.ts
  tests/unit/codex/hooks-installer.test.ts
  tests/unit/codex/hooks-merger.test.ts
  tests/unit/codex/manifest.test.ts
  tests/unit/codex/settings-installer.test.ts
  tests/unit/codex/skills-installer.test.ts
  tests/unit/core/project-config.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(codex): address CodeRabbit review on #416
  src/cli/index.ts
  src/codex/agent-installer.ts
  src/codex/scripts/block-migration-edits.sh
  src/codex/scripts/format-on-edit.sh
  src/codex/scripts/inject-rules.sh
  src/codex/scripts/lint-on-edit.sh
  src/codex/scripts/rubocop-on-edit.sh
  src/codex/scripts/sg-scan-on-edit.sh
  src/codex/settings-installer.ts
  src/codex/skills-installer.ts
  src/core/lisa.ts
  src/core/project-config.ts
  tests/integration/lisa.test.ts
  tests/unit/strategies/copy-contents.test.ts
  tests/unit/strategies/copy-overwrite.test.ts
  tests/unit/strategies/create-only.test.ts
  tests/unit/strategies/merge.test.ts
  tests/unit/strategies/package-lisa.test.ts
  tests/unit/strategies/tagged-merge.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

Path conditions:
  eslint --quiet --cache --fix --config eslint.config.ts: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
