Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

style: fix JSDoc formatting in eslint config files
  eslint.config.ts
  eslint.slow.config.ts
  eslint.typescript.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: remove //lisa-* tags from knip.json template
  typescript/copy-overwrite/knip.json
Due: prettier --write

chore: update lisa manifest and add package.lisa.json
  .lisa-manifest
  package.json.bak
  package.lisa.json
Due: prettier --write

chore: remove deprecated files and configurations
  .claude/hooks/pre-push.sh
  all/copy-overwrite/.claude/hooks/pre-push.sh
  cdk/tagged-merge/bin/infrastructure.js
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: update CI/CD workflows and pre-push hooks
  .github/workflows/quality.yml
  .husky/pre-push
  typescript/copy-contents/.husky/pre-push
  typescript/copy-overwrite/.github/workflows/quality.yml
Due: prettier --write

chore: update knip configuration
  typescript/copy-overwrite/knip.json
Due: prettier --write

chore(cdk): add globals to knip ignored dependencies
  cdk/copy-overwrite/knip.json
Due: prettier --write

chore(cdk): add ignoreBinaries to knip configuration
  cdk/copy-overwrite/knip.json
Due: prettier --write

chore(cdk): add tsx to knip ignoreDependencies
  cdk/copy-overwrite/knip.json
Due: prettier --write

chore(expo): bump tar from 7.5.6 to 7.5.7
  expo/tagged-merge/package.lisa.json
Due: prettier --write

chore(eslint): improve slow config with parser optimizations
  expo/copy-overwrite/eslint.slow.config.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore(expo): update knip and package configs for eslint optimization
  expo/copy-overwrite/knip.json
  expo/tagged-merge/package.lisa.json
Due: prettier --write

chore(config): update lisa manifest and add globals to knip ignore
  .lisa-manifest
  knip.json
Due: prettier --write

fix(scripts): add production branches to protected list
  scripts/cleanup-amplify-branches.sh
Due: none

chore(knip): simplify config by disabling devDependencies rule
  cdk/copy-overwrite/knip.json
  expo/copy-overwrite/knip.json
  knip.json
  typescript/copy-overwrite/knip.json
Due: prettier --write

fix(package-lisa): move templates to package-lisa directory
  cdk/package-lisa/package.lisa.json
  expo/package-lisa/package.lisa.json
  nestjs/package-lisa/package.lisa.json
  npm-package/package-lisa/package.lisa.json
  src/strategies/package-lisa.ts
  tests/unit/strategies/package-lisa.test.ts
  typescript/package-lisa/package.lisa.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs: update references to new package-lisa directory structure
  .claude/rules/PROJECT_RULES.md
  README.md
  specs/package-lisa-json.md
Due: prettier --write

docs(readme): fix remaining tagged-merge reference in How It Works section
  README.md
Due: prettier --write

fix(package-lisa): translate package.lisa.json destPath to package.json
  src/strategies/package-lisa.ts
  tests/unit/strategies/package-lisa.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(skills): remove prompt-complexity-scorer skill
  .claude/skills/prompt-complexity-scorer/SKILL.md
  CLAUDE.md
  all/copy-overwrite/.claude/skills/prompt-complexity-scorer/SKILL.md
  all/copy-overwrite/CLAUDE.md
  all/deletions.json
Due: prettier --write

docs: update documentation after prompt-complexity-scorer removal
  .claude/README.md
  README.md
  all/copy-overwrite/.claude/README.md
  tasks-test-plan.md
Due: prettier --write

Path conditions:
  eslint --quiet --cache --fix --config eslint.config.ts: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
