Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

chore: minor
  package.json
  typescript/merge/package.json
Due: prettier --write

chore(lisa): update configuration and management files
  .claude/REFERENCE.md
  .claude/settings.json
  .gitleaksignore
  .lisa-manifest
  .lisaignore
Due: prettier --write

docs(setup-command): clarify brief.md file handling instructions
  .claude/commands/project/setup.md
  all/copy-overwrite/.claude/commands/project/setup.md
Due: prettier --write

docs: add empirical verification rule
  .claude/rules/verfication.md
  all/copy-overwrite/.claude/rules/verfication.md
Due: prettier --write

docs: improve verification section in plan template
  .claude/commands/project/plan.md
  all/copy-overwrite/.claude/commands/project/plan.md
Due: prettier --write

refactor(workflows): consolidate lint-slow into quality.yml and add pre-push hook
  .claude/hooks/README.md
  .claude/hooks/pre-push.sh
  .github/workflows/lint-slow.yml
  .github/workflows/quality.yml
  all/copy-overwrite/.claude/hooks/README.md
  all/copy-overwrite/.claude/hooks/pre-push.sh
  typescript/copy-overwrite/.github/workflows/lint-slow.yml
  typescript/copy-overwrite/.github/workflows/quality.yml
Due: prettier --write

chore: refactor dependencies
  README.md
  bun.lock
  cdk/copy-overwrite/eslint.slow.config.ts
  cdk/copy-overwrite/knip.json
  cdk/merge/package.json
  cdk/tagged-merge/package.json
  eslint.slow.config.ts
  expo/copy-overwrite/eslint.slow.config.ts
  expo/copy-overwrite/knip.json
  expo/tagged-merge/package.json
  knip.json
  nestjs/tagged-merge/package.json
  npm-package/merge/package.json
  npm-package/tagged-merge/package.json
  package.json
  specs/tagged-merge.md
  typescript/copy-overwrite/eslint.slow.config.ts
  typescript/copy-overwrite/knip.json
  typescript/tagged-merge/package.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore(project): setup 2026-01-28-tagged-merge project
  projects/2026-01-28-tagged-merge/brief.md
  projects/2026-01-28-tagged-merge/findings.md
Due: prettier --write

chore: clean up legacy project files and backups
  package.json.bak
  projects/2026-01-24-add-websockets/tasks/1.json
  projects/2026-01-24-add-websockets/tasks/10.json
  projects/2026-01-24-add-websockets/tasks/11.json
  projects/2026-01-24-add-websockets/tasks/2.json
  projects/2026-01-24-add-websockets/tasks/3.json
  projects/2026-01-24-add-websockets/tasks/4.json
  projects/2026-01-24-add-websockets/tasks/5.json
  projects/2026-01-24-add-websockets/tasks/6.json
  projects/2026-01-24-add-websockets/tasks/7.json
  projects/2026-01-24-add-websockets/tasks/8.json
  projects/2026-01-24-add-websockets/tasks/9.json
Due: prettier --write

docs(research): comprehensive analysis of tagged-merge implementation path
  projects/2026-01-28-tagged-merge/research.md
Due: prettier --write

docs(project): comprehensive debrief of tagged-merge implementation
  README.md
  projects/2026-01-28-tagged-merge/doc-targets.json
  projects/2026-01-28-tagged-merge/findings.md
  projects/2026-01-28-tagged-merge/research.md
  projects/2026-01-28-tagged-merge/tasks/01-core-strategy-implementation.md
  projects/2026-01-28-tagged-merge/tasks/02-tag-parsing-logic.md
  projects/2026-01-28-tagged-merge/tasks/03-force-behavior.md
  projects/2026-01-28-tagged-merge/tasks/04-defaults-behavior.md
  projects/2026-01-28-tagged-merge/tasks/05-array-merge-behavior.md
  projects/2026-01-28-tagged-merge/tasks/06-json-reconstruction.md
  projects/2026-01-28-tagged-merge/tasks/07-strategy-registration.md
  projects/2026-01-28-tagged-merge/tasks/08-unit-tests-core.md
  projects/2026-01-28-tagged-merge/tasks/09-unit-tests-force.md
  projects/2026-01-28-tagged-merge/tasks/10-unit-tests-defaults.md
  projects/2026-01-28-tagged-merge/tasks/11-unit-tests-merge.md
  projects/2026-01-28-tagged-merge/tasks/12-unit-tests-complex.md
  projects/2026-01-28-tagged-merge/tasks/13-integration-tests.md
  projects/2026-01-28-tagged-merge/tasks/14-test-coverage-validation.md
  projects/2026-01-28-tagged-merge/tasks/15-type-safety-linting.md
  projects/2026-01-28-tagged-merge/tasks/16-documentation.md
  src/core/config.ts
  src/core/lisa.ts
  src/strategies/index.ts
  src/strategies/tagged-merge-types.ts
  src/strategies/tagged-merge.ts
  tests/unit/strategies/tagged-merge.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore(project): archive completed tagged-merge project
  projects/archive/2026-01-28-tagged-merge/brief.md
  projects/archive/2026-01-28-tagged-merge/doc-targets.json
  projects/archive/2026-01-28-tagged-merge/findings.md
  projects/archive/2026-01-28-tagged-merge/research.md
  projects/archive/2026-01-28-tagged-merge/tasks/01-core-strategy-implementation.md
  projects/archive/2026-01-28-tagged-merge/tasks/02-tag-parsing-logic.md
  projects/archive/2026-01-28-tagged-merge/tasks/03-force-behavior.md
  projects/archive/2026-01-28-tagged-merge/tasks/04-defaults-behavior.md
  projects/archive/2026-01-28-tagged-merge/tasks/05-array-merge-behavior.md
  projects/archive/2026-01-28-tagged-merge/tasks/06-json-reconstruction.md
  projects/archive/2026-01-28-tagged-merge/tasks/07-strategy-registration.md
  projects/archive/2026-01-28-tagged-merge/tasks/08-unit-tests-core.md
  projects/archive/2026-01-28-tagged-merge/tasks/09-unit-tests-force.md
  projects/archive/2026-01-28-tagged-merge/tasks/10-unit-tests-defaults.md
  projects/archive/2026-01-28-tagged-merge/tasks/11-unit-tests-merge.md
  projects/archive/2026-01-28-tagged-merge/tasks/12-unit-tests-complex.md
  projects/archive/2026-01-28-tagged-merge/tasks/13-integration-tests.md
  projects/archive/2026-01-28-tagged-merge/tasks/14-test-coverage-validation.md
  projects/archive/2026-01-28-tagged-merge/tasks/15-type-safety-linting.md
  projects/archive/2026-01-28-tagged-merge/tasks/16-documentation.md
Due: prettier --write

chore(rules): consolidate CLAUDE.md instructions and update eslint config reference
  CLAUDE.md
  all/copy-overwrite/CLAUDE.md
Due: prettier --write

chore(scripts): exclude slow lint rules from status checks
  scripts/github-status-check.sh
Due: none

fix: address PR #105 review comments from CodeRabbit
  cdk/tagged-merge/bin/infrastructure.js
  expo/tagged-merge/package.json
  projects/archive/2026-01-28-tagged-merge/research.md
  projects/archive/2026-01-28-tagged-merge/tasks/16-documentation.md
  specs/tagged-merge.md
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(scripts): use contains() for slow lint rules filter
  scripts/github-status-check.sh
Due: none

fix(tagged-merge): support nested tags in objects
  src/strategies/tagged-merge.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore(lisa): update manifest with latest applied configurations
  .lisa-manifest
  eslint.slow.config.ts
  npm-package/copy-overwrite/.github/workflows/publish-to-npm.yml
  package.json
  typescript/tagged-merge/package.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore(knip): ignore jest dependencies pending migration
  knip.json
Due: prettier --write

fix(knip): remove tagged-merge comments from source repo devDependencies
  knip.json
  package.json
Due: prettier --write

feat: migrate from vitest to jest
  bun.lock
  jest.config.ts
  knip.json
  package.json
  tests/helpers/test-utils.ts
  tests/integration/lisa.test.ts
  tests/unit/core/manifest.test.ts
  tests/unit/detection/detectors.test.ts
  tests/unit/strategies/copy-contents.test.ts
  tests/unit/strategies/copy-overwrite.test.ts
  tests/unit/strategies/create-only.test.ts
  tests/unit/strategies/merge.test.ts
  tests/unit/strategies/tagged-merge.test.ts
  tests/unit/transaction/backup.test.ts
  tests/unit/utils/file-operations.test.ts
  tests/unit/utils/ignore-patterns.test.ts
  typescript/copy-overwrite/knip.json
  vitest.config.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write
