Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

feat: update deletions.json to clean downstream projects on next lisa run
  all/deletions.json
  expo/deletions.json
  nestjs/deletions.json
  rails/deletions.json
  typescript/deletions.json
Due: prettier --write

docs: update lisa.md template and .lisa-manifest for plugin architecture
  .lisa-manifest
  all/copy-overwrite/.claude/rules/lisa.md
Due: prettier --write

docs: update plan status for Phase 2 & 3 plugin wiring
  plans/dreamy-churning-valiant.md
Due: prettier --write

feat: distribute quality/release workflows from Lisa repo via @main references
  all/copy-overwrite/.claude/rules/lisa.md
  cdk/create-only/.github/workflows/ci.yml
  cdk/create-only/.github/workflows/deploy.yml
  expo/create-only/.github/workflows/ci.yml
  expo/create-only/.github/workflows/deploy.yml
  nestjs/create-only/.github/workflows/ci.yml
  nestjs/create-only/.github/workflows/deploy.yml
  rails/create-only/.github/workflows/ci.yml
  src/core/lisa.ts
  typescript/create-only/.github/workflows/ci.yml
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs: update plan status for reusable workflows implementation
  plans/dreamy-churning-valiant.md
Due: prettier --write

feat: publish ESLint plugins as scoped @codyswann/ npm packages
  .claude/rules/lisa.md
  .lisa-manifest
  all/copy-overwrite/.claude/rules/lisa.md
  bun.lock
  eslint-plugin-code-organization/package.json
  eslint-plugin-component-structure/README.md
  eslint-plugin-component-structure/__tests__/plugin-index.test.js
  eslint-plugin-component-structure/__tests__/require-memo-in-view.test.js
  eslint-plugin-component-structure/__tests__/single-component-per-file.test.js
  eslint-plugin-component-structure/index.js
  eslint-plugin-component-structure/package.json
  eslint-plugin-component-structure/rules/enforce-component-structure.js
  eslint-plugin-component-structure/rules/no-return-in-view.js
  eslint-plugin-component-structure/rules/require-memo-in-view.js
  eslint-plugin-component-structure/rules/single-component-per-file.js
  eslint-plugin-ui-standards/README.md
  eslint-plugin-ui-standards/index.js
  eslint-plugin-ui-standards/package.json
  eslint-plugin-ui-standards/rules/no-classname-outside-ui.js
  eslint-plugin-ui-standards/rules/no-direct-rn-imports.js
  eslint.typescript.ts
  expo/copy-overwrite/eslint.expo.ts
  expo/deletions.json
  expo/package-lisa/package.lisa.json
  npm-package/copy-overwrite/.github/workflows/publish-to-npm.yml
  package.json
  plans/dreamy-churning-valiant.md
  typescript/copy-overwrite/eslint-plugin-code-organization/README.md
  typescript/copy-overwrite/eslint-plugin-code-organization/__tests__/enforce-statement-order.test.js
  typescript/copy-overwrite/eslint-plugin-code-organization/index.js
  typescript/copy-overwrite/eslint-plugin-code-organization/package.json
  typescript/copy-overwrite/eslint-plugin-code-organization/rules/enforce-statement-order.js
  typescript/copy-overwrite/eslint.typescript.ts
  typescript/deletions.json
  typescript/package-lisa/package.lisa.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: add publishable ESLint/Jest config factories and tsconfig exports
  src/configs/eslint/base.ts
  src/configs/eslint/cdk.ts
  src/configs/eslint/expo.ts
  src/configs/eslint/index.ts
  src/configs/eslint/nestjs.ts
  src/configs/eslint/slow.ts
  src/configs/eslint/typescript.ts
  src/configs/jest/base.ts
  src/configs/jest/cdk.ts
  src/configs/jest/expo.ts
  src/configs/jest/index.ts
  src/configs/jest/nestjs.ts
  src/configs/jest/typescript.ts
  tsconfig/base.json
  tsconfig/build.json
  tsconfig/cdk.json
  tsconfig/eslint.json
  tsconfig/expo.json
  tsconfig/nestjs.json
  tsconfig/spec.json
  tsconfig/typescript.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: update package.json with exports map, bin entry, and dep restructuring
  bun.lock
  package.json
Due: prettier --write

feat: convert all stack templates to thin @codyswann/lisa wrapper imports
  cdk/copy-overwrite/eslint.config.ts
  cdk/copy-overwrite/eslint.slow.config.ts
  cdk/copy-overwrite/jest.config.ts
  cdk/copy-overwrite/tsconfig.json
  cdk/package-lisa/package.lisa.json
  expo/copy-overwrite/eslint.config.ts
  expo/copy-overwrite/eslint.slow.config.ts
  expo/copy-overwrite/jest.config.ts
  expo/copy-overwrite/tsconfig.json
  expo/package-lisa/package.lisa.json
  nestjs/copy-overwrite/eslint.config.ts
  nestjs/copy-overwrite/eslint.slow.config.ts
  nestjs/copy-overwrite/jest.config.ts
  nestjs/copy-overwrite/tsconfig.json
  nestjs/package-lisa/package.lisa.json
  typescript/copy-overwrite/eslint.base.ts
  typescript/copy-overwrite/eslint.config.ts
  typescript/copy-overwrite/eslint.slow.config.ts
  typescript/copy-overwrite/eslint.typescript.ts
  typescript/copy-overwrite/jest.base.ts
  typescript/copy-overwrite/jest.config.ts
  typescript/copy-overwrite/jest.typescript.ts
  typescript/copy-overwrite/tsconfig.base.json
  typescript/copy-overwrite/tsconfig.json
  typescript/copy-overwrite/tsconfig.typescript.json
  typescript/deletions.json
  typescript/package-lisa/package.lisa.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: move setup-deploy-key.sh to Lisa bin and schedule removal from hosts
  all/create-only/scripts/setup-deploy-key.sh
  all/deletions.json
Due: prettier --write

docs: add installable devdependency implementation plan
  plans/swirling-forging-shore.md
Due: prettier --write

fix: trigger install-pkgs hook on missing node_modules instead of remote env
  .claude/hooks/install-pkgs.sh
  plugins/lisa-cdk/hooks/install-pkgs.sh
  plugins/lisa-expo/hooks/install-pkgs.sh
  plugins/lisa-nestjs/hooks/install-pkgs.sh
  plugins/lisa-typescript/hooks/install-pkgs.sh
Due: none

fix: add tool/config dependencies to knip ignoreDependencies
  knip.json
Due: prettier --write

docs: add implementation plan for plugin auto-install and deduplication
  plans/crystalline-nibbling-brook.md
Due: prettier --write

feat: run lisa update and strip hooks in postinstall; bump devDep to ^1.49.0
  cdk/package-lisa/package.lisa.json
  expo/package-lisa/package.lisa.json
  nestjs/package-lisa/package.lisa.json
  scripts/install-claude-plugins.sh
  typescript/package-lisa/package.lisa.json
Due: prettier --write

chore: update plan file for postinstall migration
  plans/crystalline-nibbling-brook.md
Due: prettier --write

fix: publish workspace ESLint plugins to npm in release workflow
  .github/workflows/deploy.yml
Due: prettier --write

fix: bundle ESLint workspace plugins into @codyswann/lisa tarball
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

fix: inline ESLint workspace plugins as local files in the Lisa package
  package.json
  src/configs/eslint/expo.ts
  src/configs/eslint/typescript.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: add --skip-git-check flag to bypass dirty git check during postinstall
  scripts/install-claude-plugins.sh
  src/cli/index.ts
  src/core/config.ts
  src/core/lisa.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: remove file:./eslint-plugin-code-organization from downstream template
  package.lisa.json
Due: prettier --write

fix: update expo template imports to use @codyswann/lisa package paths
  expo/copy-overwrite/eslint.expo.ts
  expo/copy-overwrite/jest.expo.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: add moduleNameMapper for @codyswann/lisa self-referencing imports in tests
  jest.config.local.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: add codyswann eslint workspace plugins to knip ignoreDependencies
  knip.json
Due: prettier --write

fix: restore react-native import/ignore and set sonarjs/deprecation off in slow config
  src/configs/eslint/slow.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write
