Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

test(rails): add Rails detector unit tests
  tests/unit/detection/detectors.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore(rails): add rails/ to package.json files array
  package.json
Due: prettier --write

feat(rails): add complete rails/ governance pack
  rails/copy-contents/Gemfile
  rails/copy-overwrite/.claude/rules/lisa.md
  rails/copy-overwrite/.claude/rules/rails-conventions.md
  rails/copy-overwrite/.claude/skills/plan-add-test-coverage/SKILL.md
  rails/copy-overwrite/.claude/skills/plan-fix-linter-error/SKILL.md
  rails/copy-overwrite/.claude/skills/plan-lower-code-complexity/SKILL.md
  rails/copy-overwrite/.claude/skills/plan-reduce-max-lines-per-function/SKILL.md
  rails/copy-overwrite/.claude/skills/plan-reduce-max-lines/SKILL.md
  rails/copy-overwrite/.rubocop.yml
  rails/copy-overwrite/CLAUDE.md
  rails/copy-overwrite/Gemfile.lisa
  rails/copy-overwrite/lefthook.yml
  rails/create-only/.github/workflows/quality.yml
  rails/create-only/.reek.yml
  rails/create-only/.rspec
  rails/create-only/.rubocop.local.yml
  rails/create-only/.simplecov
  rails/create-only/sonar-project.properties
  rails/create-only/spec/rails_helper.rb
  rails/create-only/spec/spec_helper.rb
  rails/deletions.json
Due: prettier --write

test(rails): add integration tests for Rails stack application
  tests/helpers/test-utils.ts
  tests/integration/lisa.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs(rails): add @module JSDoc preamble to Rails detector
  src/detection/detectors/rails.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

refactor(rails): simplify templates and tests
  rails/copy-overwrite/lefthook.yml
  rails/create-only/.simplecov
  rails/create-only/spec/rails_helper.rb
  rails/create-only/spec/spec_helper.rb
  tests/helpers/test-utils.ts
  tests/integration/lisa.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: archive delightful-napping-lemon plan
  claude-review.md
  plans/completed/delightful-napping-lemon/rails-stack.md
  plans/completed/delightful-napping-lemon/tasks/1.json
  plans/completed/delightful-napping-lemon/tasks/10.json
  plans/completed/delightful-napping-lemon/tasks/11.json
  plans/completed/delightful-napping-lemon/tasks/12.json
  plans/completed/delightful-napping-lemon/tasks/13.json
  plans/completed/delightful-napping-lemon/tasks/14.json
  plans/completed/delightful-napping-lemon/tasks/15.json
  plans/completed/delightful-napping-lemon/tasks/16.json
  plans/completed/delightful-napping-lemon/tasks/17.json
  plans/completed/delightful-napping-lemon/tasks/18.json
  plans/completed/delightful-napping-lemon/tasks/19.json
  plans/completed/delightful-napping-lemon/tasks/2.json
  plans/completed/delightful-napping-lemon/tasks/20.json
  plans/completed/delightful-napping-lemon/tasks/21.json
  plans/completed/delightful-napping-lemon/tasks/22.json
  plans/completed/delightful-napping-lemon/tasks/23.json
  plans/completed/delightful-napping-lemon/tasks/3.json
  plans/completed/delightful-napping-lemon/tasks/4.json
  plans/completed/delightful-napping-lemon/tasks/5.json
  plans/completed/delightful-napping-lemon/tasks/6.json
  plans/completed/delightful-napping-lemon/tasks/7.json
  plans/completed/delightful-napping-lemon/tasks/8.json
  plans/completed/delightful-napping-lemon/tasks/9.json
Due: prettier --write

feat(rails): add mise and CI wrapper governance templates
  rails/create-only/.github/workflows/ci.yml
  rails/create-only/.github/workflows/quality.yml
  rails/create-only/.mise.toml
  tests/helpers/test-utils.ts
  tests/integration/lisa.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: cleanup unused plans
  .claude/commands/lisa/update-projects.md
  plans/cozy-honking-quilt.md
  plans/foamy-swinging-squid.md
  plans/iridescent-imagining-pixel.md
  plans/zany-toasting-elephant.md
  qualis-homepage-verification.png
Due: prettier --write

feat(rails): add semantic versioning with VERSION file and release workflow
  rails/copy-overwrite/.claude/rules/lisa.md
  rails/copy-overwrite/.versionrc
  rails/copy-overwrite/config/initializers/version.rb
  rails/create-only/.github/workflows/release.yml
  rails/create-only/VERSION
Due: prettier --write

feat(rails): add active-record-model-best-practices skill
  rails/copy-overwrite/.claude/skills/active-record-model-best-practices/SKILL.md
Due: prettier --write

fix(rails): improve CI template defaults from downstream learnings
  rails/create-only/.github/workflows/quality.yml
  rails/create-only/.reek.yml
  rails/create-only/.rubocop.local.yml
Due: prettier --write

fix(rails): use deploy key and support staging in release workflow
  rails/create-only/.github/workflows/release.yml
Due: prettier --write

feat(rails): add action-controller and action-view best practices skills
  rails/copy-overwrite/.claude/skills/action-controller-best-practices/SKILL.md
  rails/copy-overwrite/.claude/skills/action-view-best-practices/SKILL.md
Due: prettier --write

docs: add agent team delegation rule to CLAUDE.md templates
  CLAUDE.md
  all/copy-overwrite/CLAUDE.md
  rails/copy-overwrite/CLAUDE.md
Due: prettier --write

chore: add qualis staging version display screenshot
  qualis-staging-version-display.png
Due: none

feat: replace fibonacci sequence generator with fresh TDD implementation
  src/utils/fibonacci.ts
  tests/unit/utils/fibonacci.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: optimize agent team configuration
  .claude/agents/agent-architect.md
  .claude/agents/spec-analyst.md
  .claude/agents/tech-reviewer.md
  .claude/agents/test-coverage-agent.md
  .claude/rules/plan-governance.md
  .claude/rules/plan.md
  .claude/settings.json
  .claude/skills/plan-create/SKILL.md
  .claude/skills/plan-implement/SKILL.md
  all/copy-overwrite/.claude/agents/agent-architect.md
  all/copy-overwrite/.claude/agents/test-coverage-agent.md
Due: prettier --write

docs: update eslint-disable example to use tuple pattern
  .claude/rules/PROJECT_RULES.md
Due: prettier --write

feat: add plan execute command and .entire config
  .claude/commands/plan/execute.md
  .entire/.gitignore
  .entire/settings.json
Due: prettier --write
