Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: add Vitest templates, governance, CI/CD, and plugin updates (#297)
  .claude/skills/lisa-integration-test/SKILL.md
  .claude/skills/lisa-learn/SKILL.md
  .github/GITHUB_ACTIONS.md
  .github/workflows/reusable-claude-nightly-test-coverage.yml
  all/copy-contents/.gitignore
  cdk/package-lisa/package.lisa.json
  expo/package-lisa/package.lisa.json
  nestjs/copy-overwrite/jest.config.ts
  nestjs/copy-overwrite/jest.nestjs.ts
  nestjs/copy-overwrite/vitest.config.ts
  nestjs/copy-overwrite/vitest.nestjs.ts
  nestjs/create-only/vitest.config.local.ts
  nestjs/create-only/vitest.thresholds.json
  nestjs/deletions.json
  nestjs/package-lisa/package.lisa.json
  package.lisa.json
  plugins/lisa-typescript/rules/lisa.md
  plugins/src/typescript/rules/lisa.md
  typescript/copy-overwrite/jest.config.ts
  typescript/copy-overwrite/vitest.config.ts
  typescript/create-only/vitest.config.local.ts
  typescript/create-only/vitest.thresholds.json
  typescript/deletions.json
  typescript/package-lisa/package.lisa.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: dogfood Lisa v1.65.0 — complete Vitest migration for Lisa repo
  .claude/commands/lisa/integration-test.md
  .claude/commands/lisa/learn.md
  .claude/commands/lisa/review-implementation.md
  .claude/commands/lisa/review-project.md
  .claude/commands/lisa/update-projects.md
  .claude/settings.json
  .github/GITHUB_ACTIONS.md
  audit.ignore.config.json
  audit.ignore.local.json
  bun.lock
  jest.config.local.ts
  jest.config.ts
  jest.thresholds.json
  knip.json
  package.json
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-rails/rules/lisa.md
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  tsconfig.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: dogfood Lisa v1.65.0 — complete Vitest migration (#298)
  .claude/commands/lisa/integration-test.md
  .claude/commands/lisa/learn.md
  .claude/commands/lisa/review-implementation.md
  .claude/commands/lisa/review-project.md
  .claude/commands/lisa/update-projects.md
  .claude/settings.json
  .github/GITHUB_ACTIONS.md
  audit.ignore.config.json
  audit.ignore.local.json
  bun.lock
  jest.config.local.ts
  jest.config.ts
  jest.thresholds.json
  knip.json
  package.json
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-rails/rules/lisa.md
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  tsconfig.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: prevent TypeScript vitest migration from deleting Jest configs in CDK/Expo stacks
  cdk/deletions.json
  expo/deletions.json
  typescript/deletions.json
Due: prettier --write

fix: prevent TypeScript vitest migration from deleting Jest configs in CDK/Expo stacks (#299)
  cdk/deletions.json
  expo/deletions.json
  typescript/deletions.json
Due: prettier --write

fix: prevent vitest devDependencies and test:watch script from bleeding into CDK/Expo stacks
  cdk/package-lisa/package.lisa.json
  expo/package-lisa/package.lisa.json
  npm-package/package-lisa/package.lisa.json
  typescript/package-lisa/package.lisa.json
Due: prettier --write

fix: prevent vitest devDependencies and test:watch script from bleeding into CDK/Expo stacks (#300)
  cdk/package-lisa/package.lisa.json
  expo/package-lisa/package.lisa.json
  npm-package/package-lisa/package.lisa.json
  typescript/package-lisa/package.lisa.json
Due: prettier --write

feat: add Vitest support for CDK stack
  cdk/copy-overwrite/jest.cdk.ts
  cdk/copy-overwrite/jest.config.ts
  cdk/copy-overwrite/vitest.cdk.ts
  cdk/copy-overwrite/vitest.config.ts
  cdk/create-only/vitest.config.local.ts
  cdk/create-only/vitest.thresholds.json
  cdk/deletions.json
  cdk/package-lisa/package.lisa.json
  package.json
  plans/joyful-sleeping-pelican.md
  src/configs/vitest/cdk.ts
  src/configs/vitest/index.ts
  tests/unit/config/vitest-cdk.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: add Vitest support for CDK stack (#301)
  cdk/copy-overwrite/jest.cdk.ts
  cdk/copy-overwrite/jest.config.ts
  cdk/copy-overwrite/vitest.cdk.ts
  cdk/copy-overwrite/vitest.config.ts
  cdk/create-only/vitest.config.local.ts
  cdk/create-only/vitest.thresholds.json
  cdk/deletions.json
  cdk/package-lisa/package.lisa.json
  package.json
  plans/joyful-sleeping-pelican.md
  src/configs/vitest/cdk.ts
  src/configs/vitest/index.ts
  tests/unit/config/vitest-cdk.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: add --passWithNoTests to test:integration scripts
  cdk/package-lisa/package.lisa.json
  nestjs/package-lisa/package.lisa.json
  typescript/package-lisa/package.lisa.json
Due: prettier --write

fix: add --passWithNoTests to test:integration vitest scripts (#302)
  bun.lock
  cdk/package-lisa/package.lisa.json
  nestjs/package-lisa/package.lisa.json
  package.json
  typescript/package-lisa/package.lisa.json
Due: prettier --write

fix: upstream template fixes from api-creator onboarding
  .github/workflows/claude-ci-auto-fix.yml
  CLAUDE.md
  expo-upgrade.md
  npm-package/create-only/.github/workflows/publish-to-npm.yml
  plans/inherited-singing-cocke.md
  plans/toasty-singing-donut.md
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-rails/agents/ops-specialist.md
  plugins/lisa-rails/skills/ops-check-logs/SKILL.md
  plugins/lisa-rails/skills/ops-deploy/SKILL.md
  plugins/lisa-rails/skills/ops-run-local/SKILL.md
  plugins/lisa-rails/skills/ops-verify-jobs/SKILL.md
  plugins/lisa-rails/skills/ops-verify-telemetry/SKILL.md
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  typescript/copy-overwrite/.prettierignore
  typescript/create-only/.github/workflows/claude-ci-auto-fix.yml
Due: prettier --write

fix: upstream template fixes from api-creator onboarding (#303)
  .github/workflows/claude-ci-auto-fix.yml
  CLAUDE.md
  expo-upgrade.md
  npm-package/create-only/.github/workflows/publish-to-npm.yml
  plans/inherited-singing-cocke.md
  plans/toasty-singing-donut.md
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-rails/agents/ops-specialist.md
  plugins/lisa-rails/skills/ops-check-logs/SKILL.md
  plugins/lisa-rails/skills/ops-deploy/SKILL.md
  plugins/lisa-rails/skills/ops-run-local/SKILL.md
  plugins/lisa-rails/skills/ops-verify-jobs/SKILL.md
  plugins/lisa-rails/skills/ops-verify-telemetry/SKILL.md
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  typescript/copy-overwrite/.prettierignore
  typescript/create-only/.github/workflows/claude-ci-auto-fix.yml
Due: prettier --write

fix: skip AI co-authorship check for release commits
  typescript/copy-contents/.husky/commit-msg
Due: none

fix: skip AI co-authorship check for release commits (#304)
  typescript/copy-contents/.husky/commit-msg
Due: none

feat: move plugin rules to copy-overwrite for native .claude/rules loading
  all/copy-overwrite/.claude/rules/base-rules.md
  all/copy-overwrite/.claude/rules/coding-philosophy.md
  all/copy-overwrite/.claude/rules/verification.md
  expo/copy-overwrite/.claude/rules/expo-verification.md
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-rails/rules/lisa.md
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa-typescript/rules/lisa.md
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/rules/README.md
  plugins/src/base/.claude-plugin/plugin.json
  plugins/src/base/rules/README.md
  plugins/src/base/rules/coding-philosophy.md
  plugins/src/base/rules/verfication.md
  plugins/src/expo/.claude-plugin/plugin.json
  plugins/src/expo/rules/expo-verification.md
  plugins/src/rails/.claude-plugin/plugin.json
  plugins/src/rails/rules/lisa.md
  plugins/src/rails/rules/rails-conventions.md
  plugins/src/typescript/.claude-plugin/plugin.json
  plugins/src/typescript/rules/lisa.md
  rails/copy-overwrite/.claude/rules/rails-conventions.md
Due: prettier --write

chore: update cdk and nestjs plugin versions from build
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
Due: prettier --write

feat: move plugin rules to copy-overwrite for native .claude/rules loading (#305)
  all/copy-overwrite/.claude/rules/base-rules.md
  all/copy-overwrite/.claude/rules/coding-philosophy.md
  all/copy-overwrite/.claude/rules/verification.md
  expo/copy-overwrite/.claude/rules/expo-verification.md
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-rails/rules/lisa.md
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa-typescript/rules/lisa.md
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/rules/README.md
  plugins/src/base/.claude-plugin/plugin.json
  plugins/src/base/rules/README.md
  plugins/src/base/rules/coding-philosophy.md
  plugins/src/base/rules/verfication.md
  plugins/src/expo/.claude-plugin/plugin.json
  plugins/src/expo/rules/expo-verification.md
  plugins/src/rails/.claude-plugin/plugin.json
  plugins/src/rails/rules/lisa.md
  plugins/src/rails/rules/rails-conventions.md
  plugins/src/typescript/.claude-plugin/plugin.json
  plugins/src/typescript/rules/lisa.md
  rails/copy-overwrite/.claude/rules/rails-conventions.md
Due: prettier --write

fix: test:integration pattern for nestjs and typescript template defaults
  nestjs/package-lisa/package.lisa.json
  plugins/src/base/agents/verification-specialist.md
  typescript/package-lisa/package.lisa.json
Due: prettier --write

fix: test:integration pattern for nestjs and typescript template defaults (#306)
  nestjs/package-lisa/package.lisa.json
  plugins/src/base/agents/verification-specialist.md
  typescript/package-lisa/package.lisa.json
Due: prettier --write

fix: exclude test files from typescript tsconfig template
  typescript/copy-overwrite/tsconfig.json
Due: prettier --write

fix: exclude test files from typescript tsconfig template (#307)
  typescript/copy-overwrite/tsconfig.json
Due: prettier --write

fix: use glob pattern for coverage directory in eslint ignore
  typescript/copy-overwrite/eslint.ignore.config.json
Due: prettier --write

fix: use glob pattern for coverage directory in eslint ignore (#308)
  typescript/copy-overwrite/eslint.ignore.config.json
Due: prettier --write

Path conditions:
  eslint --quiet --cache --fix --config eslint.config.ts: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
