Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(github): fleet-baseline ruleset templates and refreshed apply script
  all/github-rulesets/base.json
  all/github-rulesets/prevent-delete.json
  all/github-rulesets/protect-tags.json
  cdk/github-rulesets/cdk-validation.json
  expo/github-rulesets/playwright.json
  rails/github-rulesets/quality-checks.json
  scripts/lisa-github-rulesets.sh
  tests/unit/scripts/lisa-github-rulesets.test.ts
  typescript/github-rulesets/base.json
  typescript/github-rulesets/quality-checks.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(github): repo settings baseline, governance orchestrator, deploy-key --yes
  scripts/lisa-github-repo-settings.sh
  scripts/lisa-github-repo-setup.sh
  scripts/setup-deploy-key.sh
  tests/unit/scripts/github-governance.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(scripts): merged-only branch cleanup and repo-level worktree cleanup
  scripts/cleanup-github-branches.sh
  scripts/cleanup-local-merged-branches.sh
  scripts/cleanup-worktrees.sh
Due: none

feat(plugins): lisa-setup-github-repo skill and /lisa:setup:github-repo command
  plugins/lisa-agy/commands/lisa/setup/github-repo.md
  plugins/lisa-agy/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa-copilot/commands/lisa/setup/github-repo.md
  plugins/lisa-copilot/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa-cursor/commands/lisa/setup/github-repo.md
  plugins/lisa-cursor/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-setup-github-repo/agents/openai.yaml
  plugins/lisa/commands/lisa/setup/github-repo.md
  plugins/lisa/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa/skills/lisa-setup-github-repo/agents/openai.yaml
  plugins/src/base/commands/lisa/setup/github-repo.md
  plugins/src/base/skills/lisa-setup-github-repo/SKILL.md
Due: prettier --write

fix: address CodeRabbit review feedback
  plugins/lisa-agy/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa-copilot/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa-cursor/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa/skills/lisa-setup-github-repo/SKILL.md
  plugins/src/base/skills/lisa-setup-github-repo/SKILL.md
  scripts/cleanup-github-branches.sh
  scripts/cleanup-worktrees.sh
  scripts/lisa-github-repo-settings.sh
Due: prettier --write

fix(github): harden governance scripts against real fleet conditions
  scripts/lisa-github-repo-setup.sh
  scripts/lisa-github-rulesets.sh
  scripts/setup-deploy-key.sh
Due: none

fix(github): drop cdk-validation ruleset template
  cdk/github-rulesets/cdk-validation.json
Due: prettier --write

feat(github): per-repo required-check opt-out via .lisa.config.json
  scripts/lisa-github-rulesets.sh
  tests/unit/scripts/github-governance.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(github): default branch resolves to lowest-tier environment branch
  plugins/src/base/skills/lisa-setup-github-repo/SKILL.md
  scripts/lisa-github-repo-settings.sh
  tests/unit/scripts/github-governance.test.ts
  tests/unit/scripts/lisa-github-repo-settings.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore(plugins): sync lisa-setup-github-repo artifacts with source
  plugins/lisa-agy/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa-copilot/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa-cursor/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa/skills/lisa-setup-github-repo/SKILL.md
Due: prettier --write

fix(release): prevent cross-branch tag collisions and make release creation rerun-safe
  .github/workflows/release.yml
  tests/integration/quality-workflow.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(github): provision deployment environments with human-approval gates
  scripts/lisa-github-environments.sh
  scripts/lisa-github-repo-setup.sh
  tests/unit/scripts/lisa-github-environments.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(workflows): wire config-driven approval gates into stack deploy templates
  cdk/create-only/.github/workflows/deploy.yml
  expo/create-only/.github/workflows/deploy.yml
  nestjs/create-only/.github/workflows/deploy.yml
Due: prettier --write

docs(github): document github.environments approval gates
  .github/GITHUB_ACTIONS.md
  plugins/lisa-agy/commands/lisa/setup/github-repo.md
  plugins/lisa-agy/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa-copilot/commands/lisa/setup/github-repo.md
  plugins/lisa-copilot/rules/reference/config-resolution.md
  plugins/lisa-copilot/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa-cursor/commands/lisa/setup/github-repo.md
  plugins/lisa-cursor/rules/config-resolution-reference.mdc
  plugins/lisa-cursor/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa/commands/lisa/setup/github-repo.md
  plugins/lisa/rules/reference/config-resolution.md
  plugins/lisa/skills/lisa-setup-github-repo/SKILL.md
  plugins/src/base/commands/lisa/setup/github-repo.md
  plugins/src/base/rules/reference/config-resolution.md
  plugins/src/base/skills/lisa-setup-github-repo/SKILL.md
  typescript/copy-overwrite/.github/GITHUB_ACTIONS.md
Due: prettier --write

fix(github): harden skill's approval-wiring detection and env verification
  plugins/lisa-agy/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa-copilot/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa-cursor/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-setup-github-repo/SKILL.md
  plugins/lisa/skills/lisa-setup-github-repo/SKILL.md
  plugins/src/base/skills/lisa-setup-github-repo/SKILL.md
Due: prettier --write

feat(ui): add Lisa settings console prototype
  package.json
  ui/README.md
  ui/index.html
Due: prettier --write

feat(sync): make .lisa.config.json the source of truth via lisa sync
  src/cli/sync-cmd.ts
  src/sync/config-sync.ts
  src/sync/json-path.ts
  src/sync/registry.ts
  tests/unit/cli/sync-cmd.test.ts
  tests/unit/sync/config-sync.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(cli): add lisa ui command and wire sync/ui subcommands
  src/cli/index.ts
  src/cli/ui-cmd.ts
  tests/unit/cli/index.test.ts
  tests/unit/cli/ui-cmd.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(ui): add Health section with version status and in-band scan contract
  ui/README.md
  ui/index.html
Due: prettier --write

feat(ui): apply console feedback across CI, deploy, automations, monitoring
  ui/README.md
  ui/index.html
Due: prettier --write

Path conditions:
  eslint --quiet --cache --fix --config eslint.config.ts: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
