Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

chore: remove archived fibonacci plan directories
  plans/completed/fibonacci-bigint-generator/fibonacci-bigint-generator.md
  plans/completed/fibonacci-generator/fibonacci-generator.md
  plans/completed/fibonacci-generator/tasks/.lock
  plans/completed/fibonacci-generator/tasks/1.json
  plans/completed/fibonacci-generator/tasks/10.json
  plans/completed/fibonacci-generator/tasks/11.json
  plans/completed/fibonacci-generator/tasks/12.json
  plans/completed/fibonacci-generator/tasks/13.json
  plans/completed/fibonacci-generator/tasks/14.json
  plans/completed/fibonacci-generator/tasks/15.json
  plans/completed/fibonacci-generator/tasks/16.json
  plans/completed/fibonacci-generator/tasks/17.json
  plans/completed/fibonacci-generator/tasks/18.json
  plans/completed/fibonacci-generator/tasks/19.json
  plans/completed/fibonacci-generator/tasks/2.json
  plans/completed/fibonacci-generator/tasks/20.json
  plans/completed/fibonacci-generator/tasks/21.json
  plans/completed/fibonacci-generator/tasks/22.json
  plans/completed/fibonacci-generator/tasks/3.json
  plans/completed/fibonacci-generator/tasks/4.json
  plans/completed/fibonacci-generator/tasks/5.json
  plans/completed/fibonacci-generator/tasks/6.json
  plans/completed/fibonacci-generator/tasks/7.json
  plans/completed/fibonacci-generator/tasks/8.json
  plans/completed/fibonacci-generator/tasks/9.json
Due: prettier --write

feat: rewrite fibonacci module with bigint generator
  src/utils/fibonacci.ts
  tests/unit/utils/fibonacci.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs: update PROJECT_RULES.md fibonacci examples to bigint
  .claude/rules/PROJECT_RULES.md
Due: prettier --write

test: add error message content verification to fibonacci tests
  tests/unit/utils/fibonacci.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs: update test file preamble to reflect final state
  tests/unit/utils/fibonacci.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs: add learnings from fibonacci rewrite to PROJECT_RULES.md
  .claude/rules/PROJECT_RULES.md
Due: prettier --write

chore: archive fibonacci-generator-rewrite plan
  .claude/skills/plan-create/SKILL.md
  all/copy-overwrite/.claude/skills/plan-create/SKILL.md
  claude-review.md
  plans/completed/fibonacci-generator-rewrite/fibonacci-generator-rewrite.md
  plans/completed/fibonacci-generator-rewrite/tasks/1.json
  plans/completed/fibonacci-generator-rewrite/tasks/10.json
  plans/completed/fibonacci-generator-rewrite/tasks/11.json
  plans/completed/fibonacci-generator-rewrite/tasks/12.json
  plans/completed/fibonacci-generator-rewrite/tasks/13.json
  plans/completed/fibonacci-generator-rewrite/tasks/14.json
  plans/completed/fibonacci-generator-rewrite/tasks/15.json
  plans/completed/fibonacci-generator-rewrite/tasks/16.json
  plans/completed/fibonacci-generator-rewrite/tasks/17.json
  plans/completed/fibonacci-generator-rewrite/tasks/2.json
  plans/completed/fibonacci-generator-rewrite/tasks/3.json
  plans/completed/fibonacci-generator-rewrite/tasks/4.json
  plans/completed/fibonacci-generator-rewrite/tasks/5.json
  plans/completed/fibonacci-generator-rewrite/tasks/6.json
  plans/completed/fibonacci-generator-rewrite/tasks/7.json
  plans/completed/fibonacci-generator-rewrite/tasks/8.json
  plans/completed/fibonacci-generator-rewrite/tasks/9.json
  plans/foamy-swinging-squid.md
Due: prettier --write

fix: add team_name parameter to plan-create agent definitions
  .claude/skills/plan-create/SKILL.md
  all/copy-overwrite/.claude/skills/plan-create/SKILL.md
Due: prettier --write

feat(expo): exclude app routes and View files from test coverage
  expo/copy-overwrite/jest.expo.ts
  tests/unit/config/jest-expo.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

refactor: improve test assertion diagnostics and add upstreaming rule
  .claude/rules/PROJECT_RULES.md
  tests/unit/config/jest-expo.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore: archive expo-coverage-exclusions plan
  .claude/commands/mutation-testing/run.md
  .claude/skills/mutation-testing/SKILL.md
  .coderabbit.yml
  claude-review.md
  plans/completed/expo-coverage-exclusions/expo-coverage-exclusions.md
Due: prettier --write

feat(all): add .coderabbit.yml as copy-overwrite template
  .claude/rules/lisa.md
  all/copy-overwrite/.claude/rules/lisa.md
  all/copy-overwrite/.coderabbit.yml
Due: prettier --write

feat(typescript): add jira-cli to remote environment install hook
  .claude/hooks/install_pkgs.sh
  typescript/copy-overwrite/.claude/hooks/install_pkgs.sh
Due: none

fix(typescript): fix jira-cli tarball extraction in install_pkgs.sh
  .claude/hooks/install_pkgs.sh
  typescript/copy-overwrite/.claude/hooks/install_pkgs.sh
Due: none

feat(all): add setup-jira-cli SessionStart hook for env-based config
  .claude/hooks/setup-jira-cli.sh
  .claude/settings.json
  all/copy-overwrite/.claude/hooks/setup-jira-cli.sh
  all/copy-overwrite/.claude/settings.json
  typescript/copy-overwrite/.claude/settings.json
Due: prettier --write

chore(all): add rule to never lower thresholds to pass pre-push hook
  CLAUDE.md
  all/copy-overwrite/CLAUDE.md
Due: prettier --write

chore(expo): remove atlassian and playwright MCP server entries
  expo/copy-overwrite/.mcp.json
Due: prettier --write

chore: add rails stack plan and requirements
  plans/delightful-napping-lemon.md
  rails-pack.md
Due: prettier --write

feat(rails): add Rails project type and detector
  src/core/config.ts
  src/detection/detectors/rails.ts
  src/detection/index.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

test(rails): add Rails detector unit tests
  tests/unit/detection/detectors.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write
