Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: require auditable implement rosters
  plugins/lisa-agy/skills/implement/SKILL.md
  plugins/lisa-copilot/skills/implement/SKILL.md
  plugins/lisa-cursor/skills/implement/SKILL.md
  plugins/lisa/skills/implement/SKILL.md
  plugins/src/base/skills/implement/SKILL.md
Due: prettier --write

fix(skills): require e2e regression execution proof
  plugins/lisa-agy/skills/implement/SKILL.md
  plugins/lisa-agy/skills/tdd-implementation/SKILL.md
  plugins/lisa-agy/skills/verification-lifecycle/SKILL.md
  plugins/lisa-copilot/skills/implement/SKILL.md
  plugins/lisa-copilot/skills/tdd-implementation/SKILL.md
  plugins/lisa-copilot/skills/verification-lifecycle/SKILL.md
  plugins/lisa-cursor/skills/implement/SKILL.md
  plugins/lisa-cursor/skills/tdd-implementation/SKILL.md
  plugins/lisa-cursor/skills/verification-lifecycle/SKILL.md
  plugins/lisa/skills/implement/SKILL.md
  plugins/lisa/skills/tdd-implementation/SKILL.md
  plugins/lisa/skills/verification-lifecycle/SKILL.md
  plugins/src/base/skills/implement/SKILL.md
  plugins/src/base/skills/tdd-implementation/SKILL.md
  plugins/src/base/skills/verification-lifecycle/SKILL.md
Due: prettier --write

fix(codex): expose lisa repair intake skill
  .agents/skills/lisa-repair-intake/SKILL.md
Due: prettier --write

fix: preserve host config during postinstall apply
  src/strategies/copy-overwrite.ts
  src/strategies/merge.ts
  src/strategies/package-lisa.ts
  tests/integration/lisa.test.ts
  tests/unit/strategies/copy-overwrite.test.ts
  tests/unit/strategies/merge.test.ts
  tests/unit/strategies/package-lisa.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs(wiki): ingest Lisa wiki state
  wiki/index.md
  wiki/log.md
  wiki/projects/lisa-monorepo.md
  wiki/sources/git/2026-06-11-lisa-monorepo-git.md
  wiki/sources/roles/2026-06-11-roles.md
  wiki/state/handoff/git-lisa-monorepo-20260611T064711Z.json
  wiki/state/handoff/roles-20260611T064711Z.json
Due: prettier --write

fix(codex): clarify repair intake default invocation
  .agents/skills/lisa-repair-intake/SKILL.md
Due: prettier --write

feat: add harper fabric deploy workflows
  harper-fabric/create-only/.github/workflows/deploy.yml
  harper-fabric/create-only/.github/workflows/zap-baseline.yml
  harper-fabric/create-only/.zap/baseline.conf
  harper-fabric/create-only/scripts/zap-baseline.sh
  plugins/lisa-harper-fabric-agy/skills/harper-build-and-deploy/SKILL.md
  plugins/lisa-harper-fabric-copilot/skills/harper-build-and-deploy/SKILL.md
  plugins/lisa-harper-fabric-cursor/skills/harper-build-and-deploy/SKILL.md
  plugins/lisa-harper-fabric/skills/harper-build-and-deploy/SKILL.md
  plugins/src/harper-fabric/skills/harper-build-and-deploy/SKILL.md
  tests/helpers/test-utils.ts
  tests/integration/lisa.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: block harper generated artifact edits
  harper-fabric/copy-contents/.gitignore
  harper-fabric/copy-contents/.prettierignore
  harper-fabric/copy-overwrite/knip.json
  harper-fabric/copy-overwrite/tsconfig.eslint.json
  harper-fabric/merge/.oxlintrc.json
  oxlint/harper-fabric.json
  plugins/lisa-harper-fabric-agy/generated-artifact-globs.txt
  plugins/lisa-harper-fabric-copilot/.claude-plugin/plugin.json
  plugins/lisa-harper-fabric-copilot/generated-artifact-globs.txt
  plugins/lisa-harper-fabric-copilot/hooks/block-generated-artifact-edits.sh
  plugins/lisa-harper-fabric-cursor/generated-artifact-globs.txt
  plugins/lisa-harper-fabric-cursor/hooks/block-generated-artifact-edits.sh
  plugins/lisa-harper-fabric-cursor/hooks/hooks.json
  plugins/lisa-harper-fabric/.claude-plugin/plugin.json
  plugins/lisa-harper-fabric/.codex-plugin/hooks.json
  plugins/lisa-harper-fabric/generated-artifact-globs.txt
  plugins/lisa-harper-fabric/hooks/block-generated-artifact-edits.sh
  plugins/src/harper-fabric/.claude-plugin/plugin.json
  plugins/src/harper-fabric/generated-artifact-globs.txt
  plugins/src/harper-fabric/hooks/block-generated-artifact-edits.sh
  src/configs/eslint/harper-fabric.ts
  tests/unit/config/harper-fabric-template.test.ts
  tests/unit/hooks/block-generated-artifact-edits.test.ts
  tsconfig/harper-fabric.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(phaser): re-stamp plugin artifacts at v2.160.0 after main merge + clarify skill provenance
  plugins/lisa-phaser-agy/plugin.json
  plugins/lisa-phaser-agy/skills/phaser-v3-migration/SKILL.md
  plugins/lisa-phaser-copilot/.claude-plugin/plugin.json
  plugins/lisa-phaser-copilot/skills/phaser-v3-migration/SKILL.md
  plugins/lisa-phaser-cursor/.claude-plugin/plugin.json
  plugins/lisa-phaser-cursor/skills/phaser-v3-migration/SKILL.md
  plugins/lisa-phaser/.claude-plugin/plugin.json
  plugins/lisa-phaser/.codex-plugin/plugin.json
  plugins/lisa-phaser/skills/phaser-v3-migration/SKILL.md
  plugins/src/phaser/skills/phaser-v3-migration/SKILL.md
Due: prettier --write

feat: guard harper config extension drops
  plugins/lisa-harper-fabric-copilot/.claude-plugin/plugin.json
  plugins/lisa-harper-fabric-copilot/hooks/enforce-config-extensions.mjs
  plugins/lisa-harper-fabric-copilot/hooks/enforce-config-extensions.sh
  plugins/lisa-harper-fabric-copilot/rules/harper-fabric.md
  plugins/lisa-harper-fabric-cursor/hooks/enforce-config-extensions.mjs
  plugins/lisa-harper-fabric-cursor/hooks/enforce-config-extensions.sh
  plugins/lisa-harper-fabric-cursor/hooks/hooks.json
  plugins/lisa-harper-fabric-cursor/rules/harper-fabric.mdc
  plugins/lisa-harper-fabric/.claude-plugin/plugin.json
  plugins/lisa-harper-fabric/.codex-plugin/hooks.json
  plugins/lisa-harper-fabric/hooks/enforce-config-extensions.mjs
  plugins/lisa-harper-fabric/hooks/enforce-config-extensions.sh
  plugins/lisa-harper-fabric/rules/harper-fabric.md
  plugins/src/harper-fabric/.claude-plugin/plugin.json
  plugins/src/harper-fabric/hooks/enforce-config-extensions.mjs
  plugins/src/harper-fabric/hooks/enforce-config-extensions.sh
  plugins/src/harper-fabric/rules/harper-fabric.md
  tests/unit/hooks/enforce-config-extensions.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(husky): make pre-push bun audit gate filter exclusions reliably
  .claude-pr/.husky/pre-push
  .husky/pre-push
  typescript/copy-contents/.husky/pre-push
Due: none

test: guard bootstrapper second apply convergence
  tests/integration/lisa.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(package-lisa): rename knip script to knip:check and add remove section
  .github/workflows/quality.yml
  .husky/pre-push
  harper-fabric/package-lisa/package.lisa.json
  package.json
  phaser/package-lisa/package.lisa.json
  src/strategies/package-lisa-types.ts
  src/strategies/package-lisa.ts
  tests/unit/strategies/package-lisa.test.ts
  typescript/copy-contents/.husky/pre-push
  typescript/package-lisa/package.lisa.json
  wiki/documentation/specs/package-lisa-json.md
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix: guard bootstrapper in build contexts
  src/cli/apply.ts
  src/core/bootstrap-environment.ts
  src/core/index.ts
  tests/unit/cli/apply.test.ts
  tests/unit/core/bootstrap-environment.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(hooks): tokenize no-verify guard input
  plugins/lisa-agy/hooks/block-no-verify.agy.sh
  plugins/lisa-copilot/hooks/block-no-verify.sh
  plugins/lisa-cursor/hooks/block-no-verify.sh
  plugins/lisa/hooks/block-no-verify.agy.sh
  plugins/lisa/hooks/block-no-verify.sh
  plugins/src/base/hooks/block-no-verify.agy.sh
  plugins/src/base/hooks/block-no-verify.sh
  src/codex/scripts/block-no-verify.sh
  tests/unit/agy/block-no-verify-agy.test.ts
  tests/unit/hooks/block-no-verify.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs: clarify sync-down conflict patterns
  plugins/lisa-agy/skills/sync-down/SKILL.md
  plugins/lisa-copilot/skills/sync-down/SKILL.md
  plugins/lisa-cursor/skills/sync-down/SKILL.md
  plugins/lisa/skills/sync-down/SKILL.md
  plugins/src/base/skills/sync-down/SKILL.md
Due: prettier --write

fix(expo): add shell-quote to knip ignoreDependencies template
  expo/copy-overwrite/knip.json
Due: prettier --write

feat(codex): nudge on shell writes
  plugins/lisa-copilot/.claude-plugin/plugin.json
  plugins/lisa-copilot/hooks/shell-write-nudge.sh
  plugins/lisa-cursor/hooks/hooks.json
  plugins/lisa-cursor/hooks/shell-write-nudge.sh
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/.codex-plugin/hooks.json
  plugins/lisa/hooks/shell-write-nudge.sh
  plugins/src/base/.claude-plugin/plugin.json
  plugins/src/base/hooks/shell-write-nudge.sh
  src/codex/hooks-installer.ts
  src/codex/scripts/shell-write-nudge.sh
  tests/unit/codex/codex-edit-hooks.test.ts
  tests/unit/codex/hooks-installer.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(hooks): use oxlint for edit-time lint
  plugins/lisa-typescript-copilot/hooks/lint-on-edit.sh
  plugins/lisa-typescript-cursor/hooks/lint-on-edit.sh
  plugins/lisa-typescript/hooks/lint-on-edit.sh
  plugins/src/typescript/hooks/lint-on-edit.sh
  src/codex/scripts/lint-on-edit.sh
  src/opencode/plugin-templates/lisa-lint-on-edit.ts
  tests/unit/hooks/lint-on-edit.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

Path conditions:
  eslint --quiet --cache --fix --config eslint.config.ts: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
