Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(ci): run lint via package script, preserving per-project semantics
  .github/workflows/quality.yml
Due: prettier --write

feat(lint): add oxlint to the pipeline in hybrid mode (#437)
  .github/workflows/quality.yml
  .oxlintrc.json
  bun.lock
  cdk/copy-overwrite/.oxlintrc.json
  expo/copy-overwrite/.oxlintrc.json
  nestjs/copy-overwrite/.oxlintrc.json
  oxlint/base.json
  oxlint/cdk.json
  oxlint/expo.json
  oxlint/nestjs.json
  oxlint/typescript.json
  package.json
  package.lisa.json
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa-typescript/hooks/lint-on-edit.sh
  plugins/lisa/.claude-plugin/plugin.json
  plugins/src/typescript/hooks/lint-on-edit.sh
  src/configs/eslint/base.ts
  src/configs/eslint/expo.ts
  tests/unit/config/oxlint-expo.test.ts
  tests/unit/config/oxlint-typescript.test.ts
  typescript/copy-overwrite/.lintstagedrc.json
  typescript/copy-overwrite/.oxlintrc.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(governance): propagate oxlint deps + restore baseUrl in stack templates
  cdk/copy-overwrite/tsconfig.json
  cdk/package-lisa/package.lisa.json
  expo/copy-overwrite/tsconfig.json
  expo/package-lisa/package.lisa.json
  nestjs/copy-overwrite/tsconfig.json
  nestjs/package-lisa/package.lisa.json
  typescript/copy-overwrite/tsconfig.json
  typescript/package-lisa/package.lisa.json
Due: prettier --write

fix(governance): propagate oxlint deps + restore baseUrl in stack templates (#439)
  cdk/copy-overwrite/tsconfig.json
  cdk/package-lisa/package.lisa.json
  expo/copy-overwrite/tsconfig.json
  expo/package-lisa/package.lisa.json
  nestjs/copy-overwrite/tsconfig.json
  nestjs/package-lisa/package.lisa.json
  typescript/copy-overwrite/tsconfig.json
  typescript/package-lisa/package.lisa.json
Due: prettier --write

fix(oxlint): loosen default rules to let ESLint own threshold-based limits
  oxlint/base.json
  oxlint/expo.json
Due: prettier --write

fix(oxlint): loosen default rules to let ESLint own threshold-based limits (#440)
  oxlint/base.json
  oxlint/expo.json
Due: prettier --write

fix(oxlint): warn-by-default + inline ignorePatterns in copy-overwrite
  cdk/copy-overwrite/.oxlintrc.json
  expo/copy-overwrite/.oxlintrc.json
  nestjs/copy-overwrite/.oxlintrc.json
  oxlint/base.json
  typescript/copy-overwrite/.oxlintrc.json
Due: prettier --write

fix(oxlint): warn-by-default + inline ignorePatterns in copy-overwrite (#441)
  cdk/copy-overwrite/.oxlintrc.json
  expo/copy-overwrite/.oxlintrc.json
  nestjs/copy-overwrite/.oxlintrc.json
  oxlint/base.json
  typescript/copy-overwrite/.oxlintrc.json
Due: prettier --write

fix(oxlint): drop expo categories override that re-escalated correctness to error
  oxlint/expo.json
Due: prettier --write

fix(oxlint): drop expo categories override that re-escalated correctness to error (#442)
  oxlint/expo.json
Due: prettier --write

feat(verification): codify empirical verification as regression tests
  plugins/lisa/agents/verification-specialist.md
  plugins/lisa/commands/codify-verification.md
  plugins/lisa/rules/intent-routing.md
  plugins/lisa/rules/verification.md
  plugins/lisa/skills/codify-verification/SKILL.md
  plugins/lisa/skills/verification-lifecycle/SKILL.md
  plugins/lisa/skills/verify/SKILL.md
  plugins/src/base/agents/verification-specialist.md
  plugins/src/base/commands/codify-verification.md
  plugins/src/base/rules/intent-routing.md
  plugins/src/base/rules/verification.md
  plugins/src/base/skills/codify-verification/SKILL.md
  plugins/src/base/skills/verification-lifecycle/SKILL.md
  plugins/src/base/skills/verify/SKILL.md
Due: prettier --write

feat(hooks): block bash commands containing --no-verify
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/hooks/block-no-verify.sh
  plugins/src/base/.claude-plugin/plugin.json
  plugins/src/base/hooks/block-no-verify.sh
Due: prettier --write

chore(plugins): rebuild stack plugins to v2.6.4 and enable hookify
  .claude/settings.json
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
Due: prettier --write

feat: codify empirical verification as regression tests + block --no-verify (#443)
  .claude/settings.json
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  plugins/lisa/agents/verification-specialist.md
  plugins/lisa/commands/codify-verification.md
  plugins/lisa/hooks/block-no-verify.sh
  plugins/lisa/rules/intent-routing.md
  plugins/lisa/rules/verification.md
  plugins/lisa/skills/codify-verification/SKILL.md
  plugins/lisa/skills/verification-lifecycle/SKILL.md
  plugins/lisa/skills/verify/SKILL.md
  plugins/src/base/.claude-plugin/plugin.json
  plugins/src/base/agents/verification-specialist.md
  plugins/src/base/commands/codify-verification.md
  plugins/src/base/hooks/block-no-verify.sh
  plugins/src/base/rules/intent-routing.md
  plugins/src/base/rules/verification.md
  plugins/src/base/skills/codify-verification/SKILL.md
  plugins/src/base/skills/verification-lifecycle/SKILL.md
  plugins/src/base/skills/verify/SKILL.md
  tests/unit/hooks/block-no-verify.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(postinstall): sync lockfile after manual invocations and preserve oxlint overrides
  cdk/merge/.oxlintrc.json
  expo/merge/.oxlintrc.json
  nestjs/merge/.oxlintrc.json
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  src/core/lisa.ts
  src/utils/postinstall-trampoline.ts
  tests/unit/utils/postinstall-trampoline.test.ts
  typescript/merge/.oxlintrc.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(postinstall): sync lockfile after manual invocations and preserve oxlint overrides (#445)
  cdk/merge/.oxlintrc.json
  expo/merge/.oxlintrc.json
  nestjs/merge/.oxlintrc.json
  plugins/lisa-cdk/.claude-plugin/plugin.json
  plugins/lisa-expo/.claude-plugin/plugin.json
  plugins/lisa-nestjs/.claude-plugin/plugin.json
  plugins/lisa-rails/.claude-plugin/plugin.json
  plugins/lisa-typescript/.claude-plugin/plugin.json
  plugins/lisa/.claude-plugin/plugin.json
  src/core/lisa.ts
  src/utils/postinstall-trampoline.ts
  tests/unit/utils/postinstall-trampoline.test.ts
  typescript/merge/.oxlintrc.json
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(postinstall): heal stale local lisa marketplace registrations
  scripts/install-claude-plugins.sh
Due: none

fix(postinstall): heal stale local lisa marketplace registrations (#446)
  scripts/install-claude-plugins.sh
Due: none

fix(marketplace): switch plugin sources to git-subdir + heal local classification
  .claude-plugin/marketplace.json
  scripts/install-claude-plugins.sh
Due: prettier --write

fix(install-claude-plugins): batch uninstall+install in heal-v2
  scripts/install-claude-plugins.sh
Due: none

fix(marketplace): switch plugin sources to git-subdir + heal local classification (#447)
  .claude-plugin/marketplace.json
  scripts/install-claude-plugins.sh
Due: prettier --write

fix(strategies): child stack create-only overrides parent for same path
  src/core/lisa.ts
  tests/integration/lisa.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(release): include rebuilt plugin manifests in release commit
  .versionrc
Due: none

fix(release): include rebuilt plugin manifests in release commit (#449)
  .versionrc
Due: none

fix(release): stage rebuilt plugin manifests in postbump
  .versionrc
Due: none

fix(release): stage rebuilt plugin manifests in postbump (#450)
  .versionrc
Due: none

Path conditions:
  eslint --quiet --cache --fix --config eslint.config.ts: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
