Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

.lintstagedrc.json:

{
  "*.{js,mjs,ts,tsx}": ["eslint --quiet --cache --fix --config eslint.config.ts"],
  "*.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}": [
    "prettier --write"
  ]
}

feat(guard): tell a GENERATED file the opposite consequence
  all/copy-overwrite/scripts/lisa-hooks/block-managed-file-edits.sh
  plugins/lisa-copilot/hooks/block-managed-file-edits.sh
  plugins/lisa-cursor/hooks/block-managed-file-edits.sh
  plugins/lisa/hooks/block-managed-file-edits.sh
  plugins/src/base/hooks/block-managed-file-edits.sh
  src/core/lisa-owned-hash-ledger.ts
  src/core/upstream-evidence-manifest.ts
  src/migrations/ensure-oxlint-base-configs.ts
  src/migrations/generated-paths.ts
  tests/unit/hooks/block-managed-file-edits.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(automations): detect a cycle that recorded nothing
  plugins/lisa-agy/scripts/automation-status-claude-adapter.mjs
  plugins/lisa-agy/scripts/automation-status-codex-adapter.mjs
  plugins/lisa-agy/scripts/automation-status-unrecorded-runs.mjs
  plugins/lisa-copilot/scripts/automation-status-claude-adapter.mjs
  plugins/lisa-copilot/scripts/automation-status-codex-adapter.mjs
  plugins/lisa-copilot/scripts/automation-status-unrecorded-runs.mjs
  plugins/lisa-cursor/scripts/automation-status-claude-adapter.mjs
  plugins/lisa-cursor/scripts/automation-status-codex-adapter.mjs
  plugins/lisa-cursor/scripts/automation-status-unrecorded-runs.mjs
  plugins/lisa/scripts/automation-status-claude-adapter.mjs
  plugins/lisa/scripts/automation-status-codex-adapter.mjs
  plugins/lisa/scripts/automation-status-unrecorded-runs.mjs
  plugins/src/base/scripts/automation-status-claude-adapter.mjs
  plugins/src/base/scripts/automation-status-codex-adapter.mjs
  plugins/src/base/scripts/automation-status-unrecorded-runs.mjs
  src/core/upstream-evidence-manifest.ts
  tests/unit/strategies/automation-status-unrecorded-runs.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(hooks): answer the quote exemption per occurrence, not per value
  plugins/lisa-agy/hooks/block-direct-issue-create.sh
  plugins/lisa-copilot/hooks/block-direct-issue-create.sh
  plugins/lisa-cursor/hooks/block-direct-issue-create.sh
  plugins/lisa/hooks/block-direct-issue-create.sh
  plugins/src/base/hooks/block-direct-issue-create.sh
  src/core/lisa-owned-hash-ledger.ts
  src/core/upstream-evidence-manifest.ts
  tests/unit/hooks/block-direct-issue-create-declarations.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(hooks): carry the quote-mask fix into the copied hook
  all/copy-overwrite/scripts/lisa-hooks/block-direct-issue-create.sh
Due: none

fix(secrets): resolve the project config from outside cwd
  plugins/lisa-agy/skills/lisa-secrets-access/scripts/preflight-secrets.mjs
  plugins/lisa-agy/skills/lisa-secrets-access/scripts/surfaces.mjs
  plugins/lisa-copilot/skills/lisa-secrets-access/scripts/preflight-secrets.mjs
  plugins/lisa-copilot/skills/lisa-secrets-access/scripts/surfaces.mjs
  plugins/lisa-cursor/skills/lisa-secrets-access/scripts/preflight-secrets.mjs
  plugins/lisa-cursor/skills/lisa-secrets-access/scripts/surfaces.mjs
  plugins/lisa/.codex-plugin/skills/lisa-secrets-access/scripts/preflight-secrets.mjs
  plugins/lisa/.codex-plugin/skills/lisa-secrets-access/scripts/surfaces.mjs
  plugins/lisa/skills/lisa-secrets-access/scripts/preflight-secrets.mjs
  plugins/lisa/skills/lisa-secrets-access/scripts/surfaces.mjs
  plugins/src/base/skills/lisa-secrets-access/scripts/preflight-secrets.mjs
  plugins/src/base/skills/lisa-secrets-access/scripts/surfaces.mjs
  src/core/upstream-evidence-manifest.ts
  tests/unit/secrets/config-upward-walk.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(doctor): stop certifying a serialize opt-in nothing can make work
  src/cli/doctor-serialize-legs-contract.ts
  src/core/upstream-evidence-manifest.ts
  tests/unit/cli/serialize-legs-callee-grant.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs(environment): rule the two verbs independently optional
  docs/design/environment-facade-contract.md
Due: prettier --write

chore(privacy): redact client AWS account ids and a product name
  CHANGELOG.md
  plans/completed/apply-tsconfig-fix-acme-product-b/apply-tsconfig-fix-acme-product-b.md
  plans/completed/apply-tsconfig-fix-acme-product-b/tasks/2de6519d-e459-4fcf-9823-072de5b021ca/.highwatermark
  plans/completed/apply-tsconfig-fix-acme-product-b/tasks/2de6519d-e459-4fcf-9823-072de5b021ca/.lock
  plans/completed/apply-tsconfig-fix-acme-product-b/tasks/2de6519d-e459-4fcf-9823-072de5b021ca/22.json
  plans/completed/apply-tsconfig-fix-acme-product-b/tasks/2de6519d-e459-4fcf-9823-072de5b021ca/23.json
  plans/completed/apply-tsconfig-fix-acme-product-b/tasks/2de6519d-e459-4fcf-9823-072de5b021ca/24.json
  plans/completed/apply-tsconfig-fix-acme-product-b/tasks/2de6519d-e459-4fcf-9823-072de5b021ca/25.json
  plans/completed/apply-tsconfig-fix-acme-product-b/tasks/2de6519d-e459-4fcf-9823-072de5b021ca/26.json
  plans/completed/apply-tsconfig-fix-ask-gemini/apply-tsconfig-fix-ask-gemini.md
  plans/completed/apply-tsconfig-fix-ask-gemini/tasks/2de6519d-e459-4fcf-9823-072de5b021ca/22.json
  plans/completed/tsconfig-local-override/tasks/98527791-9034-4deb-94d8-c2a7c9bb2b76/1.json
  plans/completed/tsconfig-local-override/tasks/98527791-9034-4deb-94d8-c2a7c9bb2b76/3.json
  plans/completed/tsconfig-local-override/tsconfig-local-override.md
  plans/improvement-notes-implementation.md
  plans/joyful-sleeping-pelican.md
  src/core/upstream-evidence-manifest.ts
  tests/unit/cli/doctor-apply-freshness.test.ts
  tests/unit/secrets/aws-profile-collisions.test.ts
  tests/unit/secrets/aws-profiles-install.test.ts
  tests/unit/secrets/aws-profiles.test.ts
  tests/unit/secrets/local-aws-profiles.test.ts
  tests/unit/strategies/qa-acceptance-skills.test.ts
  wiki/sources/github/2026-05-14-git-and-pr-history.md
  wiki/sources/memory/2026-05-27-memory.md
  wiki/sources/memory/2026-05-28-memory.md
  wiki/sources/repository/2026-05-14-monorepo-baseline.md
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

chore(privacy): redact the client's human-readable org name
  PLAN.md
  plugins/lisa-agy/skills/lisa-setup-notion/SKILL.md
  plugins/lisa-copilot/skills/lisa-setup-notion/SKILL.md
  plugins/lisa-cursor/skills/lisa-setup-notion/SKILL.md
  plugins/lisa/.codex-plugin/skills/lisa-setup-notion/SKILL.md
  plugins/lisa/skills/lisa-setup-notion/SKILL.md
  plugins/src/base/skills/lisa-setup-notion/SKILL.md
  src/core/upstream-evidence-manifest.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(privacy): enforce the no-downstream-names rule for every agent
  .agents/rules/never-name-downstream-projects.md
  .claude/rules/PROJECT_RULES.md
  src/core/downstream-references.ts
  src/core/upstream-evidence-manifest.ts
  tests/unit/core/no-downstream-project-names.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(maestro): declare actions: read so leg serialization can work
  .github/workflows/maestro-native-e2e.yml
  src/cli/doctor-serialize-legs-contract.ts
  tests/integration/maestro-leg-order.test.ts
  tests/integration/reusable-workflow-caller-scopes.test.ts
  tests/unit/cli/serialize-legs-callee-grant.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs(environment): a non-zero exit is not a refusal
  docs/design/environment-facade-contract.md
Due: prettier --write

fix(doctor): bind the serialize parts to the job that calls the workflow
  src/cli/doctor-serialize-legs-contract.ts
  tests/unit/cli/serialize-legs-callee-grant.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(e2e-coverage): count what runs, not what exists on disk
  expo/copy-overwrite/scripts/check-e2e-coverage.mjs
  src/core/lisa-owned-hash-ledger.ts
  src/core/upstream-evidence-manifest.ts
  tests/unit/scripts/e2e-coverage-run-awareness.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs(mutation-testing): scope the mutant annotation to mutation runs
  .agents/skills/mutation-testing/SKILL.md
  .claude/skills/mutation-testing/SKILL.md
Due: prettier --write

fix(e2e-coverage): parse a flow's tags block, not its commands
  expo/copy-overwrite/scripts/check-e2e-coverage.mjs
  src/core/lisa-owned-hash-ledger.ts
  src/core/upstream-evidence-manifest.ts
  tests/unit/scripts/e2e-coverage-run-awareness.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(doctor): declare the traceability gate where no project has
  src/cli/doctor-traceability-gate.ts
  src/cli/doctor.ts
  src/core/upstream-evidence-manifest.ts
  tests/unit/cli/doctor-traceability-gate.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(ci): make the traceability job honor its gate level
  .github/workflows/quality-rails.yml
  .github/workflows/quality.yml
  docs/design/gates-and-policy.md
  src/core/upstream-evidence-manifest.ts
  tests/integration/quality-gate-facade-fixture.ts
  tests/integration/quality-gate-facade.test.ts
  tests/unit/config/work-item-traceability-gate-level.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(work-item): find the trailer wherever it is, and report every unmet requirement
  all/copy-overwrite/scripts/lisa-work-item.mjs
  src/core/lisa-owned-hash-ledger.ts
  src/core/upstream-evidence-manifest.ts
  tests/unit/scripts/lisa-work-item.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

docs(gates): the install does not make a declaration readable
  .github/workflows/quality.yml
  docs/design/gates-and-policy.md
Due: prettier --write
