Repository CodySwannGT/lisa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat(core): add .lisaignore support for skipping files during apply
  README.md
  all/create-only/.lisaignore
  bun.lock
  package.json
  src/core/config.ts
  src/core/lisa.ts
  src/utils/ignore-patterns.ts
  tests/integration/lisa.test.ts
  tests/unit/utils/ignore-patterns.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(ci): remove flawed promotion detection that blocked all PR merges
  .github/workflows/deploy.yml
  .github/workflows/publish-to-npm.yml
  .github/workflows/release.yml
  npm-package/copy-overwrite/.github/workflows/publish-to-npm.yml
  typescript/copy-overwrite/.github/workflows/release.yml
Due: prettier --write

feat(tasks): preserve task history across /clear with session-based storage
  .claude/commands/tasks/load.md
  .claude/commands/tasks/sync.md
  .claude/hooks/sync-tasks.sh
  all/copy-overwrite/.claude/commands/tasks/load.md
  all/copy-overwrite/.claude/commands/tasks/sync.md
  all/copy-overwrite/.claude/hooks/sync-tasks.sh
Due: prettier --write

fix: remove duplicate .gitignore content after guardrails marker
  all/copy-contents/.gitignore
Due: none

feat: make Lisa values take precedence in merge strategy
  src/strategies/merge.ts
  src/utils/json-utils.ts
  tests/unit/strategies/merge.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: include Lisa version in generated manifest
  src/core/manifest.ts
  tests/unit/core/manifest.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: add github-status-check script for PR and Actions monitoring
  package.json
  scripts/github-status-check.sh
Due: prettier --write

feat: auto-load .env.local in github-status-check script
  scripts/github-status-check.sh
Due: none

feat: filter dependabot PRs and add time ago display
  scripts/github-status-check.sh
Due: none

fix: show only PRs created by current user in open PRs section
  scripts/github-status-check.sh
Due: none

fix: filter out dependabot branches from failed actions
  scripts/github-status-check.sh
Due: none

fix: exclude type-specific template directories from eslint slow config type checking
  cdk/copy-overwrite/eslint.slow.config.ts
  eslint.slow.config.ts
  expo/copy-overwrite/eslint.slow.config.ts
  typescript/copy-overwrite/eslint.slow.config.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

feat: filter out failed actions older than a week in github status check
  scripts/github-status-check.sh
Due: none

feat: add /project:document command to update docs after implementation
  .claude/commands/project/document.md
  .claude/commands/project/execute.md
Due: prettier --write

chore: add template files for /project:document command
  all/copy-overwrite/.claude/commands/project/document.md
  all/copy-overwrite/.claude/commands/project/execute.md
Due: prettier --write

refactor: simplify project slash commands by removing redundant sections
  .claude/commands/project/bootstrap.md
  .claude/commands/project/debrief.md
  .claude/commands/project/document.md
  .claude/commands/project/execute.md
  .claude/commands/project/plan.md
  .claude/commands/project/research.md
  .claude/commands/project/review.md
  .claude/commands/project/verify.md
  all/copy-overwrite/.claude/commands/project/bootstrap.md
  all/copy-overwrite/.claude/commands/project/debrief.md
  all/copy-overwrite/.claude/commands/project/document.md
  all/copy-overwrite/.claude/commands/project/execute.md
  all/copy-overwrite/.claude/commands/project/plan.md
  all/copy-overwrite/.claude/commands/project/research.md
  all/copy-overwrite/.claude/commands/project/review.md
  all/copy-overwrite/.claude/commands/project/verify.md
Due: prettier --write

feat: add version check when lisa runs on latest version
  scripts/github-status-check.sh
  src/cli/prompts.ts
  src/core/lisa.ts
  src/core/manifest.ts
  tests/integration/lisa.test.ts
  tests/unit/core/manifest.test.ts
Due: eslint --quiet --cache --fix --config eslint.config.ts, prettier --write

fix(hooks): correct JSON path for TaskCreate task ID extraction
  .claude/hooks/sync-tasks.sh
  all/copy-overwrite/.claude/hooks/sync-tasks.sh
Due: none

feat(github-status-check): add Lisa version checking
  scripts/github-status-check.sh
Due: none

chore: minor
  package.json
  typescript/merge/package.json
Due: prettier --write

Path conditions:
  eslint --quiet --cache --fix --config eslint.config.ts: any of: *.{js,mjs,ts,tsx}
  prettier --write: any of: *.{json,mjs,js,ts,jsx,tsx,html,md,mdx,css,scss,yaml,yml,graphql}
